<template>
  <div class="filterInit">
    <div v-for="(filter, index) in returnedData" :key="index">
      <div class="dropDown" @click="setDropDown()">
        <p class="textWhite poppinsRegularMed mb-0" :class="{ active: active }">
          {{ filter.filterTitle }}
          <span class="poppinsSemiBoldMed textYellow mb-0">
            <span>{{ returnFilterSelected }}</span>
            <i
              class="ml-2 fas fa-angle-down textWhite"
              :class="{
                active: active,
                'fa-rotate-180': active,
              }"
            ></i>
          </span>
        </p>
        <div
          v-if="active"
          :class="{
            hideelement: !active,
          }"
        >
          <ul
            v-for="(deep, index) in filter.Deeps"
            :key="index"
            :class="{ active: active }"
          >
            <li
              class="px-2"
              :class="{ active: deep.displayed === returnFilterSelected }"
              @click="
                setDisplayed(
                  deep.displayed,
                  deep.type,
                  deep.min_val,
                  deep.max_val
                )
              "
            >
              {{ deep.displayed }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dataCore: {
      type: Array,
    },
    filterSelected: {
      type: Array,
    },
    filterNumberSelected: {
      type: Array,
    },
  },
  data() {
    return {
      active: false,
    };
  },
  methods: {
    setDropDown() {
      this.active = !this.active;
    },
    setDisplayed(displayed, type, min, max) {
      if (type === "number" && displayed !== "All") {
        const numbers = [
          {
            min_val: min,
            max_val: max,
          },
        ];
        console.log("number type: ", numbers[0]);
        const displayStatus = [
          {
            displayed: displayed,
            status: true,
          },
        ];
        this.$emit("update:filterSelected", displayStatus);
        this.$emit("update:filterNumberSelected", numbers);
      }
      if (type === "string" && displayed !== "All") {
        const displayStatus = [
          {
            displayed: displayed,
            status: true,
          },
        ];
        this.$emit("update:filterSelected", displayStatus);
      }
      if (displayed === "All") {
        const displayStatus = [
          {
            displayed: displayed,
            status: false,
          },
        ];
        this.$emit("update:filterSelected", displayStatus);
      }
    },
  },
  computed: {
    returnedData() {
      return this.dataCore;
    },
    initialFilterSelected() {
      return this.filterSelected;
    },
    returnFilterSelected() {
      return this.initialFilterSelected[0].displayed;
    },
  },
};
</script>

<style scoped>
.filterInit {
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: 10px;
  position: relative;
}
.hideelement {
  height: 0;
}
.dropDown {
  width: auto;
  cursor: pointer;
}
p {
  border-radius: 10px;
  background: hsla(0, 0%, 32%, 0.394);
  padding: 10px;
}
p.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
ul {
  background: hsla(0, 0%, 32%, 0.945);
}
li {
  color: white;
}
li.active {
  color: #efe600;
}
ul:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
</style>