<template>
  <span
    class="chips capitalize"
    :style="{ color: setColor, borderColor: setColor }"
  >
    <img :src="renderIcon" width="10px" alt="" /> {{ returnType }}
  </span>
</template>

<script>
import business from "../../../assets/img/icons/kol/business.svg";
import fashion from "../../../assets/img/icons/kol/fashion.svg";
import food from "../../../assets/img/icons/kol/food.svg";
import gaming from "../../../assets/img/icons/kol/gaming.svg";
import health from "../../../assets/img/icons/kol/health.svg";
import music from "../../../assets/img/icons/kol/music.svg";
import pet from "../../../assets/img/icons/kol/pet.svg";
import parenting from "../../../assets/img/icons/kol/parenting.svg";
export default {
  props: {
    fieldType: {
      type: String,
    },
  },
  data() {
    return {};
  },
  computed: {
    returnType() {
      return this.fieldType;
    },
    renderIcon() {
      if (this.returnType === "business") {
        return business;
      }
      if (this.returnType === "fashion") {
        return fashion;
      }
      if (this.returnType === "food") {
        return food;
      }
      if (this.returnType === "gaming") {
        return gaming;
      }
      if (this.returnType === "health") {
        return health;
      }
      if (this.returnType === "music") {
        return music;
      }
      if (this.returnType === "pet") {
        return pet;
      }
      if (this.returnType === "parenting") {
        return parenting;
      }
    },
    setColor() {
      if (this.returnType === "business") {
        return "#85C646";
      }
      if (this.returnType === "fashion") {
        return "#EF5261";
      }
      if (this.returnType === "food") {
        return "#FC6243";
      }
      if (this.returnType === "gaming") {
        return "#38454F";
      }
      if (this.returnType === "health") {
        return "#E57E25";
      }
      if (this.returnType === "music") {
        return "#2592E5";
      }
      if (this.returnType === "pet") {
        return "#AE632C";
      }
      if (this.returnType === "parenting") {
        return "#F1239A";
      }
    },
  },
};
</script>

<style scoped>
.chips {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px;
}
</style>