<template>
  <div class="threeDCardContainer">
      <div
        @mouseover="isCupOpened = true"
        @mouseleave="isCupOpened = false"
        style="cursor: pointer"
      >
        <img :src="coffeeU" alt="" v-show="!isCupOpened" />
        <img :src="coffeeO" alt="" v-show="isCupOpened" />
      </div>
   
  </div>
</template>

<script>
// import coffeeImage from "../../../assets/img/samples/coffee.png";
import coffeeUnopened from "../../../assets/img/icons/voice/3Dcomponents/unopenedCup.png";
import coffeeOpened from "../../../assets/img/icons/voice/3Dcomponents/openedCup.png";
export default {
  data() {
    return {
      // Delete Soon
      coffeeU: coffeeUnopened,
      coffeeO: coffeeOpened,
      isCupOpened: false,
      // End of delete soon
    };
  },
};
</script>

<style  scoped>
.threeDCardContainer {
  z-index: 99;
  position: relative;
  cursor: pointer;
}
.threeDCardBox {
  min-width: 300px;
  max-width: 300px;
}
</style>