<template>
  <div class="threeDCardContainer">
    <div
      @mouseenter="isIslandHover = true"
      @mouseleave="isIslandHover = false"
      style="cursor: pointer"
    >
      <img :src="iHovered" v-show="isIslandHover" />
      <img :src="iUnHovered" v-show="!isIslandHover" />
    </div>
  </div>
</template>

<script>
import IslandHovered from "@/assets/img/icons/voice/3Dcomponents/islandseen.png";
import IslandUnhovered from "@/assets/img/icons/voice/3Dcomponents/islandunseen.png";
export default {
  data() {
    return {
      isIslandHover: false,
      iHovered: IslandHovered,
      iUnHovered: IslandUnhovered,
    };
  },
};
</script>

<style scoped>
.threeDCardContainer {
  z-index: 99;
  position: relative;
  cursor: pointer;
}
</style>