<template>
  <div class="threeDCardContainer">
    <div @mouseenter="isCoinOpen = true" @mouseleave="isCoinOpen = false">
      <img :src="coinU" v-show="!isCoinOpen" />
      <img :src="coinO" v-show="isCoinOpen" />
    </div>
  </div>
</template>

<script>
import unopenedCoin from "../../../assets/img/icons/voice/3Dcomponents/coinUnopened.png";
import openedCoin from "../../../assets/img/icons/voice/3Dcomponents/coinOpened.png";
export default {
  data() {
    return {
      // initial coin state
      isCoinOpen: false,
      // coin Image
      coinU: unopenedCoin,
      coinO: openedCoin,
    };
  },
};
</script>

<style scoped>
.threeDCardContainer {
  z-index: 99;
  position: relative;
  cursor: pointer;
}
</style>