<template>
  <div class="backgroundDark container-fluid" style="min-height: 100vh">
    <div class="row">
      <div class="col-lg-6 p-5">
        <div class="row d-flex justify-content-center mt-5">
          <p
            class="poppinsSemiBoldXXLarge textWhite"
            :style="{ fontSize: HeaderFont + 'px' }"
          >
            Turn the lights.
          </p>
        </div>
        <div class="row">
          <div class="col-12 px-5">
            <form>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control p-4 loginCreds"
                  placeholder="Who You?"
                  v-model="email"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control p-4 loginCreds"
                  placeholder="Some Code"
                  v-model="password"
                />
              </div>
            </form>
            <button id="login" class="p-3 poppinsSemiBoldMed" @click="login()">
              Switch On
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img :src="lightState" alt="" width="100%" />
      </div>
    </div>
    <!-- cut out -->
  </div>
</template>

<script>
import fb from "firebase/app";
import 'firebase/auth'
import lightsOff from "../../assets/img/login/LightsOff.png";
import lightsOn from "../../assets/img/login/LightsOn.png";
import lightsFlicker from "../../assets/img/login/LightsFlicker.png";
export default {
  data() {
    return {
      lightState: lightsOff,
      timesRun: 0,
      email: "",
      password: "",
      defaulSettings: [
        {
          HeaderFont: 100,
        },
      ],
      HeaderFont: 100,
    };
  },
  methods: {
    setRoute() {
      this.$store.dispatch("route/setCurrentRoute", this.$route.name);
    },
    setHeaderFontSize() {
      const seventyPerc = 0.7;
      const sixtyPerc = 0.6;
      const fiftyPerc = 0.5;
      const fourtyPerc = 0.4;
      const tenPerc = 0.2;

      if (this.$screen.width < 700) {
        var y = this.defaulSettings[0].HeaderFont * fourtyPerc;
        this.HeaderFont = y;
      }
    },
    login() {
      fb.auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then((user) => {
          if (user) {
            console.log("signed in");
            this.lightState = lightsOn;
            setTimeout(() => {
              this.$router.push("/Home");
              fb.auth().signOut;
            }, 2000);
          } else {
            console.log("cant sign in");
            this.startFlicker;
          }
        })
        .catch((error) => {
          if (error) {
            console.log("the error", error);
            this.startFlicker();
          }
        });
    },
    startFlicker() {
      var lightsOnInter = setInterval(() => {
        console.log("times run on: ", this.timesRun);
        this.timesRun = this.timesRun + 1;
        this.lightState = lightsFlicker;
        if (this.timesRun > 4) {
          clearInterval(lightsOnInter);
          this.lightState = lightsOff;
          this.timesRun = 0;
        }
      }, 100);
      var lightsOffInter = setInterval(() => {
        console.log("times run off: ", this.timesRun);
        this.lightState = lightsOff;
        this.timesRun = this.timesRun + 1;
        if (this.timesRun > 4) {
          clearInterval(lightsOffInter);
          this.lightState = lightsOff;
          this.timesRun = 0;
        }
      }, 200);
    },
  },
  mounted() {
    this.setRoute();
    this.setHeaderFontSize();
  },
};
</script>
<style scoped>
.sideImage {
  height: 100vh;
}
.loginCreds {
  background: transparent;
}
#login {
  background-color: white;
  border-radius: 5px;
  border: none;
  display: block;
  width: 100%;
  font-size: 20px;
}
</style>