<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.svg">
    <link rel="stylesheet" href="//bootstrap-extension.com/css/4.6.1/bootstrap-extension.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!-- GA  -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-194347984-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-194347984-2');
    </script>
</head>

<body>
    <noscript>
    <strong>
      Indonesia's best talent management platform. Start building your business with talents.
    </strong>
  </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>