<template>
  <div>
    <div class="col-12 d-flex justify-content-center fixed-bottom bottomNavBar">
      <div
        class="textWhite col-3 d-flex align-self-center justify-content-center"
        v-for="(icon, index) in thePath"
        :key="index"
      >
        <div class="row">
          <transition name="push-x">
            <img
              :src="icon.imageActive"
              class="icons d-flex align-items-center"
              alt=""
              v-if="returnRouteName === icon.routeName"
              @click="goToLink(icon.path)"
            />
            <img
              :src="icon.image"
              class="icons d-flex align-items-center"
              alt=""
              v-else
              @click="goToLink(icon.path)"
            />
          </transition>
          <transition name="push-x">
            <span
              class="ml-2 textYellow poppinsSemiBoldMed d-flex align-items-center"
              v-if="returnRouteName === icon.routeName"
            >
              {{ icon.displayedRouteName }}
            </span>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// wave Surfer

// Main Button Icons
import mainIcon from "../../assets/img/icons/bottomnav/main.svg";
import kolIcon from "../../assets/img/icons/bottomnav/kol.svg";
import modelIcon from "../../assets/img/icons/bottomnav/model.svg";
import voIcon from "../../assets/img/icons/bottomnav/vo.svg";
import mainIconActive from "../../assets/img/icons/bottomnav/mainActive.svg";
import kolIconActive from "../../assets/img/icons/bottomnav/kolActive.svg";
import modelIconActive from "../../assets/img/icons/bottomnav/modelActive.svg";
import voIconActive from "../../assets/img/icons/bottomnav/voActive.svg";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      thePath: [
        {
          routeName: "home",
          displayedRouteName: "Home",
          path: "/",
          image: mainIcon,
          imageActive: mainIconActive,
        },
        {
          routeName: "voice",
          displayedRouteName: "V.O.",
          path: "/VoiceOver/gU1neVr3pR@m9cH13",
          image: voIcon,
          imageActive: voIconActive,
        },
        {
          routeName: "model",
          displayedRouteName: "Models",
          path: "/Model/r05j4nxIxt1nwNtyF1ftN",
          image: modelIcon,
          imageActive: modelIconActive,
        },
        {
          routeName: "kol",
          displayedRouteName: "K.O.L",
          path: "/KeyOpinionLeader/GV3n812eV63N14p473nKv4n",
          image: kolIcon,
          imageActive: kolIconActive,
        },
      ],
    };
  },
  methods: {
    goToLink(val) {
      this.$router.push(val);
    },
  },
  computed: {
    ...mapGetters([
      "route/currentRoute",
      "sound/currentSound",
      "sound/currentLoadedState",
      "sound/currentPauseState",
      "sound/flushSounds",
    ]),
    fetchcurrentRouteName() {
      return this["route/currentRoute"];
    },

    homeRoute() {
      if (this.fetchcurrentRouteName === this.returnRouteName) {
        return true;
      } else {
        return false;
      }
    },
    returnRouteName() {
      return this.$route.name;
    },
    returnScreenSize() {
      return this.$screen.width;
    },
  },

  mounted() {},
  watch: {
    // returnRouteName: function (val) {
    //   if (val !== "voice" && this.wavesurfer !== null) {
    //     // this.initiateCreateWaveSurfer();
    //   }
    // },
  },
};
</script>
<style scoped>
.bottomNavBar {
  background: rgba(12, 12, 12, 0.973);
  z-index: 9999;
  height: 50px;
  border-top-left-radius: 20px;
}

.icons {
  height: 30px;
  cursor: pointer;
}

.circular--portrait {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 30px;
  height: auto;
}
.active {
  color: #efe300;
}
/* Transition PUSH X */
.push-x-enter-active {
  transition: ease-in 0.2s;
}
.push-x-leave-active {
  transition: ease-out 0.2s;
}

.push-x-enter {
  transform: translateX(-5px);
  opacity: 1;
}
.push-x-leave-to {
  transform: translateX(-5px);
  opacity: 0;
}
</style>