<template>
  <div></div>
</template>

<script>
export default {
  props: {
    sendWA: {
      type: Boolean,
    },
    name: {
      type: String,
    },
    messageType: {
      type: String,
    },
  },
  data() {
    return {
      walink: "https://wa.me/6282113120092/?text=",
      waMessage: "Hey talenthanks, I'd like to ask about ",
      waMessageCareer: "Hey talenthanks, I'd like to ask about being a",
    };
  },
  methods: {
    getNameToWA() {
      if (this.returnSendWa) {
        this.$emit("update:sendWA", false);
        var x = this.waMessage.split(" ").join("%20");
        this.finalUrlOutput =
          this.walink + x + "%20" + "*" + this.returnSubjectName + "*";
        window.open(this.finalUrlOutput, "_blank");
        console.log(this.finalUrlOutput);
      } else {
        console.log("get naem to wa nulled", this.returnSubjectName);
      }
    },
    getNameToWACareer() {
      if (this.returnSendWa) {
        this.$emit("update:sendWA", false);
        var x = this.waMessageCareer.split(" ").join("%20");
        this.finalUrlOutput =
          this.walink + x + "%20" + "*" + this.returnSubjectName + "*";
        window.open(this.finalUrlOutput, "_blank");
        console.log(this.finalUrlOutput);
      } else {
        console.log("get naem to wa nulled", this.returnSubjectName);
      }
    },
  },
  computed: {
    returnSendWa() {
      return this.sendWA;
    },
    returnSubjectName() {
      return this.name;
    },
    returnMessageType() {
      return this.messageType;
    },
  },
  watch: {
    returnSendWa: function (val) {
      if (this.returnMessageType === "Book") {
        this.getNameToWA();
        console.log("get naem", val);
      }
      if (this.returnMessageType === "Career") {
        this.getNameToWACareer();
      }
    },
  },
  mounted() {
    this.getNameToWA();
  },
};
</script>

<style scoped>
</style>