<template>
  <div class="dropDown" :class="{ active: active }">
    <p
      class="poppinsSemiBoldMed textYellow mb-0"
      :class="{ active: active }"
      @click="setDropDown()"
    >
      {{ this.activeComp }}
      <i
        class="fas fa-angle-down textWhite"
        :class="{ active: active, 'fa-rotate-180': active }"
      ></i>
    </p>
    <transition name="slide-fade">
      <div v-if="active">
        <ul
          class="poppinsSemiBoldMed"
          v-for="(moods, index) in moodData"
          :key="index"
        >
          <!-- <li class="active">Enthusiastic</li> -->
          <li
            :class="{ active: moods.moodname === activeComp }"
            @click="setComp(moods.moodname)"
          >
            {{ moods.moodname }}
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
import db from "../firebase/firabaseInit";
export default {
  data() {
    return {
      active: false,
      moodData: [],
      activeComp: "Enthusiastic",
    };
  },
  methods: {
    setDropDown() {
      this.active = !this.active;
    },
    setComp(name) {
      this.active = false;
      this.activeComp = name;
    },
    getMoodData() {
      db.collection("settings")
        .doc("mood")
        .collection("moodsettings")
        .orderBy("placement", "asc")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const data = {
              moodname: doc.data().moodname,
              activeState: doc.data().active,
            };
            this.moodData.push(data);
            if (data.activeState) {
              this.activeComp = data.moodname;
            }
          });
        });
    },
  },
  mounted() {
    this.getMoodData();
  },
};
</script>

<style scoped>
/* Div */
.dropDown {
  width: 120px;
  border-radius: 10px;
  background: rgba(81, 81, 81, 0.394);
  position: absolute;
  z-index: 9999;
  cursor: pointer;
}
.dropDown.active {
  border-radius: 10px;
}
/* paragraph */
p {
  padding: 10px;
}
p.active {
  color: white;
}
/* caret */
i.active {
  color: white;
}
/* List */
li.active {
  color: #efe300;
}
li {
  color: white;
  padding: 5px;
}
li:hover {
  color: #efe300;
}
/* Trainsition */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}
</style>