<template>
  <div class="video-container">
    <video :src="returnVideo" autoplay muted loop></video>
  </div>
</template>

<script>
export default {
    props:{
        video:{
            type: String
        }
    },
    computed:{
        returnVideo(){
            return this.video
        }
    }
};
</script>

<style scoped>
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>