<template>
  <div>
    <!-- ALL -->
    <div v-if="takenData === 'All'">
      <span><img :src="GAA" alt="" class="px-2" height="25px" @click="setState('All')"/></span>
      <span><img :src="GFI" alt="" class="px-2" height="25px" @click="setState('Female')" /></span>
      <span><img :src="GMI" alt="" class="px-2" height="25px" @click="setState('Male')"/></span>
    </div>
    <!-- Male -->
    <div v-if="takenData === 'Male'">
      <span><img :src="GAI" alt="" class="px-2" height="25px" @click="setState('All')"/></span>
      <span><img :src="GFI" alt="" class="px-2" height="25px" @click="setState('Female')"/></span>
      <span><img :src="GMA" alt="" class="px-2" height="25px" @click="setState('Male')"/></span>
    </div>
    <!-- Female -->
    <div v-if="takenData === 'Female'">
      <span><img :src="GAI" alt="" class="px-2" height="25px" @click="setState('All')"/></span>
      <span><img :src="GFA" alt="" class="px-2" height="25px" @click="setState('Female')"/></span>
      <span><img :src="GMI" alt="" class="px-2" height="25px" @click="setState('Male')"/></span>
    </div>
  </div>
</template>

<script>
import GAll from "../../assets/img/gender/GAll.svg";
import GFemale from "../../assets/img/gender/GFemale.svg";
import GMale from "../../assets/img/gender/GMale.svg";
import GAllActive from "../../assets/img/gender/GAllActive.svg";
import GFemaleActive from "../../assets/img/gender/GFemaleActive.svg";
import GMaleActive from "../../assets/img/gender/GMaleActive.svg";
export default {
  props: {
    takenType: {
      type: String,
    },
    clicked:{
      type: Boolean
    }
  },
  data() {
    return {
      // Taken Data
      GAA: GAllActive,
      GFA: GFemaleActive,
      GMA: GMaleActive,
      GAI: GAll,
      GFI: GFemale,
      GMI: GMale,
    };
  },
  methods: {
    getData() {
      console.log("taken data:", this.takenData);
      console.log("taken state:", this.state);
    },
    setState(state){
      console.log("state: ", state);
      this.$emit('update:takenType', state);
      this.$emit('update:clicked', true);
    }
  },
  computed: {
    takenData() {
      return this.takenType;
    },
  },
  mounted() {
    this.getData();
  },
};
</script>
<style scoped>
img{
  cursor: pointer;
}
</style>