<template>
  <div class="py-5" v-dragscroll.pass>
    <div class="d-flex justify-content-center">
      <img
        :src="pCase"
        alt=""
        ref="phoneCase"
        class="phoneCase"
        :style="{ height: screenHeight + 'px' }"
      />
    </div>
    <div
      class="example-3d"
      ref="mySwiperParent"
      v-swiper:mySwiper="swiperOptions"
    >
      <div class="swiper-wrapper" ref="mySwiperChild">
        <div
          v-for="(coredata, index) in returnCoreData"
          :key="index"
          class="swiper-slide"
          style="margin-left: 5px"
          :style="{
            height: screenHeight - 80 + 'px',
            width: screenHeight - 80 - (screenHeight - 80) * 0.5 + 'px',
          }"
        >
          <div
            v-dragscroll.y="true"
            class="storyBoard"
            :style="{
              maxHeight: screenHeight - 80 + 'px',
              maxWidth: screenHeight - 80 - (screenHeight - 80) * 0.5 + 'px',
            }"
          >
            <div class="col-12">
              <div class="row topHeader p-1" @click="goToProfile(coredata.id)">
                <div class="col-3 mr-1" align="center">
                  <div class="circular--portrait" style="cursor: pointer">
                    <img :src="coredata.image" />
                  </div>
                </div>
                <div class="col-1 SubHeader p-2" align="start">
                  <p class="align-items-center">{{ coredata.name }}</p>
                </div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <video
                autoplay
                loop
                muted
                controls
                :src="coredata.video"
                :style="{
                  maxWidth:
                    screenHeight - 80 - (screenHeight - 80) * 0.5 + 'px',
                  maxHeight: screenHeight + 'px',
                }"
              />
            </div>
            <!-- Socials -->
            <div class="mb-5" v-if="returnDataType === 'Multiple'">
              <!-- Instagram Basic Info-->
              <div class="row" v-dragscroll.y="true">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <span
                        class="textWhite poppinsRegularLarge flex justify_center"
                        >IG Followers</span
                      >
                    </div>
                    <div class="col-12">
                      <span class="textWhite flex justify_center">{{
                        coredata.ig_followers
                      }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <span
                        class="textWhite poppinsRegularLarge flex justify_center"
                        >Tiktok Followers</span
                      >
                    </div>
                    <div class="col-12">
                      <span class="textWhite flex justify_center">{{
                        coredata.tt_followers
                      }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Gender Demographics -->
              <div class="row px-2 mt-3">
                <div class="col-12 d-flex justify-content-center">
                  <span class="bebasBoldLarge textWhite">
                    Gender Demographics
                  </span>
                </div>
                <div
                  class="col-12"
                  v-for="(gender, index) in coredata.gendemographics"
                  :key="index + Math.random()"
                >
                  <div class="col-12">
                    <div class="progress" style="height: 15px">
                      <!-- CHANGE -->
                      <div
                        class="progress-bar progress-bar-striped"
                        :class="{
                          backgroundYellow: gender.gender === 'Female',
                        }"
                        role="progressbar"
                        :style="{ width: stringToNumber(gender.val) + '%' }"
                        :aria-valuenow="stringToNumber(gender.val)"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="row px-0 mx-0 container-fluid textWhite">
                    <div class="col-12 flex justify_start poppinsRegularMed">
                      {{ gender.gender }}:
                      <span class="ml-1 poppinsLightItalicMed"
                        >{{ gender.val }}%</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Gender -->
              <!-- City demographics -->
              <div class="row px-2 mt-3">
                <div class="col-12 d-flex justify-content-center">
                  <span class="bebasBoldLarge textWhite">
                    City Demographics
                  </span>
                </div>
                <div
                  class="col-12"
                  v-for="(city, index) in coredata.cities"
                  :key="index + Math.random()"
                >
                  <div class="col-12">
                    <div class="progress" style="height: 5px">
                      <!-- CHANGE -->
                      <div
                        class="progress-bar progress-bar-striped backgroundYellow"
                        role="progressbar"
                        :style="{ width: stringToNumber(city.val) + '%' }"
                        :aria-valuenow="stringToNumber(city.val)"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="row px-0 mx-0 container-fluid textWhite">
                    <div
                      class="col-12 flex justify_start poppinsRegularMed capitalize mb-2"
                    >
                      {{ city.city }}:
                      <span class="ml-1 poppinsLightItalicMed"
                        >{{ city.val }}%</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row px-5">
                <button
                  class="blackButton textWhite poppinsBoldLarge capitalize"
                  style="width: 100%"
                  @click="goToProfile(coredata.id)"
                >
                  Visit {{ coredata.name }}
                </button>
              </div>
              <!-- End of city Demographics -->
            </div>
            <div class="mb-5" v-if="returnDataType === 'Single'">
              <div
                class="row py-2 px-3 px-0 textWhite poppinsRegularMed"
                v-if="coredata.platform === 'Instagram'"
              >
                <div class="col-lg-6 col-sm-12 flex justify_start">
                  <img :src="viewsIC" class="mr-1" width="20px" />
                  {{ coredata.views }}
                  <span class="poppinsLightItalicMed ml-1">views</span>
                </div>
                <div class="col-lg-6 col-sm-12 flex justify_start">
                  <img :src="instaIC" class="mr-1" width="15px" />
                  {{ coredata.platform }}
                </div>
              </div>
              <div
                class="row py-2 px-3 px-0 textWhite poppinsRegularMed"
                v-if="coredata.platform === 'TikTok'"
              >
                <div class="col-lg-4 col-sm-6 flex justify_start">
                  <img :src="likesIC" class="mr-1" width="20px" />
                  {{ coredata.views }}
                  <span class="poppinsLightItalicMed ml-1">likes</span>
                </div>
                <div class="col-lg-4 col-sm-6 flex justify_start">
                  <img :src="shareIC" class="mr-1" width="20px" />
                  {{ coredata.shares }}
                  <span class="poppinsLightItalicMed ml-1">shares</span>
                </div>
                <div class="col-lg-4 col-sm-4 flex justify_start">
                  <img :src="tiktokIC" class="mr-1" width="15px" />
                  {{ coredata.platform }}
                </div>
              </div>
              <div class="row px-4 mb-3">
                <l-icons-kol :fieldType.sync="coredata.field" />
              </div>
              <div class="row px-1">
                <div class="col-12 poppinsLightItalicMed textWhite">
                  {{ coredata.desc }}
                </div>
              </div>
            </div>
            <!-- End of Socials -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="swiper-pagination"></div>
    </div>
  </div>
</template>

<script>
import phoneCase from "../../assets/img/landings/phone.svg";
import storySampleLisa from "../../assets/img/samples/storySample.mp4";
import storySampleHalehan from "../../assets/img/samples/storySampleHalehan.mp4";
import storySampleJanice from "../../assets/img/samples/janicemini.mp4";
import lisa from "../../assets/img/samples/lisa.jpg";
import halehan from "../../assets/img/samples/halehan.jpg";
import janice from "../../assets/img/samples/janice.jpg";

// icons
import instagram from "../../assets/img/icons/social/instagram.svg";
import tiktok from "../../assets/img/icons/social/tiktok.svg";
import viewsIcon from "../../assets/img/icons/social/eye.svg";
import sharesIcon from "../../assets/img/icons/social/share.svg";
import heartIcon from "../../assets/img/icons/social/heart.svg";
import LIconsKol from "../libraries/KOLFiIters/LIconsKol.vue";

export default {
  components: {
    LIconsKol,
  },
  props: {
    dataType: {
      type: String,
    },
    coreData: {
      type: Array,
    },
  },
  data() {
    return {
      pCase: phoneCase,
      userSwiped: false,
      screenHeight: this.$screen.height,
      tiktokIC: tiktok,
      instaIC: instagram,
      viewsIC: viewsIcon,
      shareIC: sharesIcon,
      likesIC: heartIcon,
      slides: 7,
      swiperOptions: {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        spaceBetween: 40,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        // Some Swiper option/callback...
      },
      returnCoreData: [],
      audienceGendemographics: [],
      audienceCityDemographics: [],
      gender: [
        { someData: "name", hello: "HI" },
        { someData: "name", hello: "HI" },
      ],
      shouldReRun: true,
    };
  },
  methods: {
    goToProfile(val) {
      if (this.returnDataType === "Multiple") {
        this.$router.push({
          name: "kol",
          params: { Kid: val },
        });
      }
    },
    copyCoreData() {
      this.returnCoreData = this.getCoreData;
      console.log("returning core data: ", this.returnCoreData);
      this.regenerateGenDemoGraphics();
      this.pushCityDemoGraphics();
    },
    getPhoneDimensions() {
      // 96914 elmos
      setTimeout(() => {
        console.log("current Data: ", this.Slides);
        console.log("dimensions: image height: ", this.phoneImageH);
        console.log("dimensions: image width: ", this.phoneImageW);
        console.log("dimensions: device height: ", this.$screen.height);
        console.log("dimensions: device width: ", this.$screen.width);

        console.log("image percentage: ", this.phoneImageW / this.phoneImageH);
        console.log("stored MotoG4 percentage: 0.503125");

        let yinit = this.screenHeight;
        let xpercinit = this.screenHeight * 0.5;
        let xinit = yinit - xpercinit;
        console.log("dimensions: calc real width", xinit);

        let y = this.screenHeight - 80;
        let xperc = (this.screenHeight - 80) * 0.5;
        let x = y - xperc;
        console.log("dimensions: calc result width", x);
        let rendererd = this.screenHeight - 80 - (this.screenHeight - 80) * 0.5;
        console.log("dimensions: rendered result width: ", rendererd);
      }, 2000);
      this.pushGenDemoGraphics();
    },
    getIndexSlide() {
      const x = this.mySwiper.activeIndex;
      console.log("slidechanged into", x);
      this.mySwiper.on("slideChange", function () {
        console.log("slideChange: ", this.activeIndex);
      });
    },
    pushGenDemoGraphics() {
      const self = this;
      console.log("firebase coredata: ", this.getCoreData);
      if (this.shouldReRun) {
        for (let i = 0; i < this.getCoreData.length; i++) {
          let data = this.getCoreData[i];
          console.log("firebase coredata string: ", data.gendemographics);
          var gendemo = data.hasOwnProperty("gendemographics");
          if (gendemo) {
            if (data.gendemographics !== undefined) {
              console.log("coredata: ", data);
              var firebaseString = data.gendemographics.toString();
              var jsonparse = JSON.parse("[" + firebaseString + "]");
              self.audienceGendemographics.push(jsonparse);
              console.log(
                "firebase jason parsed this dude: ",
                self.audienceGendemographics
              );
              // this.series.push(Number(data.val));
              // this.chartOptions.labels.push(data.gender);
            }
          }
        }
      }
    },

    pushCityDemoGraphics() {
      const self = this;
      console.log("firebase coredata ousg city: ", this.getCoreData);

      for (let i = 0; i < this.getCoreData.length; i++) {
        let data = this.getCoreData[i];
        console.log("firebase coredata string cities: ", data.cities);
        var exist = data.hasOwnProperty("cities");
        if (exist) {
          if (data.cities !== undefined) {
            console.log("coredata: ", data);
            var firebaseString = data.cities.toString();
            var jsonparse = JSON.parse("[" + firebaseString + "]");
            self.audienceCityDemographics.push(jsonparse);
            console.log(
              "firebase jason parsed this dude: ",
              self.audienceCityDemographics
            );
            // this.series.push(Number(data.val));
            // this.chartOptions.labels.push(data.gender);
          }
          if (self.getCoreData.length - 1 === i) {
            console.log("regenerate push city ends loop ends");
            self.regenerateCityDemoGraphics();
          }
        }
      }
    },

    regenerateGenDemoGraphics() {
      console.log("regenerate ran");
      const self = this;
      if (this.shouldReRun) {
        this.pushGenDemoGraphics();
        for (let i = 0; i < this.audienceGendemographics.length; i++) {
          console.log("regenerate ran inner");
          let data = self.audienceGendemographics[i];

          console.log(
            "regenerate length: ",
            self.audienceGendemographics.length
          );
          var dataindex = self.audienceGendemographics.indexOf(data);
          console.log("regenerate b4 slice: ", self.gender);
          self.returnCoreData[dataindex].gendemographics = data;
          // this.audienceGendemographics.splice(dataindex, 0, dataNewSample)
          // console.log("regenerate new data: ", dataNewSample);
          console.log("regenerate data after slice: ", self.gender);
          console.log(
            "regenerate data index: ",
            self.returnCoreData[dataindex]
          );
          console.log("regenerate data: ", data);
          console.log("regenerate data count: ", data[0].val);
          if (self.audienceGendemographics.length - 1 === i) {
            console.log("regenerate loop ends");
            self.shouldReRun = false;
          }
        }
      }
    },

    regenerateCityDemoGraphics() {
      const self = this;
      console.log(
        "regenerate city ran: ",
        this.audienceCityDemographics.length
      );
      for (let j = 0; j < this.audienceCityDemographics.length; j++) {
        console.log("regenerate city ran inner", self.audienceCityDemographics);
        let data = self.audienceCityDemographics[j];

        console.log(
          "regenerate city length: ",
          self.audienceCityDemographics.length
        );
        var dataindex = self.audienceCityDemographics.indexOf(data);
        console.log("regenerate b4 slice: ", self.gender);
        self.returnCoreData[dataindex].cities = data;
        // this.audienceGendemographics.splice(dataindex, 0, dataNewSample)
        // console.log("regenerate new data: ", dataNewSample);
        console.log(
          "regenerate city data after slice: ",
          self.audienceCityDemographics
        );
        console.log(
          "regenerate city data index: ",
          self.returnCoreData[dataindex]
        );
        console.log("regenerate city data: ", data);
        console.log("regenerate city data count: ", data[0].val);
        if (self.audienceCityDemographics.length - 1 === j) {
          console.log("regenerate city loop ends");
        }
      }
    },
    stringToNumber(val) {
      return Number(val);
    },
  },

  computed: {
    phoneImageW() {
      return this.$refs.phoneCase.clientWidth;
    },
    phoneImageH() {
      return this.$refs.phoneCase.clientHeight;
    },
    returnStoryWidth() {
      let y = this.his.$screen.height - 80;
      let xperc = (this.his.$screen.height - 80) * 0.5;
      let x = y - xperc;
      return x;
    },
    returnDataType() {
      return this.dataType;
    },
    getCoreData() {
      return this.coreData;
    },
  },
  mounted() {
    this.getPhoneDimensions();
    this.getIndexSlide();
  },
  watch: {
    userSwiped: function (val) {
      console.log("slidechanged watch");
      if (val) {
        console.log("slideChanged watch: swiped", this.userSwiped);
      }
    },
    getCoreData: function (val) {
      if (val.length > 0) {
        console.log("coredata is more");
        this.copyCoreData();
      }
    },
  },
};
</script>

<style scoped>
.phoneCase {
  position: absolute;
  width: auto;
}
.example-3d {
  margin-top: -25px;
  width: auto;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 999;
}
.swiper {
  height: 100vh;
  width: 100%;
}
.swiper-slide {
  align-items: center;
  border-radius: 30px;
}
/* .swiper-pagination .swiper-pagination-bullet. */
.swiper-pagination-bullet-active {
  background: white !important;
}

/* USER Container */
.storyBoard {
  border-radius: inherit;
  background-color: rgba(12, 12, 12, 0.945);
  padding: 0;
  overflow: auto;
}
.topHeader {
  width: 100%;
  height: 50px;
  background: rgba(99, 99, 99, 0.347);
  color: rgb(255, 255, 255);
  z-index: 3;
  position: absolute;
}

.content {
  z-index: 1;
  height: 100%;
  background-color: blanchedalmond;
}
video {
  border-radius: 30px;
  object-fit: cover;
}
/* image */
.circular--portrait {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .justify_start {
    justify-content: flex-start;
  }
</style>