<template>
  <div class="row container-fluid px-0 m-0">
    <div
      v-if="homeRoute"
      class="col-10 p-0 m-0 d-flex justify-content-center marginComponent"
      :style="{ maxHeight: returnCarouselHeight + 'px' }"
    >
      <slider
        :options="options"
        @slide="slide"
        @tap="onTap"
        @init="onInit"
        ref="slider"
        :style="{ minHeight: returnCarouselHeight + 'px' }"
      >
        <slideritem v-for="(item, index) in returnImages" :key="index">
          <div
            class="center-cropped"
            width="100%"
            :style="{ backgroundImage: 'url(' + item.modelImages + ')', minHeight: returnCarouselHeight + 'px' }"
          ></div>
          <!-- <img :src="item.modelImages" height="100%" alt=""/> -->
        </slideritem>
      </slider>
    </div>
    <div
      v-if="homeRoute"
      class="col-2 p-0"
      width="100%"
      :style="{ maxHeight: returnCarouselHeight + 'px' }"
    >
      <div v-for="(item, index) in returnImages.slice(0, 5)" :key="index">
        <img
          :src="item.modelImages"
          alt=""
          width="100%"
          :style="{ height: returnCarouselHeight / 5 + 'px' }"
          @click="slideTo(item.placement)"
          style="cursor: pointer"
        />
      </div>
    </div>

    <div
      v-if="!homeRoute && !isItIsStacked"
      class="col-12 p-0 d-flex-justify-content-center marginComponent"
      width="100%"
      :style="{ height: returnCarouselHeight + 'px' }"
    >
      <slider
        :options="options"
        @slide="slide"
        @tap="onTap"
        @init="onInit"
        ref="slider"
      >
        <slideritem v-for="(item, index) in returnImages" :key="index">
          <img
            :src="item.modelImages"
            :style="{ height: returnCarouselHeight + 'px' }"
            alt=""
          />
        </slideritem>
      </slider>
    </div>
    <div
      v-if="!homeRoute && isItIsStacked"
      class="col-12 p-0 marginComponent"
      width="100%"
    >
      <div v-for="(item, index) in returnImages.slice(0, 5)" :key="index">
        <img
          :src="item.modelImages"
          alt=""
          width="100%"
          @click="slideTo(item.placement)"
          style="cursor: pointer"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { slider, slideritem } from "vue-concise-slider";
import { mapGetters } from "vuex";
export default {
  components: {
    slider,
    slideritem,
  },
  data() {
    return {
      //Sliding configuration [obj]
      options: {
        currentPage: 0,
        thresholdDistance: 100,
        thresholdTime: 500,
        autoplay: 0,
        loop: true,
        direction: "horizontal",
        loopedSlides: 1,
        slidesToScroll: 1,
        timingFunction: "ease",
        speed: 300,
        pagination: true,
        centeredSlides: false,
      },
    };
  },
  props: {
    imagesData: {
      type: Array,
    },
    carouselHeight: {
      type: Number,
    },
    isStack: {
      type: Boolean,
    },
  },
  methods: {
    // Model slider events
    slide(data) {
      console.log(data);
    },
    onTap(data) {
      console.log(data);
    },
    onInit(data) {
      console.log(data);
    },
    slideTo(num) {
      this.$refs.slider.$emit("slideTo", num);
    },
  },
  computed: {
    returnImages() {
      return this.imagesData;
    },
    returnCarouselHeight() {
      return this.carouselHeight;
    },
    ...mapGetters(["route/currentRoute"]),
    fetchcurrentRouteName() {
      return this["route/currentRoute"];
    },
    homeRoute() {
      if (this.fetchcurrentRouteName === "home") {
        return true;
      } else {
        return false;
      }
    },
    isItIsStacked() {
      return this.isStack;
    },
  },
};
</script>

<style scoped>
</style>