<template>
  <div class="row playpausebuttonContainer" @click="changePlayState()">
    <span class="mr-2">
      <img :src="pauseBtn" height="5px" alt="" v-if="currentPlayState" />
      <img :src="playBtn" height="5px" alt="" v-if="!currentPlayState" />
    </span>
    <span
      class="poppinsSemiBoldLarge textYellow"
      v-if="currentPlayState"
    >
      Pause
    </span>
    <span
      class="poppinsSemiBoldLarge textWhite"
      v-if="!currentPlayState"
    >
      Play
    </span>
  </div>
</template>

<script>
import play from "../../assets/img/icons/voice/play.svg";
import pause from "../../assets/img/icons/voice/pauseYellow.svg";
import { mapGetters } from "vuex";
export default {
  props: {
    playState: {
      type: Boolean,
    },
    retrieveSound: {
      type: String,
    },
    currentSound: {
      type: String,
    },
    areWeMatching: {
      type: Boolean,
    },
    BarPlayState: {
      type: Boolean,
    },
  },
  data() {
    return {
      currentPlayState: null,
      pauseBtn: pause,
      playBtn: play,
    };
  },
  methods: {
    setCurrentPlayState() {
      this.currentPlayState = this.returnCurrentPlayState;
    },
    changePlayState() {
      const self = this;
      if (this.areParentSoundandMineMatch) {
        if (!this.currentPlayState) {
          self.currentPlayState = true;
          self.$emit("update:playState", true);
        } else {
          self.currentPlayState = false;
          self.$emit("update:playState", false);
        }
      } else {
        this.currentPlayState = true;
        this.$emit("update:areWeMatching", false);
        this.$emit("update:currentSound", this.retrieveSound);
        setTimeout(() => {
          this.$emit("update:playState", true);
          this.$emit("update:areWeMatching", true);
        }, 700);
      }
    },
    stoptheSong() {
      this.currentPlayState = false;
    },
    fromBarPlayEvent() {
      this.currentPlayState = true;
    },
    fromBarPauseEvent() {
      this.currentPlayState = false;
    },
  },
  computed: {
    returnCurrentPlayState() {
      return this.playState;
    },
    returnRetrievedSound() {
      return this.retrieveSound;
    },
    returnCurrentSound() {
      return this.currentSound;
    },
    areParentSoundandMineMatch() {
      if (this.returnRetrievedSound === this.returnCurrentSound) {
        return true;
      } else {
        return false;
      }
    },
    returnBarPlayState() {
      return this.BarPlayState;
    },
  },
  mounted() {
    this.setCurrentPlayState();
  },
  watch: {
    areParentSoundandMineMatch: function (val) {
      if (!val) {
        this.stoptheSong();
      }
      console.log("changePlayState areParentSoundandMineMatch sound", val);
    },
    returnBarPlayState: function (val) {
      if (val) {
        this.fromBarPlayEvent();
      } else {
        this.fromBarPauseEvent();
      }
    },
  },
};
</script>

<style scoped>
.playpausebuttonContainer {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: yellow;
  padding: 10px;

  cursor: pointer;
}
.playpausebuttonContainer:hover {
  background: rgba(0, 0, 0, 0.775);
  border-width: 0px;
  transform: translateY(-5px);
  box-shadow: 0px 5px rgb(39, 39, 39);
}

/* Transition */

</style>