<template>
  <div>
    <div
      class="col-12 d-flex justify-content-center fixed-bottom songPlayerBar"
    >
      <div class="col-2 d-flex align-self-center justify-content-center">
        <div class="circular--portrait" style="cursor: pointer">
          <img :src="returnArtistImage" alt="" />
        </div>
      </div>
      <div class="col-1 d-flex align-self-center justify-content-center">
        <img
          :src="playIcon"
          v-if="!isPlaying"
          @click="playWaveSurfer()"
          class="voiceIcons"
          alt=""
        />
        <img
          :src="pauseIcon"
          v-if="isPlaying"
          @click="pauseWaveSurfer()"
          class="voiceIcons"
          alt=""
        />
      </div>
      <div class="col-7">
        <div id="waveform"></div>
      </div>
      <div class="col-2">
        <div class="col-12 d-flex align-items-center justify-content-end">
          <p class="textWhite px-1">
            <i class="fas fa-close"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import WaveSurfer from "wavesurfer.js";
import play from "../../assets/img/icons/voice/play.svg";
import pause from "../../assets/img/icons/voice/pause.svg";
export default {
  props: {
    userImage: {
      type: String,
    },
    isMatching: {
      type: Boolean,
    },
    currentSound: {
      type: String,
    },
    ButtonPlayState: {
      type: Boolean,
    },
    playState: {
      type: Boolean,
    },
    listenFlush: {
      type: Boolean,
    },
    artistImage: {
      type: String,
    },
  },
  data() {
    return {
      // SoundSurfer
      playIcon: play,
      pauseIcon: pause,
      isPlaying: false,
      wavesurfer: null,
    };
  },
  methods: {
    createWaveSurfer() {
      console.log("returnSOund: ", this.returnSound);
      this.wavesurfer = WaveSurfer.create({
        container: "#waveform",
        waveColor: "yellow",
        progressColor: "#fff",
        barWidth: 3,
        height: 50,
      });
      console.log("loading wavesurfer");
      this.wavesurfer.load(this.returnSound);
      console.log("wafesurfer loaded");
      setTimeout(() => {
        this.fromButtonPlayWaveSurfer();
      }, 1000);
    },
    fromButtonPlayWaveSurfer() {
      this.wavesurfer.play();
      this.isPlaying = true;
      console.log("wafesurfer played");
    },
    fromButtonPauseWaveSurfer() {
      this.isPlaying = false;
      this.wavesurfer.pause();
    },
    playWaveSurfer() {
      this.wavesurfer.play();
      this.isPlaying = true;
      this.$emit("update:playState", true);
    },
    pauseWaveSurfer() {
      if (!this.returnPlayState) {
        this.$emit("update:playState", true);
        setTimeout(() => {
          this.$emit("update:playState", false);
          this.isPlaying = false;
          this.wavesurfer.pause();
        }, 200);
      } else {
        this.$emit("update:playState", false);
        this.isPlaying = false;
        this.wavesurfer.pause();
      }
    },
    destroyWaveSurfer() {
      this.isPlaying = false;
      if (this.wavesurfer !== null) {
        this.wavesurfer.destroy();
      }
    },
  },
  computed: {
    returnMatching() {
      return this.isMatching;
    },
    returnSound() {
      return this.currentSound;
    },
    returnPlayState() {
      return this.playState;
    },
    returnButtonPlayState() {
      return this.ButtonPlayState;
    },
    returnFlush() {
      return this.listenFlush;
    },
    returnArtistImage() {
      return this.artistImage;
    },
  },
  watch: {
    returnMatching: function (val) {
      if (val) {
        this.createWaveSurfer();
      } else {
        this.destroyWaveSurfer();
      }
    },
    returnButtonPlayState: function (val) {
      const self = this;
      console.log("playstate: ", val);
      if (this.returnMatching) {
        if (val) {
          this.fromButtonPlayWaveSurfer();
        } else {
          this.fromButtonPauseWaveSurfer();
        }
      }
    },
    returnFlush: function (val) {
      console.log("listenFlush", val);
      if (val) {
        this.destroyWaveSurfer();
      }
    },
    returnArtistImage: function (val) {
      console.log("sound bar image: ", val);
    },
  },
};
</script>

<style scoped>
.songPlayerBar {
  background: rgb(239, 227, 0);
  background: linear-gradient(
    177deg,
    rgba(239, 227, 0, 1) 0%,
    rgba(255, 180, 22, 1) 100%
  );
  z-index: 9999;
  height: 55px;
  margin-bottom: 50px;
  margin-left: 20px;
  border-top-left-radius: 20px;
}
.voiceIcons {
  height: 30px;
  cursor: pointer;
}

.circular--portrait {
  position: relative;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 30px;
  height: auto;
}
</style>