<template>
  <div>
    <div class="overlay" :style="{ height: openedNav + '%' }">
      <div
        v-if="isopenedNav"
        class="mt-3 mr-3"
        align="end"
        @click="openNav()"
      >
        <img :src="closeIcon" width="20px" alt="" class="pointer" />
      </div>
      <div
        class="overlay-content"
        v-for="(route, index) in thePath"
        :key="index"
      >
        <p
          class="poppinsBoldLarge textWhite pointer textLeft navItems"
          :class="{ textYellow: returnRouteName === route.routeName }"
          @click="goToLink(route.path, route.routeName)"
        >
          {{ route.displayedRouteName }}
        </p>
      </div>
    </div>
    <div class="row backgroundBlack p-2">
      <div class="col-6 justify-content-start" align="left">
        <div
          class="bebasBoldExtraLarge textWhite pageTitleHome pointer" 
          v-if="this.$screen.width > 700"
          @click="goToLinkSecond('/')"
        >
          Talenthanks
        </div>
        <div class="pageTitleHome pt-2 pointer" v-else @click="goToLinkSecond('/')">
          <img :src="icon" alt="" width="25px" />
        </div>
      </div>

      <div class="col-6 pageTitleHome justify-content-end pt-2 pointer" align="right">
        <img
          :src="menuIc"
          width="25px"
          alt=""
          style="cursor: pointer"
          @click="openNav()"
        />
      </div>

      <hr />
    </div>
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";
import ic from "../../assets/iconwhite.svg";
import close from "../../assets/img/icons/close.svg";
import menuIcon from "../../assets/img/icons/menu.svg";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      isopenedNav: false,
      openedNav: 0,
      icon: ic,
      menuIc: menuIcon,
      closeIcon: close,
      thePath: [
        {
          routeName: "home",
          displayedRouteName: "Home",
          path: "/",
        },
        {
          routeName: "model",
          displayedRouteName: "Models",
          path: "/Model/r05j4nxIxt1nwNtyF1ftN",
        },
        {
          routeName: "voice",
          displayedRouteName: "Voice Over",
          path: "/VoiceOver/gU1neVr3pR@m9cH13",
        },
        {
          routeName: "kol",
          displayedRouteName: "Key Opinion Leader",
          path: "/KeyOpinionLeader/GV3n812eV63N14p473nKv4n",
        },
        {
          routeName: "career",
          displayedRouteName: "Career",
          path: "/Career",
        },
        {
          routeName: "about",
          displayedRouteName: "About",
          path: "/About",
        },
        // {
        //   routeName: "SO",
        //   displayedRouteName: "Sign Out",
        //   path: "/",
        // },
      ],
    };
  },
  methods: {
    openNav() {
      if (this.isopenedNav === false) {
        this.openedNav = 100;
        this.isopenedNav = true;
        console.log("inneropenedNave: ", this.isopenedNav);
      } else if (this.isopenedNav === true) {
        this.openedNav = 0;
        this.isopenedNav = false;
        console.log("inneropenedNave: ", this.isopenedNav);
      }
    },
    goToLink(route, name) {
      if (name !== "SO") {
        this.$router.push(route);
        this.openNav();
      } else {
        firebase.auth().signOut();
        this.$router.push(route);
        this.openNav();
      }
    },
    goToLinkSecond(val) {
      this.$router.push(val);
    },
  },
  computed: {
    ...mapGetters(["route/currentRoute"]),
    fetchcurrentRouteName() {
      return this["route/currentRoute"];
    },
    homeRoute() {
      if (this.fetchcurrentRouteName === this.$route.name) {
        return true;
      } else {
        return false;
      }
    },
    returnRouteName() {
      return this.$route.name;
    },
  },
};
</script>

<style scoped>
.navItems{
  font-size: 20px;
}
.navItems:hover{
  font-size: 30px;
  -webkit-transition: font-size 0.1s;
   -moz-transition: font-size 0.1s;
     -o-transition:font-size 0.1s;
        transition: font-size 0.1s;
}
.pageTitleHome {
  position: relative;
  z-index: 999;
}
.overlay {
  width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.973);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
</style>