<template>
  <div class="container-fluid" :class="{ setAlignment }">
    <div v-dragscroll.x="true" id="items">
      <div
        class="item p-2"
        v-for="data in returnData"
        :key="data.userplacement"
      >
        <div
          class="circular--portrait"
          @click="
            setChosen(
              data.userid,
              data.username,
              data.usergender,
              data.userimage,
              data.usershoe,
              data.userheight,
              data.userweight,
              data
            )
          "
          style="cursor: pointer"
        >
          <img
            :src="data.userimage"
            alt=""
            :class="{ inactive: returnChosen !== data.userid }"
          />
        </div>
        <span
          class="poppinsBoldSmall textBlack capitalize"
          :class="{
            inactive: returnChosen !== data.userid,
            textWhite: homeRoute,
          }"
        >
          {{ data.username }}
        </span>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  props: {
    data: {
      type: Array,
    },
    alignment: {
      type: String,
    },
    chosen: {
      type: String,
    },
    clicked: {
      type: Number,
    },
    chosenName: {
      type: String,
    },
    chosenModelGender: {
      type: String,
    },
    chosenImage: {
      type: String,
    },
    // userDimensions:{
    //   typeArray
    // },
    chosenShoes: {
      type: String,
    },
    chosenHeight: {
      type: String,
    },
    chosenWeight: {
      type: String,
    },
    clickedData: {
      type: Object,
    },
  },
  data() {
    return {
      currentClick: 0,
      delay: 300,
      timer: null,
    };
  },
  methods: {
    setChosen(id, name, gender, image, shoe, height, weight, chosenData) {
      this.$emit("update:chosen", id);
      this.$emit("update:chosenName", name);
      this.$emit("update:chosenModelGender", gender);
      this.$emit("update:chosenImage", image);
      this.$emit("update:chosenShoes", shoe);
      this.$emit("update:chosenHeight", height);
      this.$emit("update:chosenWeight", weight);
      this.$emit("update:clickedData", chosenData);
      console.log("chosen image in circle", shoe);
      this.currentClick++;
      console.log("PROPS:model clicked increment: ", this.currentClick);
      if (this.currentClick === 1) {
        this.timer = setTimeout(() => {
          this.$emit("update:clicked", this.currentClick);
          this.currentClick = 0;
          console.log("PROPS:model clicked once");
        }, this.delay);
      } else {
        clearTimeout(this.timer);
        console.log("PROPS:model clicked twice", this.currentClick);
        this.$emit("update:clicked", this.currentClick);
        this.currentClick = 0;
      }
      // this.$emit("update:clicked", 1);
    },
  },
  computed: {
    returnData() {
      return this.data;
    },
    returnAlignMent() {
      return this.alignment;
    },
    setAlignment() {
      if (this.returnAlignMent === "center") {
        console.log("alignment centered");
        return "d-flex justify-content-center";
      }
      if (this.returnAlignMent === "start") {
        console.log("alignment start");
        return "d-flex justify-content-start";
      }
      if (this.returnAlignMent === "end") {
        console.log("alignment end");
        return "d-flex justify-content-end";
      }
    },
    returnChosen() {
      return this.chosen;
    },
    ...mapGetters(["route/currentRoute"]),
    fetchcurrentRouteName() {
      return this["route/currentRoute"];
    },
    homeRoute() {
      if (
        this.fetchcurrentRouteName === "home" ||
        this.fetchcurrentRouteName === "voice" ||
        this.fetchcurrentRouteName === "kol"
      ) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>

<style scoped>
.inactive {
  opacity: 0.4;
}
.circular--portrait {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 60px;
  height: auto;
}
#items {
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
}
#items::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}
.item {
  display: inline-block;
  width: auto;
  height: auto;
}
</style>