
.flex {
    white-space: nowrap;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
  }
  
  .justify_center {
    justify-content: center;
  }
  
  .justify_start {
    justify-content: flex-start;
  }
  .justify_end {
    justify-content: flex-end;
  }
  