@import './customGridSystem.css';
* {
    scrollbar-width: thin;
    scrollbar-color: var(--black) var(--black);
}

*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

*::-webkit-scrollbar-track {
    background: var(--black);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 20px;
    border: 2px solid var(--black);
}

#app {
    font-family: "poppinsSemiBold", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}


/* Changes on d-flex */

.d-flex {
    display: -webkit-box !important;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox !important;
    /* TWEENER - IE 10 */
    display: -webkit-flex !important;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex !important;
    /* NEW, Spec - Firefox, Chrome, Opera */
}


/* ROOT */

:root {
    --primary: #434AF9;
    --blue: #007AFF;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #191720;
    --yellow: #EFE300;
    --green: #00ca00;
    --red: #ca0000;
    --purple: #A314FF;
    --darkBlue: #0006A0;
    --darkGray: #636363;
    --darkYellow: #8C8200;
    --skyBlue: #50BAFF;
    --cblack: #424242;
    --cyellow: #fafa99;
    --cred: #FFD4ED;
    --cgreen: #D4FFDE;
    --cblue: #0970ff;
    --cpurple: #EFD3FF;
    --cgray: #f5f5f5e7;
}

@font-face {
    font-family: "PoppinsBold";
    src: local("Poppins"), url(../../fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: local("Poppins"), url(../../fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "PoppinsRegular";
    src: local("Poppins"), url(../../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "PoppinsLightItalic";
    src: local("Poppins"), url(../../fonts/Poppins/Poppins-LightItalic.ttf) format("truetype");
}

@font-face {
    font-family: "PoppinsMediumItalic";
    src: local("Poppins"), url(../../fonts/Poppins/Poppins-MediumItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Baskerville";
    src: local("Baskerville"), url(../../fonts/Baskerville/BASKVILL.TTF) format("truetype");
}

@font-face {
    font-family: "ProximaNovaThin";
    src: local("Proxima"), url(../../fonts/Baskerville/BASKVILL.TTF) format("opentruetype");
}

@font-face {
    font-family: "BebasNeueRegular";
    src: local("Bebas"), url(../../fonts/BebasNeue/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "BebasNeueBold";
    src: local("Bebas"), url(../../fonts/BebasNeue/BebasNeue-Bold.ttf) format("truetype");
}


/* vo feedback */

.feedBack {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}


/* circle image */

.circleImage {
    border-radius: 100%;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.rounded {
    border-radius: 20px !important;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.active {
    color: #000000;
}


/* Buttons */

.whiteButton {
    background-color: #ffffff;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}

.whiteButton:hover {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
}

.blackButton {
    background-color: #000000;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}

.blackButton:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}

.blackLightGray {
    background-color: #000000;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}

.blackLightGray:hover {
    cursor: pointer;
    background-color: #2f2f2f82;
    color: #ffffff;
}

.yellowButton {
    background-color: var(--yellow);
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}

.yellowButton:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}

.grayButton {
    background-color: #3434345f;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}

.grayButton:hover {
    cursor: pointer;
    background-color: #f3f3f332;
    color: #000000;
}


/* FONTS */

.capitalize {
    text-transform: capitalize;
}


/* poppins light italic */

.poppinsLightItalicXXSmall {
    font-size: 0.1rem;
    font-family: "PoppinsLightItalic", Helvetica, Arial;
}

.poppinsLightItalicSmall {
    font-size: 0.7rem;
    font-family: "PoppinsLightItalic", Helvetica, Arial;
}

.poppinsLightItalicMed {
    font-size: 0.8rem;
    font-family: "PoppinsLightItalic", Helvetica, Arial;
}

.poppinsLightItalicLarge {
    font-size: 1rem;
    font-family: "PoppinsLightItalic", Helvetica, Arial;
}

.poppinsLightItalicExtraLarge {
    font-size: 1.5rem;
    font-family: "PoppinsLightItalic", Helvetica, Arial;
}

.poppinsLightItalicXXLarge {
    font-size: 2rem;
    font-family: "PoppinsLightItalic", Helvetica, Arial;
}


/* poppins regular */

.poppinsRegularXXSmall {
    font-size: 0.1rem;
    font-family: "PoppinsRegular", Helvetica, Arial;
}

.poppinsRegularSmall {
    font-size: 0.7rem;
    font-family: "PoppinsRegular", Helvetica, Arial;
}

.poppinsRegularMed {
    font-size: 0.8rem;
    font-family: "PoppinsRegular", Helvetica, Arial;
}

.poppinsRegularLarge {
    font-size: 1rem;
    font-family: "PoppinsRegular", Helvetica, Arial;
}

.poppinsRegularExtraLarge {
    font-size: 1.5rem;
    font-family: "PoppinsRegular", Helvetica, Arial;
}

.poppinsRegularXXLarge {
    font-size: 2rem;
    font-family: "PoppinsRegular", Helvetica, Arial;
}


/* poppins medium italic */

.poppinsMediumItalicXXSmall {
    font-size: 0.1rem;
    font-family: "PoppinsMediumItalic", Helvetica, Arial;
}

.poppinsMediumItalicSmall {
    font-size: 0.7rem;
    font-family: "PoppinsMediumItalic", Helvetica, Arial;
}

.poppinsMediumItalicMed {
    font-size: 0.8rem;
    font-family: "PoppinsMediumItalic", Helvetica, Arial;
}

.poppinsMediumItalicLarge {
    font-size: 1rem;
    font-family: "PoppinsMediumItalic", Helvetica, Arial;
}

.poppinsMediumItalicExtraLarge {
    font-size: 1.5rem;
    font-family: "PoppinsMediumItalic", Helvetica, Arial;
}

.poppinsMediumItalicXXLarge {
    font-size: 2rem;
    font-family: "PoppinsMediumItalic", Helvetica, Arial;
}


/* Poppins SemiBold */

.poppinsSemiBoldSmall {
    font-size: 0.7rem;
    font-family: "PoppinsSemiBold", Helvetica, Arial;
}

.poppinsSemiBoldMed {
    font-size: 0.8rem;
    font-family: "PoppinsSemiBold", Helvetica, Arial;
}

.poppinsSemiBoldLarge {
    font-size: 1rem;
    font-family: "PoppinsSemiBold", Helvetica, Arial;
}

.poppinsSemiBoldExtraLarge {
    font-size: 1.5rem;
    font-family: "PoppinsSemiBold", Helvetica, Arial;
}

.poppinsSemiBoldXXLarge {
    font-size: 2rem;
    font-family: "PoppinsSemiBold", Helvetica, Arial;
}


/* Poppins SemiBold */

.poppinsBoldSmall {
    font-size: 0.7rem;
    font-family: "PoppinsBold", Helvetica, Arial;
}

.poppinsBoldMed {
    font-size: 0.8rem;
    font-family: "PoppinsBold", Helvetica, Arial;
}

.poppinsBoldLarge {
    font-size: 1rem;
    font-family: "PoppinsBold", Helvetica, Arial;
}

.poppinsBoldExtraLarge {
    font-size: 1.5rem;
    font-family: "PoppinsBold", Helvetica, Arial;
}

.poppinsBoldXXLarge {
    font-size: 2rem;
    font-family: "PoppinsBold", Helvetica, Arial;
}

.poppinsBoldXXXLarge {
    font-size: 5rem;
    font-family: "PoppinsBold", Helvetica, Arial;
}


/* Bebas Nue Regular */

.bebasRegularSmall {
    font-size: 0.7rem;
    font-family: "BebasNeueRegular", Helvetica, Arial;
}

.bebasRegularMed {
    font-size: 0.8rem;
    font-family: "BebasNeueRegular", Helvetica, Arial;
}

.bebasRegularLarge {
    font-size: 1rem;
    font-family: "BebasNeueRegular", Helvetica, Arial;
}

.bebasRegularExtraLarge {
    font-size: 1.5rem;
    font-family: "BebasNeueRegular", Helvetica, Arial;
}

.bebasRegularXXLarge {
    font-size: 3.5rem;
    font-family: "BebasNeueRegular", Helvetica, Arial;
}

.bebasRegularXXXLarge {
    font-size: 5rem;
    font-family: "BebasNeueRegular", Helvetica, Arial;
}


/* Bebas Nue Bold */

.bebasBoldSmall {
    font-size: 0.7rem;
    font-family: "BebasNeueBold", Helvetica, Arial;
}

.bebasBoldMed {
    font-size: 0.8rem;
    font-family: "BebasNeueBold", Helvetica, Arial;
}

.bebasBoldLarge {
    font-size: 1rem;
    font-family: "BebasNeueBold", Helvetica, Arial;
}

.bebasBoldExtraLarge {
    font-size: 1.5rem;
    font-family: "BebasNeueBold", Helvetica, Arial;
}

.bebasBoldXXLarge {
    font-size: 2rem;
    font-family: "BebasNeueBold", Helvetica, Arial;
}

.bebasBoldXXXLarge {
    font-size: 5rem;
    font-family: "BebasNeueBold", Helvetica, Arial;
}


/* FONTSPACING */

.homeHeaderTitle {
    letter-spacing: 30px;
}


/* Font Color */

.textBlack {
    color: var(--black);
}

.textWhite {
    color: var(--white);
}

.textYellow {
    color: var(--yellow);
}

.textDarkGray {
    color: var(--darkGray);
}


/* Background colors */

.backgroundDark {
    background-color: var(--dark);
}

.backgroundLightBlack {
    background-color: var(--cblack);
}

.backgroundBlack {
    background-color: var(--black);
}

.backgroundWhite {
    background-color: var(--white);
}

.backgroundLightGray {
    background-color: var(--cgray);
}

.backgroundBlue {
    background-color: var(--blue);
}

.backgroundLightBlue {
    background-color: var(--cblue);
}

.backgroundYellow {
    background-color: var(--yellow);
}

.backgroundDarkYellow {
    background-color: var(--darkYellow);
}

.backgroundLightYellow {
    background-color: var(--cyellow);
}


/* Sections */

.subHeaderTitle {
    margin-top: -25px;
    line-height: 90%;
}

.subHeaderTitleSmall {
    line-height: 85%;
}

.headerHeight {
    line-height: 75%;
}

.marginSections {
    margin-top: 60px;
}

.marginComponent {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dividerSections {
    height: 1px;
    width: 40%;
    border-width: 0;
    border-radius: 10px;
    color: white;
    background-color: white;
}

.center-cropped {
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}


/* Loaders */

.animationContainer {
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    transition: 0.5s;
    overflow-y: auto;
}


/* Cursor */

.pointer {
    cursor: pointer;
}


/* ----------------------------- OLD CSS ----------- */


/* HOME */

.home {
    max-width: 100%;
    max-height: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.headervideo {
    /* background-color: black; */
    height: relative;
}

.trial {
    visibility: hidden;
}


/* TOP BARS */

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.iconLogo {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.holdermainpeople {
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-top: 180px;
    margin-left: 150px;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: relative;
    width: 70%;
    margin-left: 50px;
    background: #fff;
    box-shadow: 0 2px 0 0px #000000;
    padding: 10px;
    overflow: hidden;
}

.fixed-nav-bar-scroll {
    z-index: 100;
    height: relative;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    box-shadow: 0 2px 0 0px #000000;
    padding: 10px;
    overflow: hidden;
}

.btn {
    border-radius: 0px !important;
    background-color: #111;
}

.btncontainer {
    padding: 20px;
}

.pageLine {
    font-family: "Baskerville", Helvetica, Arial;
    font-size: 80px;
    text-align: left;
    color: #111;
}

.pageTitle {
    font-family: "PoppinsBold", Helvetica, Arial;
    text-align: left;
    font-size: 40px;
    color: #111;
}

.pageDesc {
    font-family: "ProximaNovaThin", Helvetica, Arial;
    text-align: left;
    color: #111;
    font-size: 15px;
    margin-top: -10px;
}

.formsmall {
    font-family: "PoppinsRegular", Helvetica, Arial;
    text-align: left;
    color: rgb(29, 29, 29);
    font-size: 15px;
}

.pageDetailed {
    font-family: "PoppinsRegular", Helvetica, Arial;
    text-align: left;
    color: #111;
    font-size: 15px;
    display: inline;
}

.btn-dark:hover {
    background-color: white;
    color: gray;
    text-shadow: 0 1px 0 #000000;
}


/* END of TOP Bars */

.rulerbody {
    background-color: #ffffff;
    background-image: linear-gradient(90deg, rgba(73, 73, 73, 0.5) 0, rgba(73, 73, 73, 0.5) 2%, transparent 2%), linear-gradient(180deg, #ffffff 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(73, 73, 73, 0.5) 50%, rgba(73, 73, 73, 0.5) 52%, transparent 52%), linear-gradient(180deg, #ffffff 70%, transparent 70%), linear-gradient(90deg, transparent 10%, rgba(73, 73, 73, 0.4) 10%, rgba(73, 73, 73, 0.4) 12%, transparent 12%, transparent 20%, rgba(73, 73, 73, 0.4) 20%, rgba(73, 73, 73, 0.4) 22%, transparent 22%, transparent 30%, rgba(73, 73, 73, 0.4) 30%, rgba(73, 73, 73, 0.4) 32%, transparent 32%, transparent 40%, rgba(73, 73, 73, 0.4) 40%, rgba(73, 73, 73, 0.4) 42%, transparent 42%, transparent 60%, rgba(73, 73, 73, 0.4) 60%, rgba(73, 73, 73, 0.4) 62%, transparent 62%, transparent 70%, rgba(73, 73, 73, 0.4) 70%, rgba(73, 73, 73, 0.4) 72%, transparent 72%, transparent 80%, rgba(73, 73, 73, 0.4) 80%, rgba(73, 73, 73, 0.4) 82%, transparent 82%, transparent 90%, rgba(73, 73, 73, 0.4) 90%, rgba(73, 73, 73, 0.4) 92%, transparent 92%);
    background-size: 11% 100%;
    background-repeat: repeat-x;
    min-height: 20px;
    margin-top: 100px;
    width: 120%;
    /* only needed for labels */
    font-size: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}


/* End of ruler */


/* SideNavs */

.rotateleft {
    -ms-transform: rotate(27deg);
    /* IE 9 */
    transform: rotate(270deg);
}

.rotateright {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    transform: rotate(90deg);
}

.rightNavText {
    text-decoration: none;
    font-size: 10px;
    font-family: "BebasNeueRegular", Helvetica, Arial;
    display: block;
}

.rightNavText:hover {
    text-decoration: none;
}

.mainicon {
    width: 20px;
    height: 20px;
}

.sidenav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    background-color: #fff;
    z-index: 999;
}

.rulerbar {
    height: relative;
    width: 100%;
    z-index: 10;
    left: 0;
    background: white;
}

.quote {
    text-decoration: none;
    font-size: 9px;
    color: black;
    display: block;
    font-family: "ProximaNovaThin", Helvetica, Arial;
    text-align: left;
    height: 20px;
}

.quotelastement {
    text-decoration: none;
    font-size: 9px;
    color: black;
    display: block;
    font-family: "ProximaNovaThin", Helvetica, Arial;
    text-align: left;
    height: 20px;
}

li .quote {
    margin-top: 100px;
}

li .quotelastement {
    margin-top: 100px;
    padding-bottom: 200px;
}

.brandName {
    margin: 100px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 10px;
    color: #111;
    font-family: "Baskerville", Helvetica, Arial;
    display: block;
    text-decoration: none;
}

.sidenav .brandName:hover {
    color: #111;
    text-decoration: none;
}

#box {
    fill: orange;
    stroke: black;
}

.main {
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 10px, 50px;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.taglineline {
    width: auto;
    height: 70%;
    margin-top: 15px;
    z-index: 10;
}


/* Right Navs */

.sidenavright {
    height: 100%;
    width: 50px;
    padding-left: 10px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffff;
    overflow-x: hidden;
    padding-top: 1px;
    z-index: 999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li .router-link {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    width: auto;
    text-decoration: none;
    font-size: 30px;
    font-family: "BebasNeueRegular", Helvetica, Arial;
    color: gray;
    display: block;
}


/* @media screen and (max-height: 650px) {
  .sidenavright {
    padding-top: 15px;
    width: 50px;
  }
  /* .quote {
    font-size: 5px;
    margin-top: 40px;
    
} */

@media screen and (max-width: 390px) {
    .sidenavright {
        padding-top: 100px;
        padding-right: 20px;
        width: 50px;
    }
    .fixed-nav-bar-scroll {
        left: 11%;
        z-index: 99999;
    }
    .main {
        margin-left: 50px;
        margin-right: 50px;
    }
    li .router-link {
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .sidenavright {
        padding-top: 100px;
        padding-right: 20px;
        width: 50px;
    }
    .fixed-nav-bar-scroll {
        left: 11%;
        z-index: 99999;
    }
    .main {
        margin-left: 50px;
        margin-right: 50px;
    }
    .rulerbody {
        visibility: visible;
    }
    li .router-link {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .sidenavright {
        width: 20px;
    }
    /* .quote {
    font-size: 5px;
    margin-top: 40px;
  } */
    .rulerbody {
        visibility: visible;
    }
    .fixed-nav-bar-scroll {
        left: 11%;
        z-index: 99999;
    }
}

@media screen and (max-width: 640px) {
    .pageTitle {
        font-size: 30px;
    }
    .pageDetailed {
        font-size: 20px;
        margin-top: -10px;
    }
    .btn {
        border-radius: 0px !important;
        background-color: #111;
        font-size: 10px;
    }
    .btncontainer {
        padding: 20px;
    }
    .fixed-nav-bar-scroll {
        left: 11%;
        z-index: 99999;
    }
}

@media screen and (max-width: 830px) {
    .sidenavright {
        width: 20px;
    }
    /* .quote {
    font-size: 5px;
    margin-top: 40px;
  } */
    .sidenav {
        width: 30px;
    }
    .main {
        margin-left: 20px;
        margin-right: 20px;
    }
    .taglineline {
        height: 30%;
    }
    .rulerbody {
        visibility: visible;
    }
    .brandName {
        font-size: 14px;
        margin-top: 100px;
        margin-bottom: 13px;
        margin-left: 13px;
        margin-right: 13px;
    }
    .sidenavright {
        padding-top: 100px;
        padding-right: 20px;
        width: 50px;
    }
    .fixed-nav-bar-scroll {
        left: 11%;
        z-index: 99999;
    }
}

@media screen and (max-height: 640px) {
    .fixed-nav-bar {
        width: 100%;
    }
    .btn {
        border-radius: 0px !important;
    }
    .btncontainer {
        padding: 1px;
    }
    /* 1024 > above not fixed */
}

@media screen and (max-height: 840px) {
    .fixed-nav-bar {
        width: 100%;
    }
    .btn {
        border-radius: 0px !important;
    }
    .btncontainer {
        padding: 1px;
    }
    .sidenav {
        padding-top: 15px;
        width: 50px;
    }
    .brandName {
        font-size: 14px;
        margin-top: 100px;
        margin-bottom: 13px;
        margin-left: 13px;
        margin-right: 13px;
    }
    /* 1024 > above not fixed */
}

@media screen and (max-height: 1366px) {
    .fixed-nav-bar {
        width: 100%;
    }
}