<template>
  <div class="container-fluid">
    <p class="poppinsBoldLarge textWhite text-left" style="font-size: 40px">
      Which would you apply?
    </p>
    <div class="row pointer">
      <div
        class="col-6 p-0 m-0 imgContainer"
        @click="goToRoute('/ModelApply')"
        @mouseenter="activeModel = true"
        @mouseleave="activeModel = false"
      >
        <div class="titleLeft">
          <span
            class="bebasBoldLarge textWhite title__90deg"
            style="font-size: 100px"
            :class="{ active: this.activeModel }"
          >
            Model
          </span>
        </div>
        <div
          class="center-cropped"
          width="100%"
          :style="{
            backgroundImage: 'url(' + modImg + ')',
            minHeight: this.$screen.height + 'px',
          }"
        ></div>
      </div>
      <div class="col-6 p-0 m-0">
        <div
          class="col-12 p-0 m-0 imgContainer"
          @click="goToRoute('/VoiceOverApply')"
          @mouseenter="activeVO = true"
          @mouseleave="activeVO = false"
        >
          <div class="titleRight">
            <span
              class="bebasBoldLarge textWhite title__neg90deg"
              style="font-size: 50px"
              :class="{ active: this.activeVO }"
            >
              Voice Overs
            </span>
          </div>
          <div
            class="center-cropped"
            width="100%"
            :style="{
              backgroundImage: 'url(' + voImg + ')',
              minHeight: this.$screen.height / 2 + 'px',
            }"
          ></div>
        </div>
        <div
          class="col-12 p-0 m-0 imgContainer"
          @click="goToRoute('/KeyOpinionLeaderApply')"
          @mouseenter="activeKOL = true"
          @mouseleave="activeKOL = false"
        >
          <div class="titleCenter">
            <span
              class="bebasBoldLarge textWhite"
              style="font-size: 50px; line-height: 70%"
              :class="{ active: this.activeKOL }"
            >
              Key Opinion Leader
            </span>
          </div>
          <div
            class="center-cropped"
            width="100%"
            :style="{
              backgroundImage: 'url(' + kolImg + ')',
              minHeight: this.$screen.height / 2 + 'px',
            }"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import modelImage from "../../../assets/img/career/model.jpg";
import voImage from "../../../assets/img/career/vo.jpg";
import kolImage from "../../../assets/img/career/kol.jpg";
export default {
  data() {
    return {
      modImg: modelImage,
      voImg: voImage,
      kolImg: kolImage,
      activeKOL: false,
      activeModel: false,
      activeVO: false,
    };
  },
  methods: {
    goToRoute(val) {
      setTimeout(() => {
        this.$router.push(val);
      }, 300);
    },
  },
};
</script>

<style scoped>
/* Cursor */
.cursor {
  cursor: pointer;
}

.active {
  color: #efe600;
}
/* Model */
.titleLeft {
  z-index: 1;
  display: inline-block;
  top: 40%;
  left: 0;
  position: absolute;
  overflow: hidden;
  line-height: 1.5;
}
.title__90deg {
  display: inline-block;
  white-space: nowrap;
  transform: translate(60%, 0) rotate(90deg);
  transform-origin: top left;
}
.title__90deg:after {
  content: "";
  float: right;
  margin-top: 100%;
}

/* VoiceOver */
.titleRight {
  z-index: 1;
  display: inline-block;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  line-height: 1.5;
}
.title__neg90deg {
  display: inline-block;
  white-space: nowrap;
  transform: translate(65%, 100%) rotate(-90deg);
  transform-origin: top left;
}
.title__neg90deg:after {
  content: "";
  float: right;
  margin-top: 100%;
}

/* Voice Over */
.titleCenter {
  z-index: 1;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
}

/* images */
.imgContainer {
  overflow: hidden;
}
.center-cropped:hover {
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -moz-transform: scale(1.25); /* Firefox */
  -ms-transform: scale(1.25); /* IE 9 */
  -o-transform: scale(1.25); /* Opera */
  transform: scale(1.25);
}
</style>