<template>
  <div>
    <div
      v-if="!showForm"
      ref="container"
      class="applicationContainer container-fluid backgroundBlack_semiTrans"
      @scroll="handleScroll()"
      :style="{
        maxHeight: this.$screen.height - 50 + 'px',
        height: height + 'px',
        position: returnWantedPosition,
      }"
    >
      <div class="row">
        <div class="col-12 p-2" align="center">
          <div class="square"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-8" align="left">
          <p class="bebasBoldLarge textWhite text-left" style="font-size: 40px">
            Voice Over <span class="textYellow">.</span>
          </p>
        </div>
        <div class="col-4 py-2" align="right">
          <lottie-player
            src="https://assets9.lottiefiles.com/packages/lf20_imamnc5q.json"
            background="transparent"
            speed="1"
            style="width: 50px; height: 50px"
            loop
            autoplay
          ></lottie-player>
        </div>
        <div class="col-12">
          <p class="poppinsRegularLarge textWhite text-left">
            By becoming an agent in the Voice Over field, you will be required
            to create voice overs for the client's needs. We highly value
            professionalism and protect the rights of each of our agents. Feel
            free to apply for this position if you feel that you have met the
            requirements by clicking on the "Apply Position" button below. Any
            application sent by clicking the "Contact Us" button will likely be
            ignored.
          </p>
        </div>
        <div class="col-12">
          <p class="poppinsRegularLarge textWhite text-left">
            Should you be contacted by any foreign or irresponsible individuals
            falsely bearing the name of Talenthanks to be a Voice Over Artist,
            immediately contact law enforcements and your parents or any
            responsible adults regarding the issue. You may also ask further
            questions by click on the "Contact Us" button below.
          </p>
        </div>
        <div class="col-12">
          <div class="poppinsSemiBoldLarge textWhite text-left">
            Requirements
            <ul class="poppinsSemiBoldMed mt-2">
              <li class="poppinsRegularMed">
                1. Provide the number of projects done in the past. If you are
                new to this field, you may still submit your application.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-5">
        <button class="whiteButton poppinsSemiBoldLarge textBlack" @click="showWa()">
          Contact Us
        </button>
        <button class="yellowButton poppinsSemiBoldLarge" @click="openForm()">
          Apply Position
        </button>
      </div>
    </div>
    <l-full-screen-video :video="videoSource" v-if="!showForm" />
    <vo-form v-if="showForm" />
    <l-chat-whatsapp
      :sendWA.sync="sendChat"
      :name.sync="careerName"
      :messageType.sync="waMessageType"
      @update="sendChat"
    />
  </div>
</template>

<script>
import videoVO from "../../../assets/img/career/videoVO.mp4";
import LFullScreenVideo from "../../libraries/LFullScreenVideo.vue";
import debounce from "lodash/debounce";
import VoForm from "./Forms/VoForm.vue";
import LChatWhatsapp from "../../libraries/LChatWhatsapp.vue";
export default {
  components: {
    LFullScreenVideo,
    VoForm,
    LChatWhatsapp,
  },
  data() {
    return {
      videoSource: "",
      handleDebouncedScroll: "",
      height: 0,
      defaults: [
        { scrollheightSmallScreen: 150, scrollheightLargeScreen: 250 },
      ],
      showForm: false,
      sendChat:  false,
      careerName: "Voice Over Artist",
      waMessageType: "Career"
    };
  },
  methods: {
    awaitLoad() {
      this.videoSource = videoVO;
      if (this.$screen.width < 700) {
        this.height = 150;
      } else {
        this.height = 250;
      }
    },
    handleScroll(event) {
      // Any code to be executed when the window is scrolled
      this.isUserScrolling = window.scrollY > 0;
      if (this.handleDebouncedScroll) {
        if (this.$screen.width < 700) {
          console.log("screen small");
          var newHeight =
            this.defaults[0].scrollheightSmallScreen +
            this.$refs.container.scrollTop;
          this.height = newHeight.toFixed(0);
        } else {
          console.log("screen large");
          var newHeight =
            this.defaults[0].scrollheightLargeScreen +
            this.$refs.container.scrollTop;
          this.height = newHeight.toFixed(0);
        }
      }

      console.log("screen checking height", this.height);
      console.log(
        "screen calling checking window",
        this.$refs.container.scrollTop
      );
    },
    openForm() {
      this.showForm = true;
    },
    showWa(){
      this.sendChat = true;
    }
  },
  computed: {
    returnWantedPosition() {
      if (this.$screen.touch) {
        return "absolute";
      } else {
        return "absolute";
      }
    },
  },
  watch: {
    showForm: function (val) {
      if (val) {
        window.removeEventListener("scroll", this.handleDebouncedScroll);
      } else {
        console.log("watching vo: ", val);
        this.handleDebouncedScroll = debounce(this.handleScroll, 30);
        window.addEventListener("scroll", this.handleDebouncedScroll);
      }
    },
  },
  mounted() {
    this.awaitLoad();
  },

  created() {
    this.handleDebouncedScroll = debounce(this.handleScroll, 30);
    window.addEventListener("scroll", this.handleDebouncedScroll);
  },

  beforeDestroy() {
    // I switched the example from `destroyed` to `beforeDestroy`
    // to exercise your mind a bit. This lifecycle method works too.
    window.removeEventListener("scroll", this.handleDebouncedScroll);
  },
};
</script>

<style scoped>
.backgroundBlack_semiTrans {
  background: rgba(0, 0, 0, 0.687);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.applicationContainer {
  z-index: 999;
  bottom: 0;
  overflow-y: auto;
}

.square {
  height: 5px;
  width: 50px;
  border-radius: 20px;
  background-color: rgb(132, 132, 132);
}
</style>