<template>
  <div class="backgroundBlack container-fluid">
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>
    <p>psppapsap</p>

        <!-- ----------------------- NAVIGATION BARS ----------------------- -->
    <div>
      <l-top-nav-bar />
    </div>

    <!-- ----------------------- MODEL ----------------------- -->
    <div class="row marginSections">
      <div class="col-12">
        <p class="poppinsBoldExtraLarge text-right textWhite">01</p>
      </div>
      <div class="col-12">
        <p
          class="textWhite poppinsBoldXXLarge"
          :style="{ fontSize: this.carouselHeaderFont + 'px' }"
        >
          Model
        </p>
      </div>
      <div class="col-12 mt-0">
        <p class="textWhite subHeaderTitle poppinsRegularXXLarge">
          Set Standard's With Models
        </p>
      </div>
      <!-- Gender -->
      <div class="col-12 marginComponent">
        <l-gender-picker
          :takenType.sync="modelGenderState"
          @update="modelGenderState"
        ></l-gender-picker>
      </div>
      <!-- Models User -->
      <div class="col-12 marginComponent">
        <l-user-image-circle
          :data.sync="modelDatas"
          :chosen.sync="displayedModel"
          :clicked.sync="modelClicked"
          @update="displayedModel, modelClicked"
          :alignment="'center'"
        />
      </div>
      <!-- Models Images -->
      <div class="row container-fluid px-0 m-0">
        <l-model-carousel
          :imagesData.sync="pages"
          :carouselHeight.sync="carouselmaxHeight"
        ></l-model-carousel>
      </div>

      <div class="row">
        <div v-for="(model, index) in modelDatas" :key="index">
          <p
            class="poppinsRegularMed px-5 marginComponent"
            style="color: #595959"
            v-if="model.userid === displayedModel"
          >
            {{ model.userdescription }}
          </p>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="whiteButton poppinsSemiBoldMed">
          Book Bunga
        </button>
        <button
          type="button"
          class="grayButton poppinsSemiBoldMed"
          @click="goToLink('chosenModel', 1)"
        >
          Visit Model
        </button>
      </div>
    </div>

    <!-- ----------------------- VOICE OVER ----------------------- -->

    <div class="row marginSections">
      <div class="col-6" v-if="this.$screen.width > 500">
        <div class="col-12">
          <p class="poppinsBoldExtraLarge text-left textWhite">02</p>
        </div>
        <div class="col-12">
          <p
            class="textWhite text-center poppinsBoldXXLarge"
            :style="{ fontSize: this.carouselHeaderFont + 'px' }"
          >
            Voice Overs
          </p>
        </div>
        <div class="col-12">
          <p class="textWhite text-center subHeaderTitle poppinsRegularXXLarge">
            Bring your products to life
          </p>
        </div>
        <hr
          class="d-flex align-items-start"
          style="
            height: 1px;
            width: 50%;
            border-width: 0;
            border-radius: 10px;
            color: white;
            background-color: white;
          "
        />

        <!-- move to outwards if screen is less than 500 -->
        <div class="col-12 d-flex justify-content-start mt-5">
          <div class="col-6 d-flex justify-content-end align-items-center p-1">
            <l-gender-picker
              :takenType.sync="voiceoverGenderState"
              :clicked.sync="voiceoverGenderClicked"
              @update="voiceoverGenderState, voiceoverGenderClicked"
            ></l-gender-picker>
          </div>
          <div class="col-6">
            <l-drop
              :activeMood.sync="voiceoverMoodState"
              :clicked.sync="voiceoverMoodClicked"
              @update="voiceoverMoodState, voiceoverMoodClicked"
            ></l-drop>
          </div>
        </div>
        <div class="col-12 mt-4">
          <!-- TODO -->
          <l-user-image-circle
            :data.sync="voiceoverDatas"
            :chosen.sync="displayedVOArtist"
            @update="displayedVOArtist, voiceoverClicked"
            :clicked.sync="voiceoverClicked"
            :alignment="'start'"
          />
        </div>

        <transition name="slide-left">
          <div class="row mt-4 p-2" v-if="voiceRetrieved">
            <div
              class="col-2 d-flex align-items-center justify-content-start"
              style="cursor: pointer"
            >
              <img
                :src="wPlay"
                alt=""
                width="30px"
                @click="playWaveSurfer()"
                v-if="!isPlaying"
              />
              <img
                :src="wPause"
                alt=""
                width="30px"
                @click="pauseWaveSurfer()"
                v-if="isPlaying"
              />
            </div>
            <div class="col-10">
              <div id="waveform"></div>
            </div>
          </div>
        </transition>

        <div class="row" v-if="voiceUnfound">
          <div class="col-12 justify-content-center">
            <lottie-player
              src="https://assets9.lottiefiles.com/packages/lf20_RIic19.json"
              background="transparent"
              speed="1"
              style="width: 100%; height: 300px"
              loop
              class="d-flex align-items-center"
              autoplay="false"
            ></lottie-player>
          </div>
          <div class="col-12 justify-content-center">
            <p class="poppinsSemiBoldLarge textWhite">
              We could not find what you are looking for
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-6 d-flex justify-content-end"
        v-if="this.$screen.width > 500"
      >
        <img :src="designedVO" alt="" width="100%" />
      </div>

      <!-- Voice Over design if device is smaller than 500 -->
      <div class="row container-fluid" v-if="this.$screen.width < 500">
        <div class="col-12">
          <p class="poppinsBoldExtraLarge text-left textWhite">02</p>
        </div>
        <div class="col-12">
          <p
            class="textWhite text-left poppinsBoldXXLarge"
            :style="{ fontSize: this.carouselHeaderFont + 'px' }"
            :class="{ headerHeight: this.$screen.width < 500 }"
          >
            Voice Overs
          </p>
        </div>
        <div class="col-6 d-flex justify-content-start">
          <p
            class="textWhite text-left subHeaderTitle poppinsRegularXXLarge d-flex align-items-center"
          >
            Bring your products to life
          </p>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <img :src="designedVO" alt="" width="100%" />
        </div>
      </div>
      <div class="col-12 container-fluid mt-5" v-if="this.$screen.width < 500">
        <div class="col-12 d-flex justify-content-center">
          <l-gender-picker
            :takenType.sync="voiceoverGenderState"
            :clicked.sync="voiceoverGenderClicked"
            @update="voiceoverGenderState, voiceoverGenderClicked"
          ></l-gender-picker>
        </div>
        <div class="col-12 mt-3 d-flex justify-content-center">
          <l-drop
            :activeMood.sync="voiceoverMoodState"
            :clicked.sync="voiceoverMoodClicked"
            @update="voiceoverMoodState, voiceoverMoodClicked"
          ></l-drop>
        </div>

        <div class="col-12 mt-5">
          <l-user-image-circle
            v-if="!voiceUnfound"
            :data.sync="voiceoverDatas"
            :chosen.sync="displayedVOArtist"
            @update="displayedVOArtist, voiceoverClicked"
            :clicked.sync="voiceoverClicked"
            :alignment="'center'"
          />
        </div>
        <transition name="slide-left">
          <div class="row mt-4 p-2" v-if="voiceRetrieved && !voiceUnfound">
            <div
              class="col-2 d-flex align-items-center justify-content-start"
              style="cursor: pointer"
            >
              <img
                :src="wPlay"
                alt=""
                width="30px"
                @click="playWaveSurfer()"
                v-if="!isPlaying"
              />
              <img
                :src="wPause"
                alt=""
                width="30px"
                @click="pauseWaveSurfer()"
                v-if="isPlaying"
              />
            </div>

            <div class="col-10">
              <div id="waveform"></div>
            </div>
          </div>
        </transition>
        <div class="row" v-if="voiceUnfound">
          <lottie-player
            src="https://assets9.lottiefiles.com/packages/lf20_RIic19.json"
            background="transparent"
            speed="1"
            style="width: 300px; height: 300px"
            loop
            autoplay="false"
          ></lottie-player>
          <p class="poppinsSemiBoldLarge textWhite">
            We could not find what you are looking for
          </p>
        </div>
      </div>
    </div>

    <!-- ----------------------- KEY OPINION LEADER ----------------------- -->
    <div class="row marginSections">
      <div class="col-12">
        <p class="poppinsBoldExtraLarge text-right textWhite">03</p>
      </div>
      <div class="col-12">
        <p
          v-if="this.$screen.width > 500"
          class="textWhite poppinsBoldXXLarge"
          :style="{ fontSize: this.carouselHeaderFont + 'px' }"
        >
          Key Opinion Leaders
        </p>
        <p
          v-else
          class="textWhite poppinsBoldXXLarge"
          :style="{ fontSize: this.carouselHeaderFont + 'px' }"
        >
          K.O.L.
        </p>
      </div>

      <div class="col-12 mt-0">
        <p class="textWhite subHeaderTitle poppinsRegularXXLarge">
          Influence buyers with Key Opinion Leaders
        </p>
      </div>
      <div class="col-12 container-fluid">
        <l-kol-phone-holder />
      </div>
    </div>
  </div>
</template>

<script>
// Components
import HomeSlider from "../components/computils/HomeSlider.vue";
// Component Libraries
import Aplayer from "vue-aplayer";
// External Components
import WaveSurfer from "wavesurfer.js";
// Others
import db from "./firebase/firabaseInit";
import "firebase/storage";
import forwardArrow from "../assets/img/icons/forwardarrow.svg";
import backwardArrow from "../assets/img/icons/backwardarrow.svg";
import forwardVO from "../assets/img/icons/forward.svg";
// DirectionIcons
import downArrow from "../assets/img/icons/downArrowWhite.svg";
// Sound Icons
import playbtn from "../assets/img/icons/voice/play.svg";
import pausebtn from "../assets/img/icons/voice/pause.svg";

// Landing Images
import voiceoverDesignImage from "../assets/img/landings/designedVO.svg";
// ImageSamples
import userImage from "../assets/img/samples/userSample.png";
import LGenderPicker from "./libraries/LGenderPicker.vue";
import LDrop from "./libraries/LDrop.vue";
import LUserImageCircle from "./libraries/LUserImageCircle.vue";
import LTopNavBar from "./libraries/LTopNavBar.vue";
import LModelCarousel from "./libraries/LModelCarousel.vue";
import LKolPhoneHolder from "./libraries/LKolPhoneHolder.vue";

export default {
  components: {
    Aplayer,
    HomeSlider,
    LGenderPicker,
    LDrop,
    LUserImageCircle,
    LTopNavBar,
    LModelCarousel,
    LKolPhoneHolder,
  },
  data() {
    return {
      modelGenderState: "",
      voiceoverGenderState: "",
      voiceoverMoodState: "",
      displayedModel: "",
      displayedVOArtist: "",
      modelClicked: false,
      voiceoverClicked: false,
      voiceoverMoodClicked: false,
      voiceoverGenderClicked: false,
      voiceUnfound: false,
      voQuery: null,
      arrow: forwardArrow,
      arrowVO: forwardVO,
      backArrow: backwardArrow,
      // Page Height Settings
      defaultFontSettings: [
        {
          buttonFont: 20,
          carouselHeaderFont: 100,
          carouselmaxHeight: 746,
        },
      ],
      buttonFont: 20,
      carouselHeaderFont: 100,
      carouselmaxHeight: 746,

      // Landings
      designedVO: voiceoverDesignImage,
      // Directions
      dArrow: downArrow,

      // Slider
      uImage: userImage,
      modelDatas: [],
      pages: [],
      // WaveSurfer
      wavesurfer: null,
      voiceRetrieved: false,
      wPlay: playbtn,
      wPause: pausebtn,
      isPlaying: false,
      // VoiceOver Datas
      voiceoverDatas: [],
      chosenVoiceOverTrack: "",
    };
  },
  methods: {
    // ---------------------------------------PAGE SETTINGS
    setRoute() {
      this.$store.dispatch("route/setCurrentRoute", this.$route.name);
      this.getPageSettings();
    },
    goToLink(name) {
      this.$router.push({ name: name });
    },
    // FirebasePageSettings
    getPageSettings() {
      db.collection("settings")
        .doc("initialQueryState")
        .get()
        .then((doc) => {
          this.modelGenderState = doc.data().modelGenderState;
          this.voiceoverGenderState = doc.data().voiceoverGenderState;
          this.voiceoverMoodState = doc.data().voiceoverMoodState;
        });
    },
    // ScreenSizes
    getScreen() {
      const seventyPerc = 0.7;
      const sixtyPerc = 0.6;
      const fourtyPerc = 0.4;
      const twentyPerc = 0.2;
      const tenPerc = 0.1;
      if (this.returnScreenSize < 400) {
        console.log("screen less", this.returnScreenSize);
        var x = this.defaultFontSettings[0].buttonFont * tenPerc;
        var y = this.defaultFontSettings[0].carouselHeaderFont * 1;
        this.buttonFont = this.buttonFont - x;
        this.carouselHeaderFont = this.carouselHeaderFont - y;
        this.carouselmaxHeight = 200;
        console.log(this.buttonFont);
        console.log("getScreenSize");
      }
      if (this.returnScreenSize < 500) {
        console.log("screen less", this.returnScreenSize);
        var x = this.defaultFontSettings[0].buttonFont * fourtyPerc;
        var y = this.defaultFontSettings[0].carouselHeaderFont * sixtyPerc;
        this.buttonFont = this.buttonFont - x;
        this.carouselmaxHeight = 250;
        this.carouselHeaderFont = this.carouselHeaderFont - y;
        console.log(this.buttonFont);
      }
    },

    // ---------------------------------------MODEL SETTINGS
    // Model methods
    loadModels() {
      db.collection("models")
        .orderBy("placement", "asc")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const data = {
              userid: doc.id,
              userplacement: doc.data().placement,
              userimage: doc.data().profileImage,
              username: doc.data().modelName,
              userstate: doc.data().state,
              userdescription: doc.data().modelDescription,
              usergender: doc.data().gender,
            };
            console.log("names", data);
            this.modelDatas.push(data);
            console.log("modelDatas: ", this.modelDatas);
            if (doc.data().state === "active") {
              this.displayedModel = doc.id;
              this.getStateModel(doc.id, "initial");
            }
          });
        });
    },
    getStateModel(id, state) {
      if (state === "initial") {
        this.loadImagesModel(id);
      } else {
        this.pages = [];
        this.loadImagesModel(id);
      }
    },
    loadImagesModel(id) {
      db.collection("models")
        .doc(id)
        .collection("images")
        .orderBy("placement", "asc")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const images = {
              placement: doc.data().placement,
              modelImages: doc.data().image,
            };
            this.pages.push(images);
            console.log("pages load: ", this.pages);
          });
        });
    },
    // END OF Model methods

    // ---------------------------------------VOICE OVER SETTINGS
    initiateNewReference(gender, mood) {
      // EXPLANATION OF CODE
      // (code here runs when ever the user clicks on mood or gender)
      // VARIABLES:

      // -------------------RECEIVING PARAMS:-------------------
      // used for receiving the state of the operation
      // ******** GENDER: refers to the chosen gender that is initially placed or what the user clicked
      // ******** MOOD: refers to the chosen mood that is initially placed or what the user clicked

      // -------------------PASSING PARAMS:-------------------
      // used for passing the params of the operation
      // ***STATE:***
      // ***used for passing the state of the operation to the params of CREATENEWREFERENCE(STATE)
      // ******** INITIAL: used when ids are taken as whole from the voiceovers database without any query needed
      // ******** MOODREF: used when ids are taken from the moods database
      // ******** GENREF: similar to INITIAL, the only difference is that it querries the gender in the voice overs database
      // ***DOCID:***
      // ***used for passing the id of the result of the operation to the params of CREATENEWREFERENCE(STATE, DOCID)
      // ******** DOCID: used when ids are taken from the moods database
      // ******** NULL: if ids are not taken from the params
      // ***MOOD:***
      // ***used for passing the mood of the operation to the params of CREATENEWREFERENCE(STATE, DOCID, MOOD)
      // ******** MOOD: passes the current mood of the operation
      // ******** NULL: if mood is null/ equals to ALL
      // ***GENDER:***
      // ***used for passing the mood of the operation to the params of CREATENEWREFERENCE(STATE, DOCID, MOOD, GENDER)
      // ******** GENDER: passes the current gender of the operation
      // ******** NULL: if gender is null/ equals to ALL

      // -------------------FUNCTIONS:-------------------
      // 1. voiceunfound runs false first since all queries would first appear as available
      // 2. the node then checks the following conditions:
      // ->2A. IF BOTH GENDER AND MOOD === ALL:
      // -----> 1.EMPTY THE VOICE OVER DATAS
      // -----> 2.RELOAD THE VOICE OVER STREAM
      // -----> 3.NODE RUNS CREATENEWREFERENCE(INITIAL, NULL, NULL, NULL)
      // --------> node manually creates a state of INITIAL.
      // --------> node nullifies docid to NULL. since no data was searched in this operation / equals to ALL
      // --------> node nullifies mood to NULL. since no mood was selected in this operation / equals to ALL
      // --------> node nullifies mood to GENDER. since no gender was selected in this operation / equals to ALL

      // ->2B. IF GENDER !== ALL AND MOOD === ALL:
      // -----> 1.since no data will be taken from the MOOD REFERENCE in the database the node then passes the query.
      // -----> 3.NODE RUNS CREATESNEWREFERENCE(GENREF, NULL, NULL, GENDER):
      // --------> node manually creates a state of GENREF.
      // --------> node nullifies docid to NULL. Even if gender is equals to a value, the node can never refer to the MOODREFERENCE since no data
      // ---------->  is given there. We can only refer to the VOICEOVERREFERENCE database
      // --------> node nullifies mood to NULL. since no mood was selected in this operation / equals to ALL
      // --------> node then pass the selected GENDER

      // ->2C. IF GENDER === ALL AND MOOD !== ALL:
      // -----> 1.the node then points to the MOOD REFERENCE in the Database regardless of its sex/gender.
      // -----> 2.the node then gets the DOCID from number 1
      // -----> 3.NODE RUNS CREATESNEWREFERENCE(MOODREF, DOCID, MOOD, NULL):
      // --------> node manually creates the state of MOODREF since ids are taken from moods database
      // --------> node then gets the DOCID from number 1
      // --------> node then passes the MOOD
      // --------> node nullifies mood to GENDER. since gender has been received on the MOODREFERENCE.

      // ->2D. IF GENDER !== ALL AND MOOD !== ALL:
      // -----> 1.the node then points to the MOOD REFERENCE in the Database with the given sex and gender.
      // -----> 2.the node then gets the DOCID from number 1
      // -----> 3.NODE RUNS CREATESNEWREFERENCE(MOODREF, DOCID, MOOD):
      // --------> node manually creates the state of MOODREF since ids are taken from moods database
      // --------> node then gets the DOCID from number 1
      // --------> node then passes the MOOD
      // --------> node nullifies mood to GENDER. since gender has been received on the MOODREFERENCE.

      // END OF DOC

      const initial = "initial";
      const moodref = "moodref";
      const genref = "genref";
      this.voiceUnfound = false;
      console.log("vosmood gender mood: ", mood);
      console.log("vosmood gender: ", gender);
      const MOODREFERENCE = db
        .collection("settings")
        .doc("VoiceOverArtistStates")
        .collection(mood);

      // 2A. IF BOTH GENDER AND MOOD === ALL:
      // STATE: INITIAL | DOCID: NULL | MOOD: NULL | GENDER: NULL
      if (gender === "All" && mood === "All") {
        console.log(
          "1. vosmood gender unchanged moood unchanged",
          gender + " " + mood
        );
        this.createNewReference(initial, null, null, null);
      }

      // 2B. IF GENDER !== ALL AND MOOD === ALL:
      // STATE: GENREF | DOCID: NULL | MOOD: NULL
      if (gender !== "All" && mood === "All") {
        console.log(
          "3. vosmood gender changed moood unchanged",
          gender + " " + mood
        );
        this.createNewReference(genref, null, null, gender);
      }

      // 2C. IF GENDER === ALL AND MOOD !== ALL:
      // STATE: MOODREF | DOCID: DOCID | MOOD: MOOD
      if (gender === "All" && mood !== "All") {
        console.log(
          "2. vosmood gender unchanged moood unchanged",
          gender + " " + mood
        );
        MOODREFERENCE.get().then((snapshot) => {
          if (!snapshot.empty) {
            console.log("2. vosmood snapshot exists");
            snapshot.forEach((doc) => {
              const docid = doc.id;
              console.log("list of moods id: ", docid);
              this.createNewReference(moodref, docid, mood, null);
            });
          } else {
            this.voiceUnfound = true;
            this.voiceOverReload();
          }
        });
      }

      // 2D. IF GENDER !== ALL AND MOOD !== ALL:
      // STATE: MOODREF | DOCID: DOCID | MOOD: MOOD
      if (gender !== "All" && mood !== "All") {
        console.log(
          "4. vosmood gender changed moood changed",
          gender + " " + mood
        );
        MOODREFERENCE.where("gender", "==", gender)
          .get()
          .then((snapshot) => {
            if (!snapshot.empty) {
              console.log("4. vosmood snapshot exists");
              snapshot.forEach((doc) => {
                const docid = doc.id;
                console.log("list of moods id: ", docid);
                this.createNewReference(moodref, docid, mood, null);
              });
            } else {
              this.voiceUnfound = true;
              this.voiceOverReload();
            }
          });
      }
    },

    async createNewReference(state, docid, mood, gender) {
      const mounted = "mounted";
      const initial = "initial";
      const genref = "genref";
      const moodref = "moodref";
      if (state === initial || state === mounted) {
        console.log("create new reference state: ", state);
        this.voiceoverDatas = [];
        this.voiceOverReload(state);
        this.voQuery = db.collection("voiceovers").orderBy("placement", "asc");
        this.loadVoiceOverArtists(state);
      }
      if (state === genref) {
        this.voiceoverDatas = [];
        this.voiceOverReload(state);
        this.voQuery = db
          .collection("voiceovers")
          .where("gender", "==", gender);
        this.loadVoiceOverArtists(state);
      }
      if (state === moodref) {
        this.voiceoverDatas = [];
        this.voiceOverReload(state);
        this.voQuery = db.collection("voiceovers").doc(docid);
        this.loadVoiceOverArtists(state);
      }

      // console.log("vosmood render docid: ", docid);
      // console.log("vosmood render mood: ", mood);
      // this.voiceoverDatas = [];
      // this.voQuery = db.collection("voiceovers").doc(docid);
    },

    async loadVoiceOverArtists(state) {
      const mounted = "mounted";
      const initial = "initial";
      const genref = "genref";
      const moodref = "moodref";
      const self = this;
      if (state === initial || state === genref || state === mounted) {
        console.log("vosmood load artist: ", state);
        console.log("vosmood starting get", this.voQuery);
        await this.voQuery.get().then((query) => {
          console.log("vodatas query", this.voQuery);
          query.forEach((doc) => {
            const data = {
              userid: doc.id,
              userplacement: doc.data().placement,
              userimage: doc.data().profileImage,
              username: doc.data().artistName,
              userstate: doc.data().state,
            };
            self.voiceoverDatas.push(data);
            console.log("teh fucking vodatas: ", self.voiceoverDatas);
            console.log("teh fucking id: ", doc.id);
          });
        });

        this.getVOID(state);
      }
      if (state === moodref) {
        console.log("vosmood load artist not initial: ", state);
        console.log("vosmood starting get", this.voQuery);
        await this.voQuery.get().then((doc) => {
          console.log("vodatas query", this.voQuery);
          const data = {
            userid: doc.id,
            userplacement: doc.data().placement,
            userimage: doc.data().profileImage,
            username: doc.data().artistName,
            userstate: doc.data().state,
          };
          self.voiceoverDatas.push(data);
          console.log("teh fucking vodatas: ", self.voiceoverDatas);
          console.log("teh fucking id: ", doc.id);

          // if initial()
        });
        console.log("before voDatas length: ", this.voiceoverDatas.length);
        if (this.voiceoverDatas.length < 2) {
          this.getVOID(state);
        }
      }
    },
    getVOID(state) {
      console.log("vodatas logging vo: ", this.voiceoverDatas);
      var arrayid = this.voiceoverDatas[0].userid;
      console.log("vodatas arrayid: ", arrayid);
      this.displayedVOArtist = arrayid;
      this.getStateVO(this.displayedVOArtist, state);
    },
    getStateVO(id, state) {
      console.log("vodatas vostate wave: ", this.wavesurfer);
      if (state === "initial") {
        this.loadVoiceAlbum(id);
      } else {
        if (this.wavesurfer !== null) {
          this.voiceOverReload();
          this.loadVoiceAlbum(id);
        } else {
          this.loadVoiceAlbum(id);
        }
      }
    },
    voiceOverReload(state) {
      if (state !== "mounted") {
        this.voiceRetrieved = false;
        console.log("vvodatas ostate not null");
        this.isPlaying = false;
        this.chosenVoiceOverTrack = "";
        this.wavesurfer.destroy();
        console.log("vodatas vostate after : ", this.wavesurfer);
      }
    },
    loadVoiceAlbum(id) {
      db.collection("voiceovers")
        .doc(id)
        .collection("sounds")
        .orderBy("placement", "asc")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            console.log("docs", doc.data().sound);
            this.chosenVoiceOverTrack = doc.data().sound;
            console.log("reached chosen vo track", doc.data().sound);
            // this.chosenVoiceOverTrack = doc.data().sound;
            this.voiceRetrieved = true;
            setTimeout(() => {
              this.createWaveSurfer();
            }, 400);
          });
        });
    },
    // Wave Surfer Settings
    createWaveSurfer() {
      this.wavesurfer = WaveSurfer.create({
        container: "#waveform",
        waveColor: "yellow",
        progressColor: "#fff",
        barWidth: 3,
      });
      console.log("loading wavesurfer");
      this.wavesurfer.load(this.chosenVoiceOverTrack);
      console.log("wafesurfer loaded");
    },
    playWaveSurfer() {
      this.isPlaying = true;
      this.wavesurfer.play();
      console.log("wafesurfer played");
    },
    pauseWaveSurfer() {
      this.isPlaying = false;
      this.wavesurfer.pause();
    },
  },
  computed: {
    returnScreenSize() {
      return this.$screen.width;
    },
  },
  mounted() {
    this.setRoute();
    this.getScreen();
    this.loadModels();
    this.createNewReference("mounted", null, null, null);
  },
  watch: {
    modelGenderState: function (val) {
      console.log("state watchers", val);
    },
    modelClicked: function (val) {
      if (val) {
        this.modelClicked = false;
        this.getStateModel(this.displayedModel, "");
      }
    },
    voiceoverClicked: function (val) {
      if (val) {
        this.voiceoverClicked = false;
        console.log("vostateclick: ", this.displayedVOArtist);
        this.getStateVO(this.displayedVOArtist, "");
      }
    },
    voiceoverMoodClicked: function (val) {
      console.log("moodclicked watchers");
      if (val) {
        this.voiceoverMoodClicked = false;
        this.initiateNewReference(
          this.voiceoverGenderState,
          this.voiceoverMoodState
        );
      }
    },
    voiceoverGenderClicked: function (val) {
      if (val) {
        this.voiceoverGenderClicked = false;
        console.log("vosmood voice over gender state");
        this.initiateNewReference(
          this.voiceoverGenderState,
          this.voiceoverMoodState
        );
      }
    },
    wavesurfer: function (val) {
      const self = this;
      this.wavesurfer.on("finish", function () {
        console.log("wavesurfer finished", val);
        self.isPlaying = false;
      });
    },
  },
};
</script>
<style scoped>
.lineBreak {
  height: 50px;
  background: white;
  width: 100vh;
}

/* Page */
.modelTitleBox {
  border-top: 2px solid white;
  border-left: 40px solid white;
}
.bebasBoldExtraLarge {
  font-size: 2rem;
}

/* Sections */

.subHeaderTitle {
  margin-top: -50px;
  line-height: 90%;
}
.headerHeight {
  line-height: 75%;
}
.marginSections {
  margin-top: 60px;
  margin-bottom: 60px;
}
.marginComponent {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Transition */
/* Trainsition */
.slide-left-enter-active {
  transition: ease-in 0.8s;
}
.slide-left-leave-active {
  transition: ease-out 1s;
}

.slide-left-enter {
  transform: translateX(-200px);
  opacity: 1;
}
.slide-left-leave-to {
  transform: translatey(150px);
  opacity: 0;
}
</style>