<template>
  <div style="height: 100vh" class="container-fluid">
    <!-- FILTERS -->
    <div class="row">
      {{ filters }}
    </div>
    <div class="row">
      <!-- GENDER -->
      <div class="col">
        <p>{{ KOLGender.filterTitle }}</p>
        <ul>
          <li
            @click="setFilter('gender', 'All')"
            :class="{ activedude: !filters.gender }"
          >
            All
          </li>
          <li
            v-for="(filter, index) in KOLGender.Deeps"
            :key="index + 'gender'"
            @click="setFilter(KOLGender.key, filter.val, KOLGender.placement)"
            :class="{ activedude: filters.gender === filter.val }"
          >
            {{ filter.displayed }}
          </li>
        </ul>
      </div>
      <!-- CITY -->
      <div class="col">
        <p>{{ KOLCity.filterTitle }}</p>
        <ul>
          <li
            @click="setFilter('city', 'All')"
            :class="{ activedude: !filters.city }"
          >
            All
          </li>
          <li
            v-for="(filter, index) in KOLCity.Deeps"
            :key="index + 'city'"
            @click="setFilter(KOLCity.key, filter.val, KOLCity.placement)"
            :class="{ activedude: filters.city === filter.val }"
          >
            {{ filter.displayed }}
          </li>
        </ul>
      </div>
      <!-- FIELD -->
      <div class="col">
        <p>{{ KOLField.filterTitle }}</p>
        <ul>
          <li
            @click="setFilter('field', 'All')"
            :class="{ activedude: !filters.field }"
          >
            All
          </li>
          <li
            v-for="(filter, index) in KOLField.Deeps"
            :key="index + 'field'"
            @click="setFilter(KOLField.key, filter.val, KOLField.placement)"
            :class="{ activedude: filters.field === filter.val }"
          >
            {{ filter.displayed }}
          </li>
        </ul>
      </div>
      <!-- PLATFORM -->
      <div class="col">
        <p>{{ KOLPlatform.filterTitle }}</p>
        <ul>
          <li
            @click="setFilter('platform', 'All')"
            :class="{ activedude: !filters.platform }"
          >
            All
          </li>
          <li
            v-for="(filter, index) in KOLPlatform.Deeps"
            :key="index + 'platform'"
            @click="
              setFilter(KOLPlatform.key, filter.val, KOLPlatform.placement)
            "
            :class="{ activedude: filters.platform === filter.val }"
          >
            {{ filter.displayed }}
          </li>
        </ul>
      </div>

      <!-- AUDIENCE -->
      <div class="col">
        <p>{{ AudienceAmount.filterTitle }}</p>
        <ul
          v-for="(filter, index) in AudienceAmount.Deeps"
          :key="index + 'audience'"
        >
          <li @click="setFilter(AudienceAmount.key, filter.val)">
            {{ filter.displayed }}
          </li>
        </ul>
      </div>
    </div>

    <!-- USERS -->
    <h1>USERS</h1>
    <!-- <input v-model="filtered.field" @keyup.enter="pushUsers()" />
    <p>{{ filtered.field }}</p> -->
    <div class="row">
      <div
        class="col"
        v-for="(user, index) in displayedUsers"
        :key="index + 'users'"
      >
        <div class="card">
          <div class="card-body">
            {{ user.name }}
          </div>
        </div>
      </div>
    </div>

    <!-- SHOWING SELECTED FILTERS -->
    <div class="col">
      <ul v-for="(users, index) in displayedUsers" :key="index">
        <li>
          id: {{ users.id }} | field: {{ users.field }} | gender:
          {{ users.gender }} | platforms: {{ users.platform }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import {
  KOLGender,
  KOLPlatform,
  KOLCity,
  KOLField,
  AudienceAmount,
} from "@/assets/rawdata/searchfilters.js";
import { users } from "@/assets/rawdata/kol.js";
export default {
  data() {
    return {
      KOLGender: KOLGender,
      KOLPlatform: KOLPlatform,
      KOLCity: KOLCity,
      KOLField: KOLField,
      AudienceAmount: AudienceAmount,
      users_kol: users,

      displayedUsers: [],
      removedUserid: null,
      filters: [],
    };
  },
  methods: {
    // TO SET FILTERS: DELETE OR APPEND FILTER
    setFilter(key, filter, placement) {
      console.log("placement: ", placement);
      let self = this;
      console.log("filtered: ", filter);
      let importantKeyStone = "platform";
      if (filter !== "All") {
        // Check if filters exists: usually when users double tab the same filters. over and over again.
        if (Object.values(self.filters).includes(filter)) {
          console.log("filter exists", filter);
        } else {
          // below is messing up code:
          // If filters does not exists, push it.
          // if filters does not exist, check if platform.filters exists. if plaftorm filters exists,
          // -->push everything above platform.filters
          // if platform.filters does not exist,
          // -->push normal

          // if (importantKeyStone in self.filters) {
          //   console.log("filter platform exists");
          //   var arr = Array.prototype.slice.call(self.filters);
          //   var data = {key: filter}
          //   arr.unshift(data);
          // }
          //           var obj = {};
          // obj[key] = filter;
          // obj["placement"] = placement;
          // ------
          // Below is before messing up code:
          self.filters[key] = filter;
          this.getUsers();
        }
      } else {
        // if filters is equals to all

        delete self.filters[key];
        this.getUsers();
      }

      console.log("user filters: ", this.filters);

      this.filtered = [filter];
    },
    // TO GET USERS BASED ON FILTERS
    getUsers(val) {
      let self = this;
      let users = this.users_kol;
      if (val !== "initial") {
        users = users.filter((item) => {
          // for every users key in filters key
          for (var key in self.filters) {
            // check if filter is an array
            if (
              Object.prototype.toString.call(item[key]) === "[object Array]" &&
              item[key].length > 1
            ) {
              console.log("more array", item[key]);
              var iterator = item[key].values();
              for (var value of iterator) {
                // to check the inner value;
                console.log("more values: ", value);
                return true;
              }
            } else {
              // if key is undefined or user key is not equal to filters key
              console.log("more object is not an array");
              if (item[key] === undefined || item[key] != self.filters[key]) {
                return false;
              }
            }
          }
          return true;
        });
        this.displayedUsers = users;
      } else {
        this.displayedUsers = users;
      }
    },
  },
  computed: {},
  mounted() {
    this.getUsers("initial");
  },
};
</script>
<style>
li {
  cursor: pointer;
  color: white;
}
li:hover {
  color: yellow;
}
.activedude {
  color: yellow;
}
</style>