<template>
  <div class="backgroundWhite container-fluid">
    <div class="row">
      <div class="col-12">
        <p class="poppinsBoldLarge textBlack text-left" style="font-size: 40px">
          Application
        </p>
      </div>
    </div>
    <div class="row">
      <label for="inputPassword5" class="mt-2 mx-2" align="start"
        >What is your name?</label
      >
      <input
        type="text"
        id="inputPassword5"
        class="form-control mx-2"
        aria-describedby="passwordHelpBlock"
        v-model="name"
      />
      <label for="inputPassword5" class="mt-2 mx-2" align="start"
        >What is your gender?</label
      >
      <select
        class="custom-select mt-2 mx-2"
        id="inlineFormCustomSelect"
        v-model="selectedGender"
      >
        <option
          v-for="(gender, index) in genders"
          v-bind:value="index"
          :key="index"
        >
          {{ gender.gentype }}
        </option>
      </select>
      <label for="inputPassword5" class="mt-2 mx-2" align="start"
        >What is your age?</label
      >
      <input
        type="number"
        id="inputPassword5"
        class="form-control mx-2"
        aria-describedby="passwordHelpBlock"
        v-model="age"
      />
      <label for="inputPassword5" class="mt-2 mx-2" align="start"
        >What is your phone number?</label
      >

      <input
        type="phone"
        v-model="phone"
        id="inputPassword5"
        class="form-control mx-2"
        aria-describedby="passwordHelpBlock"
      />

      <label for="inputPassword5" class="mt-2 mx-2" align="start"
        >What social media are you using?</label
      >
      <select
        class="custom-select mt-2 mx-2"
        id="inlineFormCustomSelect"
        v-model="selectedSocialMedia"
      >
        <option
          v-for="(social, index) in socials"
          v-bind:value="index"
          :key="index"
        >
          {{ social.socialName }}
        </option>
      </select>
      <label
        for="inputPassword5"
        class="mt-2 mx-2"
        align="start"
        v-if="getselectedSocial === 'Instagram' || getselectedSocial === 'Both'"
        >How many followers do you have on Instagram?</label
      >
      <input
        type="number"
        v-model="igFollowers"
        id="inputPassword5"
        class="form-control mx-2"
        aria-describedby="passwordHelpBlock"
        v-if="getselectedSocial === 'Instagram' || getselectedSocial === 'Both'"
      />
      <label
        for="inputPassword5"
        class="mt-2 mx-2"
        align="start"
        v-if="getselectedSocial === 'Tiktok' || getselectedSocial === 'Both'"
        >How many followers do you have on Tiktok?</label
      >
      <input
        type="number"
        v-model="tiktokFollowers"
        id="inputPassword5"
        class="form-control mx-2"
        aria-describedby="passwordHelpBlock"
        v-if="getselectedSocial === 'Tiktok' || getselectedSocial === 'Both'"
      />
      <label
        for="inputPassword5"
        class="mt-2 mx-2"
        align="start"
        v-if="getselectedSocial === 'Instagram' || getselectedSocial === 'Both'"
      >
        What is your Instagram username?</label
      >
      <input
        type="text"
        v-model="instagramUsername"
        id="inputPassword5"
        class="form-control mx-2"
        aria-describedby="passwordHelpBlock"
        v-if="getselectedSocial === 'Instagram' || getselectedSocial === 'Both'"
      />
      <label
        for="inputPassword5"
        class="mt-2 mx-2"
        align="start"
        v-if="getselectedSocial === 'Tiktok' || getselectedSocial === 'Both'"
        >What is your Tiktok username?</label
      >
      <input
        type="text"
        v-model="tiktokUsername"
        id="inputPassword5"
        class="form-control mx-2"
        aria-describedby="passwordHelpBlock"
        v-if="getselectedSocial === 'Tiktok' || getselectedSocial === 'Both'"
      />
    </div>
    <button
      class="blackButton mb-5"
      style="width: 100%"
      @click="checkAllFields()"
    >
      Submit
    </button>
    <l-sending-load
      :isSending.sync="sent"
      v-if="this.showLoading"
      :backRoute.sync="backRoutes"
    />
  </div>
</template>

<script>
import instgaramIcon from "../../../../assets/img/icons/social/instagram.svg";
import tiktokIcon from "../../../../assets/img/icons/social/tiktok.svg";
import LSendingLoad from "../../../libraries/loaders/LSendingLoad.vue";
export default {
  components: {
    LSendingLoad,
  },
  data() {
    return {
      igIcon: instgaramIcon,
      tikIcon: tiktokIcon,
      name: "",
      age: "",
      selectedGender: "",
      selectedSocialMedia: "",
      igFollowers: "",
      tiktokFollowers: "",
      instagramUsername: "",
      tiktokUsername: "",
      genders: [
        { value: "1", gentype: "Male" },
        { value: "2", gentype: "Female" },
      ],
      socials: [
        { value: "1", socialName: "Instagram" },
        { value: "2", socialName: "Tiktok" },
        { value: "3", socialName: "Both" },
      ],
      finalGender: "",
      phone: "",
      sent: true,
      showLoading: false,
      backRoutes: "/career",
    };
  },
  methods: {
    checkSelected(val) {
      console.log("selected", val);
    },
    checkAllFields() {
      this.showLoading = true;
      this.sendMail();
    },
    sendMail() {
      Email.send({
        SecureToken: "6e6a3d9b-1298-40db-bba6-120407536a47",
        To: "talenthankteam@gmail.com",
        From: "applicationcareer@talenthanks.com",
        Subject: "KOL Application",
        Body:
          "<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'> <html xmlns='http://www.w3.org/1999/xhtml' xmlns:o='urn:schemas-microsoft-com:office:office'> <head> <meta charset='UTF-8'> <meta content='width=device-width, initial-scale=1' name='viewport'> <meta name='x-apple-disable-message-reformatting'> <meta http-equiv='X-UA-Compatible' content='IE=edge'> <meta content='telephone=no' name='format-detection'> <title></title> </head> <body> <div class='es-wrapper-color'> <table class='es-wrapper' width='100%' cellspacing='0' cellpadding='0'> <tbody> <tr> <td class='esd-email-paddings' valign='top'> <table class='esd-footer-popover es-content' cellspacing='0' cellpadding='0' align='center'> <tbody> <tr> <td class='esd-stripe' align='center'> <table class='es-content-body' width='600' cellspacing='0' cellpadding='0' bgcolor='#ffffff' align='center'> <tbody> <tr> <td class='es-p20t es-p20r es-p20l esd-structure' align='left'> <table width='100%' cellspacing='0' cellpadding='0'> <tbody> <tr> <td class='esd-container-frame' width='560' valign='top' align='center'> <table width='100%' cellspacing='0' cellpadding='0'> <tbody> <tr> <td align='left' class='esd-block-text'> <h1><strong>Talenthanks KOL Application</strong> </h1> </td> </tr> <tr> <td align='left' class='esd-block-text'> <p><strong>Name</strong>:&nbsp; " +
          this.name +
          "<br><strong>Age</strong>: " +
          this.age +
          "<br><strong>Sex</strong>: " +
          this.getSelectedGender +
          "<br><strong>Platform Type</strong>: " +
          this.getselectedSocial +
          "<br><b>Instagram Username</b>: " +
          this.instagramUsername +
          "<br><b>Instagram Followers</b>: " +
          this.igFollowers +
          "<br><b>Tiktok Username</b>: " +
          this.tiktokUsername +
          "<br><b>Tiktok Followers</b>: " +
          this.tiktokFollowers +
          "<br> </p> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table> </div> </body> </html>",
      }).then((message) => {
        if (message === "OK") {
          console.log("message: ", message);
          this.sent = false;
        }
      });
    },
  },
  computed: {
    setselectedGender() {
      return this.genders[this.selectedGender];
    },
    getSelectedGender() {
      if (this.setselectedGender !== undefined) {
        return this.setselectedGender.gentype;
      }
    },
    setselectedSocial() {
      return this.socials[this.selectedSocialMedia];
    },
    getselectedSocial() {
      if (this.setselectedSocial !== undefined) {
        return this.setselectedSocial.socialName;
      } else {
        return "undefined";
      }
    },
  },
};
</script>

<style scoped>
</style>