<template>
  <div >
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img :src="slideSample" alt="" class="d-block w-100">
          <div
            class="carousel-caption d-md-block text-left align-items-center"
            style="margin-bottom: 10px"
          >
            <p
              class="poppinsBoldXXXLarge mb-0 textWhite"
              :style="{ fontSize: carouselHeaderFont + 'px' }"
            >
              BUNGA
            </p>
            <blockquote
              class="blockquote poppinsRegularLarge speechBubble textWhite"
              v-if="this.$screen.width > 700"
            >
              <p class="mb-0 feedBack">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                posuere erat a ante.sdadasdasd asddasada
              </p>
              <footer class="blockquote-footer poppinsRegularMed">
                Wayne Ramschie <cite title="Source Title">ZFX</cite>
              </footer>
            </blockquote>
            <button
              type="button"
              class="whiteButton poppinsSemiBoldMed"
              :style="{ fontSize: buttonFont + 'px' }"
            >
              Book Bunga
            </button>
            <button
              type="button"
              class="grayButton poppinsSemiBoldMed"
              :style="{ fontSize: buttonFont + 'px' }"
              @click="goToLink('chosenModel', 1)"
            >
              Visit Model
            </button>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</template>

<script>
import banner from "../../assets/img/home/slider.png";
export default {
  data() {
    return {
      slideSample: banner,
      buttonFont: 20,
      defaultFontSettings: [
        {
          buttonFont: 20,
          carouselHeaderFont: 100,
        },
      ],
      buttonFont: 20,
      carouselHeaderFont: 100,
    };
  },
  methods: {
    getScreen() {
      const seventyPerc = 0.7;
      const sixtyPerc = 0.6;
      const fourtyPerc = 0.4;
      const twentyPerc = 0.2;
      const tenPerc = 0.1;
      if (this.returnScreenSize < 400) {
        console.log("screen less", this.returnScreenSize);
        var x = this.defaultFontSettings[0].buttonFont * tenPerc;
        var y = this.defaultFontSettings[0].carouselHeaderFont * twentyPerc;
        this.buttonFont = this.buttonFont - x;
        this.carouselHeaderFont = this.carouselHeaderFont - y;
        console.log(this.buttonFont);
      }
      if (this.returnScreenSize < 500) {
        console.log("screen less", this.returnScreenSize);
        var x = this.defaultFontSettings[0].buttonFont * fourtyPerc;
        var y = this.defaultFontSettings[0].carouselHeaderFont * sixtyPerc;
        this.buttonFont = this.buttonFont - x;
        this.carouselHeaderFont = this.carouselHeaderFont - y;
        console.log(this.buttonFont);
      }
    },
    goToLink(name, params){
        console.log("params: ", params);
        console.log("name: ", name);
        this.$router.push({ name: name, params: { Mid: params } })
    }
  },
  computed: {
    returnScreenSize() {
      return this.$screen.width;
    },
  },
  mounted() {
    this.getScreen();
  },
};
</script>
<style scoped>
.speechBubble {
  background-color: #000000b1;
  padding: 20px;
  max-width: 50%;
  border-left: 10px solid rgb(0, 0, 0);
}
.whiteButton {
  background-color: #ffffff;
  border: none;
  height: 40px;
  padding: 5px 15px;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-right: 10px;
}
.whiteButton:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}
.grayButton {
  background-color: #3434345f;
  border: none;
  height: 40px;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-right: 10px;
}
.grayButton:hover {
  cursor: pointer;
  background-color: #f3f3f332;
  color: #000000;
}
</style>