<template>
  <div>
    <div style="padding-bottom: 50px">
      <div
        class="row container-fluid px-0 mx-0"
        :style="{
          minHeight: this.$screen.height + 'px',
          background: 'url(' + purposeBG + ') no-repeat center center fixed',
        }"
        style="background: #efe300"
      >
        <div class="row mx-0 align-items-center">
          <div class="col-12">
            <div class="col-12" v-if="this.$screen.width > 500">
              <span class="numbering poppinsBoldXXXLarge textBlack"> 01. </span>
              <span
                class="sectionsheader bebasBoldExtraLarge textBlack"
                style="font-size: 50px"
                >The purpose of our existence</span
              >
            </div>
            <div v-else>
              <div class="col-12">
                <span class="numbering poppinsBoldXXXLarge textBlack">
                  01.
                </span>
              </div>
              <div class="col-12">
                <span
                  class="sectionHeaderSmall bebasBoldExtraLarge textBlack"
                  style="font-size: 50px"
                  >The purpose of our existence</span
                >
              </div>
            </div>
            <p class="poppinsSemiBoldLarge textBlack sectionsDescriptionSmall">
              Talenthanks is a platform for anyone that aims to create a solid
              online presence & brand awareness for potential customers or any
              targeted market audiences. With lots of competition in the digital
              era, we see clearly that many businesses run on loss or either
              generate a constant stagnant cashflows all because they do not
              embrace the importance of their brand awareness in the digital
              world. Hence, the idea of Talenthanks was produced to help
              business owners cope up with the competition.
            </p>
          </div>
        </div>
      </div>
      <!-- Arsenal -->
      <div class="">
        <div class="col-12" v-if="this.$screen.width > 800">
          <span class="numbering poppinsBoldXXXLarge textBlack"> 02. </span>
          <span
            class="sectionsheader bebasBoldExtraLarge textBlack"
            style="font-size: 50px"
            >Our Arsenals</span
          >
        </div>
        <div v-else>
          <div class="col-12">
            <span class="numbering poppinsBoldXXXLarge textBlack"> 02. </span>
          </div>
          <div class="col-12">
            <span
              class="sectionHeaderSmall bebasBoldExtraLarge textBlack"
              style="font-size: 50px"
              >Our Arsenals</span
            >
          </div>
        </div>
        <div class="col-12">
          <p
            class="text-center bebasBoldXXXLarge textBlack sectionsDescriptionSmall"
            style="line-height: 80%; opacity: 0.3"
            v-if="this.$screen.width > 700"
          >
            Arsenals to help you conquer online presence.
          </p>
          <p
            class="text-center bebasBoldLarge textBlack sectionsDescriptionSmall"
            style="line-height: 80%; opacity: 0.3"
            v-if="this.$screen.width < 700"
          >
            Arsenals to help you conquer online presence.
          </p>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="col-lg-8 col-sm-12">
          <div class="row">
            <img :src="MODImg" width="100%" alt="" />
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <p
            class="poppinsBoldLarge my-0 textBlack text-right"
            style="font-size: 50px"
            v-if="this.$screen.width > 500"
          >
            Models.
          </p>
          <p
            class="poppinsBoldLarge my-0 textBlack text-left"
            style="font-size: 30px"
            v-if="this.$screen.width < 500"
          >
            Models.
          </p>
          <p
            class="text-right my-0 poppinsRegularMed pl-5"
            v-if="this.$screen.width > 500"
          >
            Models, are more desirable to convey a message or a character
            because a live body helps your customers relate to your brand and
            adds a higher degree of professionalism.
          </p>
          <p
            class="text-left mt-0 poppinsRegularMed"
            v-if="this.$screen.width < 500"
          >
            Models, are more desirable to convey a message or a character
            because a live body helps your customers relate to your brand and
            adds a higher degree of professionalism.
          </p>
          <div
            class="row justify-content-end px-2"
            v-if="this.$screen.width > 500"
            @click="goToRoute(MODRoute)"
          >
            <span
              class="bebasBoldMed textBlack mt-1 pathText"
              style="font-size: 20px"
            >
              See Models
              <span> <img :src="forwardIC" height="10px" alt="" /></span>
            </span>
          </div>
          <div
            class="row justify-content-start px-3 mb-5"
            v-if="this.$screen.width < 500"
            @click="goToRoute(MODRoute)"
          >
            <span
              class="bebasBoldMed textBlack mt-1 pathText"
              style="font-size: 20px"
            >
              See Models
              <span> <img :src="forwardIC" height="10px" alt="" /></span>
            </span>
          </div>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="col-lg-8 col-sm-12">
          <div class="row">
            <img :src="VOImg" width="100%" alt="" />
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <p
            class="poppinsBoldLarge my-0 textBlack text-right"
            style="font-size: 50px"
            v-if="this.$screen.width > 500"
          >
            Voice overs.
          </p>
          <p
            class="poppinsBoldLarge my-0 textBlack text-left"
            style="font-size: 30px"
            v-if="this.$screen.width < 500"
          >
            Voice Overs.
          </p>
          <p
            class="text-right my-0 poppinsRegularMed pl-5"
            v-if="this.$screen.width > 500"
          >
            One of the most important elements of any commercial is the voice
            you hear, conveying the tone of the brand and providing information
            about the product or service.
          </p>
          <p
            class="text-left mt-0 poppinsRegularMed"
            v-if="this.$screen.width < 500"
          >
            One of the most important elements of any commercial is the voice
            you hear, conveying the tone of the brand and providing information
            about the product or service.
          </p>
          <div
            class="row justify-content-end px-2"
            v-if="this.$screen.width > 500"
            @click="goToRoute(VORoute)"
          >
            <span
              class="bebasBoldMed textBlack mt-1 pathText"
              style="font-size: 20px"
            >
              See Voice overs
              <span> <img :src="forwardIC" height="10px" alt="" /></span>
            </span>
          </div>
          <div
            class="row justify-content-start px-3 mb-5"
            v-if="this.$screen.width < 500"
            @click="goToRoute(VORoute)"
          >
            <span
              class="bebasBoldMed textBlack mt-1 pathText"
              style="font-size: 20px"
            >
              See Voice overs
              <span> <img :src="forwardIC" height="10px" alt="" /></span>
            </span>
          </div>
        </div>
      </div>
      <div class="row container-fluid">
        <div class="col-lg-8 col-sm-12">
          <div class="row">
            <img :src="KOLImg" width="100%" alt="" />
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <p
            class="poppinsBoldLarge my-0 textBlack text-right px-0 mx-0"
            style="font-size: 50px"
            v-if="this.$screen.width > 500"
          >
            Influencers.
          </p>
          <p
            class="poppinsBoldLarge my-0 textBlack text-left px-0 mx-0"
            style="font-size: 30px"
            v-if="this.$screen.width < 500"
          >
            Influencers.
          </p>
          <p
            class="text-right my-0 poppinsRegularMed"
            v-if="this.$screen.width > 500"
          >
            Influencers have the ability to help drive more people to your
            products and services, as they have already gained the trust of
            their followers. Collaborating with influencers can bring you brand
            recognition, enhance your reputation, audience engagement and
            increase conversions.
          </p>
          <p
            class="text-left my-0 poppinsRegularMed"
            v-if="this.$screen.width < 500"
          >
            Influencers have the ability to help drive more people to your
            products and services, as they have already gained the trust of
            their followers. Collaborating with influencers can bring you brand
            recognition, enhance your reputation, audience engagement and
            increase conversions.
          </p>
          <div
            class="row justify-content-end px-2"
            v-if="this.$screen.width > 500"
            @click="goToRoute(KOLRoute)"
          >
            <span
              class="bebasBoldMed textBlack mt-1 pathText"
              style="font-size: 20px"
            >
              See Influencers
              <span> <img :src="forwardIC" height="10px" alt="" /></span>
            </span>
          </div>
          <div
            class="row justify-content-start px-3"
            v-if="this.$screen.width < 500"
            @click="goToRoute(KOLRoute)"
          >
            <span
              class="bebasBoldMed textBlack mt-1 pathText"
              style="font-size: 20px"
            >
              See Influencers
              <span> <img :src="forwardIC" height="10px" alt="" /></span>
            </span>
          </div>
        </div>
      </div>

      <hr />
      <div class="">
        <div class="col-12" v-if="this.$screen.width > 800">
          <span class="numbering poppinsBoldXXXLarge textBlack"> 03. </span>
          <span
            class="sectionsheader bebasBoldExtraLarge textBlack"
            style="font-size: 50px"
            >Our Partners</span
          >
        </div>
        <div v-else>
          <div class="col-12">
            <span class="numbering poppinsBoldXXXLarge textBlack"> 03. </span>
          </div>
          <div class="col-12">
            <span
              class="sectionHeaderSmall bebasBoldExtraLarge textBlack"
              style="font-size: 50px"
              >Our Partners</span
            >
          </div>
        </div>
        <div class="col-12">
          <p
            class="text-center bebasBoldXXXLarge textBlack sectionsDescriptionSmall"
            style="line-height: 80%; opacity: 0.3"
            v-if="this.$screen.width > 700"
          >
            Businesses that will help "Veni, Vidi, Vici" become a reality for
            you and your business.
          </p>
          <p
            class="text-center bebasBoldLarge textBlack sectionsDescriptionSmall"
            style="line-height: 80%; opacity: 0.3"
            v-if="this.$screen.width < 700"
          >
            Businesses that will help "Veni, Vidi, Vici" become a reality for
            you and your business.
          </p>
        </div>
        <div class="row mx-0">
          <div class="col-lg-6 col-sm-12">
            <div class="card mt-1" style="border: none">
              <div class="card-body backgroundBlack">
                <video
                  autoplay
                  controls
                  loop
                  muted
                  width="100%"
                  :src="ApanamanyaVid"
                ></video>
                <div class="col-12">
                  <img :src="ApanamanyaIC" height="50px" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="card mt-1" style="border: none">
              <div class="card-body backgroundYellow">
                <video
                  autoplay
                  controls
                  loop
                  muted
                  width="100%"
                  :src="KelakVid"
                ></video>
                <div class="col-12">
                  <img :src="KelakIC" height="50px" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-0 mb-5">
      <div class="col-12 textBlack">
        2021 © Talenthanks. All rights reserved. Powered By Sarang Ide.
      </div>
    </div>
  </div>
</template>

<script>
import purposeBackGround from "../../assets/img/about/puposeBG.svg";
import VOImage from "../../assets/img/about/voiceovers.png";
import KOLImage from "../../assets/img/about/kols.png";
import ModelImage from "../../assets/img/about/models.png";
import Kelak from "../../assets/img/about/kelak.svg";
import KelakVideo from "../../assets/img/about/KelakVideo.mp4";
import ApanamanyaVideo from "../../assets/img/about/ApanamanyaVideo.mp4";
import Apanamanya from "../../assets/img/about/apanamanya.svg";
import forwardArrow from "../../assets/img/icons/forwardarrow.svg";

export default {
  data() {
    return {
      purposeBG: purposeBackGround,
      VOImg: VOImage,
      KOLImg: KOLImage,
      MODImg: ModelImage,
      KelakIC: Kelak,
      ApanamanyaIC: Apanamanya,
      forwardIC: forwardArrow,
      KelakVid: KelakVideo,
      ApanamanyaVid: ApanamanyaVideo,
      //   Routes:
      MODRoute: "/Model/r05j4nxIxt1nwNtyF1ftN",
      VORoute: "/VoiceOver/gU1neVr3pR@m9cH13",
      KOLRoute: "/KeyOpinionLeader/GV3n812eV63N14p473nKv4n",
    };
  },
  methods: {
    goToRoute(route) {
      setTimeout(() => {
        this.$router.push(route);
      }, 300);
    },
    setRoute() {
      this.$store.dispatch("route/setCurrentRoute", this.$route.name);
    },
  },
  mounted() {
    this.setRoute();
  },
};
</script>

<style scoped>
.numbering {
  opacity: 0.1;
}
.sectionsheader {
  z-index: 9;
  margin-left: -30px;
  line-height: 50%;
}
.sectionsDescription {
  padding-left: 150px;
  padding-right: 150px;
  color: #464646;
}

.sectionHeaderSmall {
  line-height: 50%;
}

.sectionsDescriptionSmall {
  padding-left: 10px;
  padding-right: 10px;
}
.blackBar {
  background: #000000;
  width: 50px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.yellowBar {
  background: #efe300;
  width: 50px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pathText {
  cursor: pointer;
  background: linear-gradient(to bottom, #efe300 0%, #efe300 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}
.pathText:hover {
  background-size: 4px 50px;
}
hr {
  border-top: 1px solid rgba(164, 164, 164, 0.224);
  width: 80%;
}
</style>