<template>
  <div class="backgroundBlack">
    <div class="col-12 p-1 m-0 breadcrumbsNav" align="left">
      <span class="poppinsSemiBold pointer textDarkGray" @click="goToRoute('/')"> Home </span>
      <span class="poppinsSemiBold pointer" :class="{textWhite: childroutePath === 'career', textDarkGray: childroutePath !== 'career'}"  @click="goToRoute('/career')"> /Career </span>
      <span class="poppinsSemiBold textWhite pointer" v-if="childroutePath !== 'career'"> /{{childroutePath}} </span>
    </div>
    <router-view></router-view>
    <!-- <initial-fragment class="marginSections"/> -->
  </div>
</template>

<script>
import InitialFragment from './Career/InitialFragment.vue';
export default {
  components:{
    InitialFragment
  },
  data() {
    return {};
  },
  methods: {
    setRoute() {
      this.$store.dispatch("route/setCurrentRoute", this.$route.name);
    },
    goToRoute(val){
      this.$router.push(val).catch(()=>{});
    }
  },
  computed:{
    childroutePath(){
      return this.$route.name
    }
  },
  mounted() {
    this.setRoute();
  },
};
</script>

<style scoped>
.breadcrumbsNav{
  z-index: 999;
}
</style>