<template>
  <div class="container-fluid">
    <l-search-kol
      :openSearch.sync="openSearch"
      @update="openSearch, receivedArtist"
      :artistsCoreData.sync="coreData"
      :chosenArtist.sync="receivedArtist"
    />
    <div class="row" :class="{ blur: openSearch }">
      <!-- DELETE REFS -->
      <div
        v-if="!showForm"
        ref="container"
        class="container-fluid kolContainer"
      >
        <div class="col-12" style="margin-top: 100px">
          <l-user-image-circle
            :data.sync="coreData"
            :chosen.sync="currentArtistID"
            :clickedData.sync="receivedArtist"
            @update="receivedArtist, currentArtistID"
          />
        </div>

        <div class="row">
          <div class="col-12 flex justify_center" align="left">
            <p
              class="bebasBoldLarge textWhite text-left"
              style="font-size: 40px"
            >
              {{ currentArtist.username }}
              <span class="textYellow">.</span>
            </p>
          </div>
          <div class="row container-fluid px-0 mx-1" style="margin-top: -60px">
            <div class="col-6 p-1 poppinsBoldMed textWhite">
              <div
                class="col-12 mr-2 py-0 mt-0 flex justify_end bebasBoldXXXLarge"
              >
                {{ currentArtist.ig_followers }}
              </div>
              <div class="col-12 mr-2 flex justify_end followersText">
                Instagram Follower
              </div>
            </div>
            <div class="col-6 p-1 poppinsBoldMed textWhite text-right">
              <div
                class="
                  col-12
                  ml-2
                  py-0
                  mt-0
                  flex
                  justify_start
                  bebasBoldXXXLarge
                "
              >
                {{ currentArtist.tt_followers }}
              </div>
              <div class="col-12 ml-2 flex justify_start followersText">
                Tik Tok Followers
              </div>
            </div>
          </div>
          <div class="col-12 poppinsRegularMed">
            <div class="row d-flex justify-content-center">
              <div
                v-for="(field, index) in currentArtist.fields"
                :key="index"
                class="pr-2 pt-1"
              >
                <l-icons-kol :fieldType="field" />
              </div>
            </div>
          </div>
          <div class="col-12 px-1 mt-3">
            <div class="col-12">
              <p class="poppinsRegularLarge textWhite text-left">
                {{ currentArtist.desc }}
              </p>
            </div>
          </div>
          <hr />
          <div class="col-12">
            <l-kol-phone-holder
              :dataType.sync="phoneVideoDataType"
              :coreData.sync="currentArtistInitVideo"
            />
          </div>
          <div class="col-12 mb-5">
            <button
              class="blackLightGray poppinsSemiBoldLarge textWhite capitalize"
              @click="openWa"
              style="width: 40%"
            >
              Book {{ currentArtist.username }}
            </button>
          </div>
          <div class="col-12 poppinsBoldXXLarge statHeader">
            Followers by City
          </div>

          <div class="row container-fluid mx-0 mb-5 px-0">
            <div class="col-6 flex justify_end">
              <div
                class="statSwitcher"
                :class="{ active: !showGraphCity }"
                @click="showGraphCity = false"
              >
                <span>
                  <img
                    :src="statDefActive"
                    v-show="!showGraphCity"
                    class="mr-2"
                    width="15px"
                    alt=""
                  />
                  <img
                    :src="statDefInactive"
                    v-show="showGraphCity"
                    class="mr-2"
                    width="15px"
                    alt=""
                  />
                </span>
                Simplified
              </div>
            </div>

            <div class="col-6 p-1 flex justify_start">
              <div
                class="statSwitcher"
                :class="{ active: showGraphCity }"
                @click="showGraphCity = true"
              >
                <span>
                  <img
                    :src="statGraphActive"
                    v-show="showGraphCity"
                    class="mr-2"
                    width="15px"
                    alt=""
                  />
                  <img
                    :src="statGraphInactive"
                    v-show="!showGraphCity"
                    class="mr-2"
                    width="15px"
                    alt=""
                  />
                </span>
                Graph
              </div>
            </div>
            <div class="row container-fluid px-1" v-if="showGraphCity">
              <apexchart
                type="bar"
                height="500"
                :width="this.$screen.width"
                :options="cityOptions"
                :series="citySeries"
              ></apexchart>
            </div>
            <div v-show="!showGraphCity" class="mt-3 container-fluid">
              <div
                class="row mx-0 px-0 mb-2"
                v-for="(cities, index) in chunkedCityStats"
                :key="index + Math.random()"
              >
                <div
                  class="col-lg-4 col-sm-12 col-md-12"
                  v-for="(city, index) in cities"
                  :key="index + Math.random()"
                >
                  <div
                    class="progress backgroundLightGray"
                    style="height: 15px"
                  >
                    <div
                      class="
                        progress-bar progress-bar-striped
                        bg-warning
                        textBlack
                      "
                      role="progressbar"
                      :style="{
                        width: stringToNumber(city.val) + '%',
                      }"
                      :aria-valuenow="stringToNumber(city.val)"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      {{ stringToNumber(city.val) }}%
                    </div>
                  </div>
                  <p
                    class="
                      poppinsRegularMed
                      capitalize
                      textWhite
                      flex
                      justify_start
                    "
                  >
                    {{ city.city }}
                  </p>
                </div>
              </div>
            </div>
            <div class="row container-fluid mx-0 px-0">
              <div class="col-lg-6 col-md-12 col-sm-12 mx-0 px-0">
                <div
                  class="
                    col-12
                    flex
                    justify_center
                    poppinsBoldXXLarge
                    statHeader
                  "
                >
                  Followers by Age
                </div>

                <div class="row container-fluid mx-0 px-0 mb-5">
                  <div class="col-6 flex justify_end">
                    <div
                      class="statSwitcher"
                      :class="{ active: !showGraphAge }"
                      @click="showGraphAge = false"
                    >
                      <span>
                        <img
                          :src="statDefActive"
                          v-show="!showGraphAge"
                          class="mr-2"
                          width="15px"
                          alt=""
                        />
                        <img
                          :src="statDefInactive"
                          v-show="showGraphAge"
                          class="mr-2"
                          width="15px"
                          alt=""
                        />
                      </span>
                      Simplified
                    </div>
                  </div>
                  <div class="col-6 flex justify_start">
                    <div
                      class="statSwitcher"
                      :class="{ active: showGraphAge }"
                      @click="showGraphAge = true"
                    >
                      <span>
                        <img
                          :src="statPieActive"
                          v-show="showGraphAge"
                          class="mr-2"
                          width="15px"
                          alt=""
                        />
                        <img
                          :src="statPieInactive"
                          v-show="!showGraphAge"
                          class="mr-2"
                          width="15px"
                          alt=""
                        />
                      </span>
                      Pie
                    </div>
                  </div>
                </div>

                <div v-if="!showGraphAge">
                  <div
                    class="row container-fluid mx-0 px-0"
                    v-for="(ages, index) in chunkedAgeByMalesStats"
                    :key="index + Math.random()"
                  >
                    <div
                      class="col-lg-4 col-sm-12 col-md-12"
                      v-for="(age, index) in ages"
                      :key="index + Math.random()"
                    >
                      <div
                        class="progress backgroundLightGray"
                        style="height: 15px"
                      >
                        <div
                          class="
                            progress-bar progress-bar-striped
                            bg-warning
                            textBlack
                          "
                          role="progressbar"
                          :style="{
                            width: stringToNumber(age.val) + '%',
                          }"
                          :aria-valuenow="stringToNumber(age.val)"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          {{ age.val }}%
                        </div>
                      </div>
                      <p
                        class="
                          poppinsRegularMed
                          capitalize
                          textWhite
                          flex
                          justify_start
                        "
                      >
                        {{ age.age }} years old
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="col-12 px-0 mx-0 flex justify_center"
                  v-if="showGraphAge"
                  v-dragscroll.y="true"
                >
                  <apexchart
                    type="polarArea"
                    width="300"
                    :options="ageOptions"
                    :series="ageSeries"
                  ></apexchart>
                </div>
              </div>

              <!-- Followers By Gender -->

              <div
                class="col-lg-6 col-md-12 col-sm-12 mx-0 px-0"
                v-dragscroll.y="true"
              >
                <div
                  class="
                    col-12
                    flex
                    justify_center
                    poppinsBoldXXLarge
                    statHeader
                  "
                >
                  Followers by Sex
                </div>
                <div class="row container-fluid mx-0 px-0 mb-5">
                  <div class="col-6 flex justify_end">
                    <div
                      class="statSwitcher"
                      :class="{ active: !showGraphGender }"
                      @click="showGraphGender = false"
                    >
                      <span>
                        <img
                          :src="statDefActive"
                          v-show="!showGraphGender"
                          class="mr-2"
                          width="15px"
                          alt=""
                        />
                        <img
                          :src="statDefInactive"
                          v-show="showGraphGender"
                          class="mr-2"
                          width="15px"
                          alt=""
                        />
                      </span>
                      Simplified
                    </div>
                  </div>
                  <div class="col-6 flex justify_start">
                    <div
                      class="statSwitcher"
                      :class="{ active: showGraphGender }"
                      @click="showGraphGender = true"
                    >
                      <span>
                        <img
                          :src="statPieActive"
                          v-show="showGraphGender"
                          class="mr-2"
                          width="15px"
                          alt=""
                        />
                        <img
                          :src="statPieInactive"
                          v-show="!showGraphGender"
                          class="mr-2"
                          width="15px"
                          alt=""
                        />
                      </span>
                      Pie
                    </div>
                  </div>
                </div>
                <div v-if="!showGraphGender" style="padding-bottom: 150px">
                  <div class="col-12">
                    <div class="progress backgroundYellow" style="height: 15px">
                      <!-- CHANGE -->
                      <div
                        class="progress-bar progress-bar-striped"
                        role="progressbar"
                        :style="{
                          width:
                            stringToNumber(audienceGendemographics[0].val) +
                            '%',
                        }"
                        :aria-valuenow="followersStat"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row px-0 mx-0 container-fluid textWhite">
                      <div
                        class="col-6 flex justify_center poppinsRegularMed"
                        v-for="(gender, index) in audienceGendemographics"
                        :key="index"
                      >
                        {{ gender.gender }}: {{ gender.val }}%
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="col-12 px-0 mx-0 flex justify_center"
                  style="padding-bottom: 150px"
                  v-if="showGraphGender"
                >
                  <apexchart
                    type="radialBar"
                    width="300"
                    :options="chartOptions"
                    :series="series"
                  ></apexchart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <l-chat-whatsapp
        :sendWA.sync="sendChat"
        :name.sync="currentArtist.username"
        :messageType.sync="waMessageType"
        @update="sendChat"
      />
    </div>
  </div>
</template>

<script>
import db from "../firebase/firabaseInit";
import LSearchKol from "../libraries/KOLFiIters/LSearchKol.vue";
import sample from "../../assets/img/samples/halehan.jpg";
import videoModels from "../../assets/img/samples/storySampleJanice.mp4";
import LFullScreenVideo from "../libraries/LFullScreenVideo.vue";
import LUserImageCircle from "../libraries/LUserImageCircle.vue";
import LChatWhatsapp from "../libraries/LChatWhatsapp.vue";
import LKolPhoneHolder from "../libraries/LKolPhoneHolder.vue";
import LIconsKol from "../libraries/KOLFiIters/LIconsKol";
import debounce from "lodash/debounce";
import chunk from "chunk";
import VueApexCharts from "vue-apexcharts";

// ICONS
import statdefaultactive from "../../assets/img/icons/kolstats/stat_default_ic_active.svg";
import statdefaultinactive from "../../assets/img/icons/kolstats/stat_default_ic_inactive.svg";
import statgraphactive from "../../assets/img/icons/kolstats/stat_graph_ic_active.svg";
import statdegraphinactive from "../../assets/img/icons/kolstats/stat_graph_ic_inactive.svg";
import statpieactive from "../../assets/img/icons/kolstats/stat_pie_ic_active.svg";
import statpieinactive from "../../assets/img/icons/kolstats/stat_pie_ic_inactive.svg";
import instaIC from "../../assets/img/icons/social/instagram.svg";
import tiktokIC from "../../assets/img/icons/social/tiktok.svg";
export default {
  components: {
    LSearchKol,
    LChatWhatsapp,
    LUserImageCircle,
    LKolPhoneHolder,
    LIconsKol,
    apexchart: VueApexCharts,
  },
  data() {
    return {
      KolId: this.$route.params.Kid,
      waMessageType: "Book",
      igIC: instaIC,
      ttIC: tiktokIC,
      openSearch: false,
      coreData: [],
      videoData: [],
      phoneVideoDataType: "Single",
      sampleImg: sample,
      displayedArtist: "",
      videoSource: "",
      handleDebouncedScroll: "",
      height: 0,
      defaults: [
        { scrollheightSmallScreen: 300, scrollheightLargeScreen: 350 },
      ],
      sendChat: false,
      careerName: "Model",

      // SHOULD CHANGE SHOWFORM TO OPENSEARCH
      showForm: false,
      currentArtist: [],
      currentArtistInitVideo: [],
      receivedArtist: {},
      currentArtistID: "",
      visibility: 150,
      audienceCities: [],
      audienceAgeMales: [],
      audienceGendemographics: [],

      // stat toggles
      statDefActive: statdefaultactive,
      statDefInactive: statdefaultinactive,
      statGraphActive: statgraphactive,
      statGraphInactive: statdegraphinactive,
      statPieActive: statpieactive,
      statPieInactive: statpieinactive,
      // GENDER SERIES
      showGraphGender: true,
      series: [],
      chartOptions: {
        chart: {
          height: 350,
          type: "radialBar",
        },
        fill: {
          colors: ["#0970ff", "#FFC107"],
        },
        plotOptions: {
          radialBar: {
            fill: {
              colors: ["#FFC107", "#1789FC"],
            },
            dataLabels: {
              name: {
                fontSize: "22px",
                color: "#fff",
              },
              value: {
                fontSize: "16px",
                color: "#fff",
              },
              total: {
                show: true,
                label: "Sex",
                color: "#2f2f2f",
                formatter: function (w) {
                  // By default this function returns the average of all series.
                  // The below is just an example to show the use of custom formatter
                  // function
                  // {
                  //   return  w.globals.series.reduce((a, b) => {return a + b}, 0);
                  // }
                },
              },
            },
          },
        },
        states: {
          hover: {
            filter: {
              type: "darken",
              value: 0.5,
            },
          },
        },
        labels: [],
      },

      // AGE SERIES
      showGraphAge: true,
      ageSeries: [],
      ageOptions: {
        chart: {
          width: 380,
          type: "polarArea",
        },
        labels: [],
        fill: {
          opacity: 1,
        },
        stroke: {
          width: 1,
          colors: undefined,
        },
        yaxis: {
          show: false,
        },
        legend: {
          position: "top",
        },
        plotOptions: {
          polarArea: {
            rings: {
              strokeWidth: 0,
            },
          },
        },
        theme: {
          monochrome: {
            enabled: false,
            shadeTo: "dark",
            shadeIntensity: 0.3,
            color: "#efe300",
          },
        },
      },

      // CITY SERIES
      showGraphCity: false,
      citySeries: [{ name: "Followers(percent)", data: [] }],
      cityOptions: {
        chart: {
          type: "bar",
          height: 350,
          toolbar: {
            show: false,
          },
        },
        plotOptions: {
          bar: {
            horizontal: false,
          },
        },
        dataLabels: {
          enabled: true,
        },

        xaxis: {
          categories: [],
        },
        fill: {
          colors: ["#EFE300", "#E91E63", "#9C27B0"],
        },
      },
      totalAudienceGender: 0,
    };
  },
  methods: {
    setRoute() {
      this.$store.dispatch("route/setCurrentRoute", this.$route.name);
      console.log("route name");
    },
    awaitLoad() {
      this.videoSource = videoModels;
      if (this.$screen.width < 700) {
        this.height = 300;
      } else {
        this.height = 350;
      }
    },
    handleScroll(event) {
      // Any code to be executed when the window is scrolled
      this.isUserScrolling = window.scrollY > 0;
      if (this.handleDebouncedScroll) {
        if (this.$screen.width < 700) {
          console.log("screen small");
          var newHeight =
            this.defaults[0].scrollheightSmallScreen +
            this.$refs.container.scrollTop;
          this.height = newHeight.toFixed(0);
          var heightTimesPerc = newHeight * 0.8;
          this.generateVisibility(newHeight + heightTimesPerc);
        } else {
          // console.log("screen large");
          var newHeight =
            this.defaults[0].scrollheightLargeScreen +
            100 +
            this.$refs.container.scrollTop;
          this.height = newHeight.toFixed(0);
          var heightTimesPerc = newHeight * 0.8;
          this.generateVisibility(newHeight + heightTimesPerc - 100);
        }
      }
    },
    generateVisibility(val) {
      if (val < 999) {
        console.log("small", val);
        var newVisibility = val.toFixed();
        this.visibility = newVisibility;
        console.log("new visibility val small: ", this.returnInvisibility);
      } else {
        console.log("small", val);
        var newVisibility = 999;
        this.visibility = newVisibility;
        console.log("new visibility val small: ", this.returnInvisibility);
      }
    },
    openWa() {
      this.sendChat = true;
    },
    // Load all informations including pp image except for inner images and videos
    loadCoreDataArtists() {
      const self = this;
      db.collection("kol")
        .orderBy("time", "asc")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const docter = doc;
            var x = {
              userid: doc.id,
              username: doc.data().artistName.toLowerCase(),
              tt_followers: doc.data().tt_followers,
              ig_followers: doc.data().ig_followers,
              gender: doc.data().gender,
              city: doc.data().city,
              field: doc.data().field,
              userimage: doc.data().ppImage,
              fields: doc.data().fields,
              age: doc.data().age,
              platforms: doc.data().platforms,
              desc: doc.data().desc,
              cities: doc.data().cities,
              ageByMales: doc.data().ageByMales,
              gendemographics: doc.data().gendemographics,
            };
            this.coreData.push(x);
            if (this.coreData.length > 0) {
              if (
                self.KolId === "GV3n812eV63N14p473nKv4n" &&
                self.coreData.length === 1
              ) {
                console.log("original ran miracle");
                this.loadCurrentUserMedia(this.coreData[0]);
              } else if (self.KolId === docter.id) {
                console.log("original ran blind");
                this.runBlind(x);
              }
            }
          });
        });
    },

    // Load all inner Images and Videos
    runBlind(val) {
      console.log("ran Blind", val);
      this.currentArtist = val;
      this.currentArtistID = val.userid;
      console.log("blind current Artist ID; ", this.currentArtistID);
      this.loadVideosCoreData(val.userid);
      this.pushFollowersByCityStats();
      this.pushFollowersByAge();
      this.pushGenDemoGraphics();
    },

    loadCurrentUserMedia(val) {
      this.currentArtist = val;
      this.currentArtistID = val.userid;
      console.log("ran Miracle", val);
      console.log("ran Miracle artist", this.currentArtist);
      this.loadVideosCoreData(val.userid);
      this.pushFollowersByCityStats();
      this.pushFollowersByAge();
      this.pushGenDemoGraphics();
    },
    loadVideosCoreData(val) {
      const self = this;
      console.log("core data user id: ", val);
      db.collection("kol")
        .doc(val)
        .collection("videos")
        .orderBy("views", "desc")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            var data = {
              image: self.currentArtist.userimage,
              name: self.currentArtist.username,
              platform: doc.data().platform,
              views: doc.data().views,
              video: doc.data().videosource,
              shares: doc.data().shares,
              field: doc.data().field,
              desc: doc.data().desc,
            };
            this.currentArtistInitVideo.push(data);
            console.log("current artist video types: ", data);
          });
        });
    },
    pushFollowersByCityStats() {
      var firebaseString = this.currentArtist.cities.toString();
      console.log("firebase string: ", firebaseString);
      var jsonparse = JSON.parse("[" + firebaseString + "]");
      this.audienceCities = jsonparse;
      console.log("firebase jason parsed: ", this.audienceCities);
      console.log("firebase jason parsed chunked: ", this.chunkedCityStats);

      for (let i = 0; i < this.audienceCities.length; i++) {
        let data = this.audienceCities[i];
        this.citySeries[0].data.push(Number(data.val));
        this.cityOptions.xaxis.categories.push(data.city);
      }
    },
    pushFollowersByAge() {
      var firebaseString = this.currentArtist.ageByMales.toString();
      console.log("firebase string: ", firebaseString);
      var jsonparse = JSON.parse("[" + firebaseString + "]");
      this.audienceAgeMales = jsonparse;
      console.log("firebase jason parsed: ", this.audienceAgeMales);
      console.log("firebase json parsed parsed: ", this.chunkedAgeByMalesStats);

      for (let i = 0; i < this.audienceAgeMales.length; i++) {
        let data = this.audienceAgeMales[i];
        this.ageSeries.push(Number(data.val));
        this.ageOptions.labels.push(data.age);
      }
    },
    pushGenDemoGraphics() {
      var firebaseString = this.currentArtist.gendemographics.toString();
      console.log("firebase string: ", firebaseString);
      var jsonparse = JSON.parse("[" + firebaseString + "]");
      this.audienceGendemographics = jsonparse;
      console.log("firebase jason parsed: ", this.audienceGendemographics);

      for (let i = 0; i < this.audienceGendemographics.length; i++) {
        let data = this.audienceGendemographics[i];
        this.series.push(Number(data.val));
        this.chartOptions.labels.push(data.gender);
        this.totalAudienceGender = this.totalAudienceGender + Number(data.val);
      }
    },
    stringToNumber(val) {
      return Number(val);
    },
    async loadNewData(val) {
      await this.clearAll();
      this.loadCurrentUserMedia(val);
    },

    clearAll() {
      // currentArtist
      this.currentArtist = [];
      this.currentArtistInitVideo = [];

      // cities
      this.audienceCities = [];
      this.citySeries[0].data = [];
      this.cityOptions.xaxis.categories = [];

      // genders
      this.audienceAgeMales = [];
      this.ageSeries = [];
      this.ageOptions.labels = [];
      // Gender demographics
      this.audienceGendemographics = [];
      this.series = [];
      this.chartOptions.labels = [];
      this.totalAudienceGender = 0;
    },
  },
  computed: {
    returnWantedPosition() {
      if (this.$screen.touch) {
        return "absolute";
      } else {
        return "absolute";
      }
    },
    returnInvisibility() {
      console.log("invisibility", this.visibility);
      return this.visibility;
    },
    followersStat() {
      if (this.currentArtist.ig_followers > this.currentArtist.tt_followers) {
        var divide =
          this.currentArtist.tt_followers / this.currentArtist.ig_followers;
        var multiply = divide * 100;
        console.log("followers rate: ", 100 - multiply);
        return 100 - multiply.toFixed(0);
      }
    },
    chunkedCityStats() {
      return chunk(this.audienceCities, 3);
    },
    chunkedAgeByMalesStats() {
      return chunk(this.audienceAgeMales, 3);
    },
  },
  watch: {
    openSearch: function (val) {
      console.log("open search function", val);
    },
    showForm: function (val) {
      if (val) {
        window.removeEventListener("scroll", this.handleDebouncedScroll);
      } else {
        this.handleDebouncedScroll = debounce(this.handleScroll, 300);
        window.addEventListener("scroll", this.handleDebouncedScroll);
      }
    },
    receivedArtist: function (val) {
      this.loadNewData(val);
    },
  },
  mounted() {
    this.awaitLoad();
    this.setRoute();
    this.loadCoreDataArtists();
    if (this.KolId === "GV3n812eV63N14p473nKv4n") {
      setTimeout(() => {
        this.openSearch = true;
      }, 400);
    }
  },
  created() {
    this.handleDebouncedScroll = debounce(this.handleScroll, 300);
    window.addEventListener("scroll", this.handleDebouncedScroll);
  },

  beforeDestroy() {
    // I switched the example from `destroyed` to `beforeDestroy`
    // to exercise your mind a bit. This lifecycle method works too.
    window.removeEventListener("scroll", this.handleDebouncedScroll);
  },
};
</script>

<style scoped>
.blur {
  filter: blur(1px);
}
.kolContainer {
  background: black;
}

.square {
  height: 5px;
  width: 50px;
  border-radius: 20px;
  background-color: rgb(132, 132, 132);
}

.statHeader {
  color: #2f2f2f;
}

.statSwitcher {
  color: #2c2c2c;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.statSwitcher.active {
  color: #efe600;
  background: #2f2f2f76;
  border-radius: 20px;
}
.followersText {
  margin-top: -30px;
}

hr {
  border-top: 1px solid rgba(164, 164, 164, 0.224);
  width: 80%;
}
</style>