<template>
  <div class="container-fluid">
    <!-- ----------------------- MODEL ----------------------- -->
    <div class="row marginSections">
      <!-- Gender -->
      <!-- <div class="col-12 marginComponent">
        <l-gender-picker
          :takenType.sync="modelGenderState"
          @update="modelGenderState"
        />
      </div> -->
      <!-- Models Circle Image User -->
      <div class="col-12">
        <l-user-image-circle
          :data.sync="modelDatas"
          :chosen.sync="displayedModel"
          :clicked.sync="modelClicked"
          :chosenName.sync="currentModelName"
          :chosenModelGender.sync="currentGender"
          :chosenShoes.sync="currentShoe"
          :chosenHeight.sync="currentHeight"
          :chosenWeight.sync="currentWeight"
          @update="
            displayedModel, modelClicked, currentModelName, currentGender, currentShoe, currentHeight, currentWeight
          "
          :alignment="'center'"
        />
      </div>
      <div class="col-12 d-flex justify-content-center">
        <p
          class="textBlack poppinsBoldXXLarge px-3"
          style="font-size: 10vh"
        >
          {{ currentModelName }} 
        </p>
      </div>
      <!-- Model Physique Datas -->
      <div class="col-12 d-flex justify-content-center marginComponent mb-5">
        <div class="col">
          <img :src="mHeight" alt="" height="100%" />
          <p class="poppinsRegularMed">Height: {{this.currentHeight}}</p>
        </div>
        <div class="col">
          <img :src="mWidth" alt="" height="100%" />
          <p class="poppinsRegularMed">Weight: {{this.currentWeight}}</p>
        </div>
        <div class="col">
          <img
            v-if="currentGender === 'Male'"
            :src="mMShoes"
            alt=""
            height="100%"
          />
          <img
            v-if="currentGender === 'Female'"
            :src="mFShoes"
            alt=""
            height="100%"
          />
          <p class="poppinsRegularMed">Footwear: {{this.currentShoe + "cm"}}</p>
        </div>
      </div>
      <div
        class="col-12 d-flex justify-content-center d-flex align-items-center marginComponent"
      >
        <button
          type="button"
          class="blackButton poppinsSemiBoldXXLarge"
          style="height: 100%"
          :class="{ smallButton: this.$screen.width < 500 }"
          @click="sendChat = true"
        >
          Book {{ currentModelName }}
        </button>
      </div>
      <!-- Modes -->
      <div class="col-12 d-flex justify-content-end mt-2">
        <span
          class="modeContainer"
          :class="{ active: isStacked }"
          @click="isStacked = true"
        >
          <img :src="modestacked" height="100%" alt="" />
        </span>
        <span
          class="modeContainer"
          :class="{ active: !isStacked }"
          @click="isStacked = false"
        >
          <img :src="modeslider" height="100%" alt="" />
        </span>
      </div>
      <!-- Models Images -->
      <div
        class="row container-fluid px-0 m-0"
        :style="{ minHeight: carouselmaxHeight }"
      >
        <transition name="push-y">
          <l-model-carousel
            v-if="showCarousel"
            :isStack.sync="isStacked"
            :imagesData.sync="modelCarouselImages"
            :carouselHeight.sync="carouselmaxHeight"
          ></l-model-carousel>
        </transition>
      </div>

      <div class="col-12">
        <div v-for="(model, index) in modelDatas" :key="index">
          <p
            class="poppinsSemiBoldMed px-2 marginComponent text-justify"
            style="color: #595959"
            v-if="model.userid === displayedModel"
          >
            {{ model.userdescription }}
          </p>
        </div>
      </div>
    </div>
    <!-- Send Wa -->
    <l-chat-whatsapp
      :sendWA.sync="sendChat"
      :name.sync="currentModelName"
      :messageType.sync="waMessageType"
      @update="sendChat"
    />
  </div>
</template>

<script>
// DB
import db from "../firebase/firabaseInit";
// Icons
import modelHeight from "../../assets/img/icons/model/height.svg";
import modelWidth from "../../assets/img/icons/model/width.svg";
import modelFShoes from "../../assets/img/icons/model/FShoes.svg";
import modelMShoes from "../../assets/img/icons/model/MShoes.svg";
import modeStacked from "../../assets/img/icons/model/stacked.svg";
import modeSlider from "../../assets/img/icons/model/slider.svg";
// Components
import LGenderPicker from "../libraries/LGenderPicker.vue";
import LModelCarousel from "../libraries/LModelCarousel.vue";
import LUserImageCircle from "../libraries/LUserImageCircle.vue";
import LChatWhatsapp from "../libraries/LChatWhatsapp.vue";
export default {
  components: {
    LGenderPicker,
    LModelCarousel,
    LUserImageCircle,
    LChatWhatsapp,
  },
  data() {
    return {
      waMessageType: "Book",
      ModId: this.$route.params.Mid,
      showCarousel: true,
      currentModelName: "",
      modelGenderState: "",
      displayedModel: "",
      currentGender: "",
      modelClicked: 0,
      modelGenderState: "",
      mHeight: modelHeight,
      mWidth: modelWidth,
      mFShoes: modelFShoes,
      mMShoes: modelMShoes,
      currentShoe: "",
      currentHeight: "",
      currentWeight: "",
      modelDatas: [],
      modelClicked: 0,
      modelCarouselImages: [],
      // Page Height Settings
      defaultFontSettings: [
        {
          buttonFont: 20,
          carouselmaxHeight: 746,
        },
      ],
      buttonFont: 20,
      carouselmaxHeight: 850,
      modestacked: modeStacked,
      modeslider: modeSlider,
      isStacked: true,
      //   Send Whatsapp Chat
      sendChat: false,
    };
  },
  methods: {
    // ---------------------------------------PAGE SETTINGS
    setRoute() {
      this.$store.dispatch("route/setCurrentRoute", this.$route.name);
      this.getPageSettings();
    },
    getPageSettings() {
      db.collection("settings")
        .doc("initialQueryState")
        .get()
        .then((doc) => {
          this.modelGenderState = doc.data().modelGenderState;
          this.voiceoverGenderState = doc.data().voiceoverGenderState;
          this.voiceoverMoodState = doc.data().voiceoverMoodState;
        });
    },
    // ScreenSizes
    getScreen() {
      const seventyPerc = 0.7;
      const sixtyPerc = 0.6;
      const fourtyPerc = 0.4;
      const twentyPerc = 0.2;
      const tenPerc = 0.1;
      if (this.returnScreenSize < 400) {
        console.log("screen less", this.returnScreenSize);
        var x = this.defaultFontSettings[0].buttonFont * tenPerc;
        var y = this.defaultFontSettings[0].carouselHeaderFont * 0.9;
        this.buttonFont = this.buttonFont - x;
        this.carouselmaxHeight = 200;
        console.log("carouselHeight", this.carouselmaxHeight);
        console.log(this.buttonFont);
        console.log("getScreenSize");
      }
      if (this.returnScreenSize < 500) {
        console.log("screen less", this.returnScreenSize);
        var x = this.defaultFontSettings[0].buttonFont * fourtyPerc;
        this.buttonFont = this.buttonFont - x;
        this.carouselmaxHeight = 250;
        console.log(this.buttonFont);
      }
    },
    // ---------------------------------------MODEL SETTINGS
    // Model methods
    // Check Params on entry
    checkParams() {
      if (this.ModId === "r05j4nxIxt1nwNtyF1ftN") {
        this.loadAllModels();
      } else {
        this.loadModels();
      }
    },
    loadAllModels() {
      db.collection("models")
        .orderBy("placement", "asc")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const data = {
              userid: doc.id,
              userplacement: doc.data().placement,
              userimage: doc.data().profileImage,
              username: doc.data().modelName,
              userstate: doc.data().state,
              userdescription: doc.data().modelDescription,
              usergender: doc.data().gender,
              usershoe: doc.data().shoes,
              userheight: doc.data().height,
              userweight: doc.data().weight,
            };
            console.log("names", data);
            this.modelDatas.push(data);
            console.log("modelDatas: ", this.modelDatas);
            if (doc.data().state === "active") {
              this.displayedModel = doc.id;
              this.currentModelName = doc.data().modelName;
              this.currentGender = doc.data().gender;
              this.currentShoe = doc.data().shoes;
              this.currentHeight = doc.data().height;
              this.currentWeight = doc.data().weight;
              this.getStateModel(doc.id, "initial");
              console.log("modelname: ", doc.data().modelName);
            }
          });
        });
    },
    loadModels() {
      db.collection("models")
        .orderBy("placement", "asc")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const data = {
              userid: doc.id,
              userplacement: doc.data().placement,
              userimage: doc.data().profileImage,
              username: doc.data().modelName,
              userstate: doc.data().state,
              userdescription: doc.data().modelDescription,
              usergender: doc.data().gender,
              usershoe: doc.data().shoes,
              userheight: doc.data().height,
              userweight: doc.data().weight,
            };
            console.log("names", data);
            this.modelDatas.push(data);
            console.log("modelDatas: ", this.modelDatas);
            if (doc.id === this.ModId) {
              this.displayedModel = this.ModId;
              this.currentModelName = doc.data().modelName;
              this.currentGender = doc.data().gender;
              this.currentShoe = doc.data().shoes;
              this.currentHeight = doc.data().height;
              this.currentWeight = doc.data().weight;
              this.getStateModel(this.ModId, "initial");
              console.log("modelname: ", doc.data().modelName);
            }
          });
        });
    },
    getStateModel(id, state) {
      if (state === "initial") {
        this.loadImagesModel(id);
      } else {
        this.modelCarouselImages = [];
        this.loadImagesModel(id);
      }
    },
    loadImagesModel(id) {
      db.collection("models")
        .doc(id)
        .collection("images")
        .orderBy("placement", "asc")
        .get()
        .then((query) => {
          query.forEach((doc) => {
            const images = {
              placement: doc.data().placement,
              modelImages: doc.data().image,
            };
            this.showCarousel = false;
            setTimeout(() => {
              this.showCarousel = true;
              this.modelCarouselImages.push(images);
              console.log(
                "modelCarouselImages load: ",
                this.modelCarouselImages
              );
            }, 400);
          });
        });
    },
    // END OF Model methods
  },
  mounted() {
    window.scrollTo(0, 0);
    this.setRoute();
    this.getScreen();
    this.checkParams();
  },
  computed: {
    returnScreenSize() {
      return this.$screen.width;
    },
  },
  watch: {
    modelGenderState: function (val) {
      console.log("state watchers", val);
    },
    modelClicked: function (val) {
      if (val === 1) {
        console.log("PARENT:model clicked watchers 1");
        this.modelClicked = 0;
        this.getStateModel(this.displayedModel, "");
      }
      if (val === 2) {
        console.log("PARENT:model clicked watchers 2");
        this.modelClicked = 0;
        this.getStateModel(this.displayedModel, "");
      }
    },
  },
};
</script>
<style scoped>
/* Trainsition */
.push-y-enter-active {
  transition: ease-in 0.5s;
}
.push-y-leave-active {
  transition: ease-out 0.5s;
}

.push-y-enter {
  transform: translateY(700px);
  opacity: 1;
}
.push-y-leave-to {
  transform: translatey(700px);
  opacity: 0;
}
.smallButton {
  width: 100%;
}

.largeDevicePhysique {
  width: 50%;
}

.modeContainer {
  height: 30px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
}
.active {
  background-color: rgba(121, 121, 121, 0.659);
}
.bottomClass {
  margin-bottom: 150px;
}
</style>