<template>
  <div
    class="container-fluid backgroundBlack marginBottom"
    :style="{ minHeight: this.$screen.height }"
  >
    <div class="row pt-5">
      <div class="col-6">
        <p
          class="textWhite text-left poppinsBoldXXLarge headerTitle"
          :style="{ fontSize: this.carouselHeaderFont + 'px' }"
        >
          Voice Over
        </p>
      </div>
      <div
        class="col-6 d-flex justify-content-end align-items-center"
        v-if="this.$screen.width > 500"
      >
        <div class="col-6 d-flex justify-content-end mt-5">
          <l-gender-picker
            :takenType.sync="voiceoverGenderState"
            :clicked.sync="voiceoverGenderClicked"
            @update="voiceoverGenderState, voiceoverGenderClicked"
          ></l-gender-picker>
        </div>
        <div class="col-6 d-flex justify-content-start">
          <l-drop
            :activeMood.sync="voiceoverMoodState"
            :clicked.sync="voiceoverMoodClicked"
            @update="voiceoverMoodState, voiceoverMoodClicked"
          ></l-drop>
        </div>
      </div>
    </div>

    <hr
      class="d-flex align-items-start"
      style="
        height: 1px;
        width: 80%;
        border-width: 0;
        border-radius: 10px;
        color: white;
        background-color: white;
        opacity: 0.1;
      "
    />
    <div class="col-12 mt-4">
      <l-user-image-circle
        :data.sync="artistDatas"
        :chosenName.sync="chosenArtistName"
        :chosen.sync="displayedVOArtist"
        :chosenImage.sync="displayedVOArtistImage"
        @update="
          displayedVOArtist,
            voiceoverClicked,
            displayedVOArtistImage,
            chosenArtistName
        "
        :clicked.sync="voiceoverClicked"
        :alignment="'center'"
      />
    </div>
    <transition name="push-y">
      <div v-if="voiceRetrieved">
        <div
          class="row mt-4"
          v-for="(sounds, index) in chunkedArtists"
          :key="index"
        >
          <div
            class="col-lg-4 col-sm-12 col-md-12"
            v-for="(sound, index) in sounds"
            :key="index"
          >
            <div class="card border-0 mt-2">
              <div class="card-body backgroundActive">
                <div class="row">
                  <div class="col-12 flex justify_center">
                    <l-fand-b-card v-if="sound.type === 'FoodBeverage'" />
                    <l-money-card v-if="sound.type === 'Business'" />
                    <l-island-card v-if="sound.type === 'Island'"/>
                  </div>
                </div>

                <div class="row">
                  <div
                    class="
                      col-12
                      flex
                      justify_center
                      textWhite
                      poppinsSemiBoldExtraLarge
                    "
                  >
                    <p>
                      {{ sound.name }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 flex justify_center">
                    <div class="px-3">
                      <l-play-button-inner
                        :retrieveSound.sync="sound.sound"
                        :playState.sync="buttonPlayState"
                        :currentSound.sync="currentSongInPlay"
                        :areWeMatching.sync="weAreMatched"
                        :BarPlayState.sync="barPlayState"
                        @update="
                          buttonPlayState, currentSongInPlay, weAreMatched
                        "
                      />
                    </div>
                    <div class="px-3">
                      <p
                        @click="sendChat = true"
                        class="
                          poppinsSemiBoldLarge
                          textWhite
                          pointer
                          collaborateButtonContainer
                        "
                      >
                        Collaborate +
                      </p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col d-flex justify-content-left">
                    <p class="poppinsRegularLarge textWhite text-left">
                      {{ sound.mood }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-left">
                    <p class="poppinsRegularLarge textWhite text-left">
                      {{ sound.desc }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <l-sound-bar-bottom
      v-show="showSoundBar"
      :isMatching.sync="weAreMatched"
      :currentSound.sync="currentSongInPlay"
      :ButtonPlayState.sync="buttonPlayState"
      :playState.sync="barPlayState"
      :artistImage.sync="displayedVOArtistImage"
      :listenFlush.sync="flushSounds"
      @update="barPlayState"
    />

    <l-chat-whatsapp
      :sendWA.sync="sendChat"
      :name.sync="chosenArtistName"
      :messageType.sync="waMessageType"
      @update="sendChat, chosenArtistName"
    />
  </div>
</template>

<script>
// External Components
// Others
import db from "../firebase/firabaseInit";

// Landing Images
import voiceoverDesignImage from "../../assets/img/landings/designedVO.svg";
// Libraries
import LGenderPicker from "./../libraries/LGenderPicker.vue";
import LDrop from "./../libraries/LDrop.vue";
import LUserImageCircle from "./../libraries/LUserImageCircle.vue";
import LModelCarousel from "./../libraries/LModelCarousel.vue";
import LKolPhoneHolder from "./../libraries/LKolPhoneHolder.vue";
import LFandBCard from "./../libraries/3dCards/LFandBCard.vue";
import LMoneyCard from "./../libraries/3dCards/LMoneyCard.vue";
import LPlayButtonInner from "./../libraries/LPlayButtonInner.vue";
import LSoundBarBottom from "../libraries/LSoundBarBottom.vue";
import LChatWhatsapp from "../libraries/LChatWhatsapp.vue";
import LIslandCard from "./../libraries/3dCards/LIslandCard.vue";
import chunk from "chunk";
export default {
  components: {
    LGenderPicker,
    LDrop,
    LUserImageCircle,
    LModelCarousel,
    LKolPhoneHolder,
    LChatWhatsapp,
    LFandBCard,
    LMoneyCard,
    LPlayButtonInner,
    LSoundBarBottom,
    LIslandCard
  },
  data() {
    return {
      waMessageType: "Book",
      ArtID: this.$route.params.Vid,
      routeReference: "gU1neVr3pR@m9cH13",
      voiceoverGenderState: "",
      voiceoverMoodState: "",
      displayedVOArtist: "",
      displayedVOArtistImage: "",
      chosenArtistName: "",
      voiceoverClicked: 0,
      voiceoverMoodClicked: false,
      voiceoverGenderClicked: false,
      voiceUnfound: false,
      voQuery: null,
      // Page Height Settings
      defaultFontSettings: [
        {
          buttonFont: 20,
          carouselHeaderFont: 100,
          carouselmaxHeight: 746,
        },
      ],
      buttonFont: 20,
      carouselHeaderFont: 100,
      carouselmaxHeight: 850,
      // Landings
      designedVO: voiceoverDesignImage,
      voiceRetrieved: false,
      isPlaying: false,
      // VoiceOver Datas
      artistDatas: [],
      soundDatas: [],
      chosenVoiceOverTrack: "",
      // playButtonProps
      buttonPlayState: false,
      barPlayState: false,
      currentSongInPlay: "",
      weAreMatched: false,
      flushSounds: false,
      sendChat: false,
      showSoundBar: false,
    };
  },
  methods: {
    setRoute() {
      this.$store.dispatch("route/setCurrentRoute", this.$route.name);
    },
    goToLink(name) {
      this.$router.push({ name: name, params: { Mid: this.displayedModel } });
    },
    // FirebasePageSettings
    getPageSettings() {
      db.collection("settings")
        .doc("initialQueryState")
        .get()
        .then((doc) => {
          this.voiceoverGenderState = doc.data().voiceoverGenderState;
          this.voiceoverMoodState = doc.data().voiceoverMoodState;
        });
    },
    // ScreenSizes
    getScreen() {
      const seventyPerc = 0.7;
      const sixtyPerc = 0.6;
      const fourtyPerc = 0.4;
      const twentyPerc = 0.2;
      const tenPerc = 0.1;
      if (this.returnScreenSize < 400) {
        console.log("screen less", this.returnScreenSize);
        var x = this.defaultFontSettings[0].buttonFont * tenPerc;
        var y = this.defaultFontSettings[0].carouselHeaderFont * 1;
        this.buttonFont = this.buttonFont - x;
        this.carouselHeaderFont = this.carouselHeaderFont - y;
        this.carouselmaxHeight = 200;
        console.log(this.buttonFont);
        console.log("getScreenSize");
      }
      if (this.returnScreenSize < 500) {
        console.log("screen less", this.returnScreenSize);
        var x = this.defaultFontSettings[0].buttonFont * fourtyPerc;
        var y = this.defaultFontSettings[0].carouselHeaderFont * 1.5;
        this.buttonFont = this.buttonFont - x;
        this.carouselmaxHeight = 250;
        this.carouselHeaderFont = this.carouselHeaderFont - y;
        console.log(this.buttonFont);
      }
    },

    // DOOOOOOOOOOOOO NOOOOOOOOOOOOOOOT FOOOOOOOOOOOORGEEEEEEEEEEEEEEEEETTTTTTTTTTT TO FIX THE BARS USING LOADING COMPONENTS IF YOU CAN
    // ---------------------------------------VOICE OVER SETTINGS
    initiateNewReference(gender, mood) {
      // EXPLANATION OF CODE
      // (code here runs when ever the user clicks on mood or gender)
      // VARIABLES:

      // -------------------RECEIVING PARAMS:-------------------
      // used for receiving the state of the operation
      // ******** GENDER: refers to the chosen gender that is initially placed or what the user clicked
      // ******** MOOD: refers to the chosen mood that is initially placed or what the user clicked

      // -------------------PASSING PARAMS:-------------------
      // used for passing the params of the operation
      // ***STATE:***
      // ***used for passing the state of the operation to the params of CREATENEWREFERENCE(STATE)
      // ******** INITIAL: used when ids are taken as whole from the voiceovers database without any query needed
      // ******** MOODREF: used when ids are taken from the moods database
      // ******** GENREF: similar to INITIAL, the only difference is that it querries the gender in the voice overs database
      // ***DOCID:***
      // ***used for passing the id of the result of the operation to the params of CREATENEWREFERENCE(STATE, DOCID)
      // ******** DOCID: used when ids are taken from the moods database
      // ******** NULL: if ids are not taken from the params
      // ***MOOD:***
      // ***used for passing the mood of the operation to the params of CREATENEWREFERENCE(STATE, DOCID, MOOD)
      // ******** MOOD: passes the current mood of the operation
      // ******** NULL: if mood is null/ equals to ALL
      // ***GENDER:***
      // ***used for passing the mood of the operation to the params of CREATENEWREFERENCE(STATE, DOCID, MOOD, GENDER)
      // ******** GENDER: passes the current gender of the operation
      // ******** NULL: if gender is null/ equals to ALL

      // -------------------FUNCTIONS:-------------------
      // 1. voiceunfound runs false first since all queries would first appear as available
      // 2. the node then checks the following conditions:
      // ->2A. IF BOTH GENDER AND MOOD === ALL:
      // -----> 1.EMPTY THE VOICE OVER DATAS
      // -----> 2.RELOAD THE VOICE OVER STREAM
      // -----> 3.NODE RUNS CREATENEWREFERENCE(INITIAL, NULL, NULL, NULL)
      // --------> node manually creates a state of INITIAL.
      // --------> node nullifies docid to NULL. since no data was searched in this operation / equals to ALL
      // --------> node nullifies mood to NULL. since no mood was selected in this operation / equals to ALL
      // --------> node nullifies mood to GENDER. since no gender was selected in this operation / equals to ALL

      // ->2B. IF GENDER !== ALL AND MOOD === ALL:
      // -----> 1.since no data will be taken from the MOOD REFERENCE in the database the node then passes the query.
      // -----> 3.NODE RUNS CREATESNEWREFERENCE(GENREF, NULL, NULL, GENDER):
      // --------> node manually creates a state of GENREF.
      // --------> node nullifies docid to NULL. Even if gender is equals to a value, the node can never refer to the MOODREFERENCE since no data
      // ---------->  is given there. We can only refer to the VOICEOVERREFERENCE database
      // --------> node nullifies mood to NULL. since no mood was selected in this operation / equals to ALL
      // --------> node then pass the selected GENDER

      // ->2C. IF GENDER === ALL AND MOOD !== ALL:
      // -----> 1.the node then points to the MOOD REFERENCE in the Database regardless of its sex/gender.
      // -----> 2.the node then gets the DOCID from number 1
      // -----> 3.NODE RUNS CREATESNEWREFERENCE(MOODREF, DOCID, MOOD, NULL):
      // --------> node manually creates the state of MOODREF since ids are taken from moods database
      // --------> node then gets the DOCID from number 1
      // --------> node then passes the MOOD
      // --------> node nullifies mood to GENDER. since gender has been received on the MOODREFERENCE.

      // ->2D. IF GENDER !== ALL AND MOOD !== ALL:
      // -----> 1.the node then points to the MOOD REFERENCE in the Database with the given sex and gender.
      // -----> 2.the node then gets the DOCID from number 1
      // -----> 3.NODE RUNS CREATESNEWREFERENCE(MOODREF, DOCID, MOOD):
      // --------> node manually creates the state of MOODREF since ids are taken from moods database
      // --------> node then gets the DOCID from number 1
      // --------> node then passes the MOOD
      // --------> node nullifies mood to GENDER. since gender has been received on the MOODREFERENCE.

      // END OF DOC

      const initial = "initial";
      const moodref = "moodref";
      const genref = "genref";
      this.voiceUnfound = false;
      console.log("vosmood gender mood: ", mood);
      console.log("vosmood gender: ", gender);
      const MOODREFERENCE = db
        .collection("settings")
        .doc("VoiceOverArtistStates")
        .collection(mood);

      // 2A. IF BOTH GENDER AND MOOD === ALL:
      // STATE: INITIAL | DOCID: NULL | MOOD: NULL | GENDER: NULL
      if (gender === "All" && mood === "All") {
        console.log(
          "1. vosmood gender unchanged moood unchanged",
          gender + " " + mood
        );
        this.createNewReference(initial, null, null, null);
      }

      // 2B. IF GENDER !== ALL AND MOOD === ALL:
      // STATE: GENREF | DOCID: NULL | MOOD: NULL
      if (gender !== "All" && mood === "All") {
        console.log(
          "3. vosmood gender changed moood unchanged",
          gender + " " + mood
        );
        this.createNewReference(genref, null, null, gender);
      }

      // 2C. IF GENDER === ALL AND MOOD !== ALL:
      // STATE: MOODREF | DOCID: DOCID | MOOD: MOOD
      if (gender === "All" && mood !== "All") {
        console.log(
          "2. vosmood gender unchanged moood unchanged",
          gender + " " + mood
        );
        MOODREFERENCE.get().then((snapshot) => {
          if (!snapshot.empty) {
            console.log("2. vosmood snapshot exists");
            snapshot.forEach((doc) => {
              const docid = doc.id;
              console.log("list of moods id: ", docid);
              this.createNewReference(moodref, docid, mood, null);
            });
          } else {
            this.voiceUnfound = true;
            this.voiceOverReload();
          }
        });
      }

      // 2D. IF GENDER !== ALL AND MOOD !== ALL:
      // STATE: MOODREF | DOCID: DOCID | MOOD: MOOD
      if (gender !== "All" && mood !== "All") {
        console.log(
          "4. vosmood gender changed moood changed",
          gender + " " + mood
        );
        MOODREFERENCE.where("gender", "==", gender)
          .get()
          .then((snapshot) => {
            if (!snapshot.empty) {
              console.log("4. vosmood snapshot exists");
              snapshot.forEach((doc) => {
                const docid = doc.id;
                console.log("list of moods id: ", docid);
                this.createNewReference(moodref, docid, mood, null);
              });
            } else {
              this.voiceUnfound = true;
              this.voiceOverReload();
            }
          });
      }
    },

    async createNewReference(state, docid, mood, gender) {
      const mounted = "mounted";
      const initial = "initial";
      const genref = "genref";
      const moodref = "moodref";
      if (state === initial || state === mounted) {
        console.log("create new reference state: ", state);
        this.artistDatas = [];
        this.voiceOverReload(state);
        this.voQuery = db.collection("voiceovers").orderBy("placement", "asc");
        this.loadVoiceOverArtists(state);
      }
      if (state === genref) {
        this.artistDatas = [];
        this.voiceOverReload(state);
        this.voQuery = db
          .collection("voiceovers")
          .where("gender", "==", gender);
        this.loadVoiceOverArtists(state);
      }
      if (state === moodref) {
        this.artistDatas = [];
        this.voiceOverReload(state);
        this.voQuery = db.collection("voiceovers").doc(docid);
        this.loadVoiceOverArtists(state, mood);
      }

      // console.log("vosmood render docid: ", docid);
      // console.log("vosmood render mood: ", mood);
      // this.artistDatas = [];
      // this.voQuery = db.collection("voiceovers").doc(docid);
    },

    async loadVoiceOverArtists(state, mood) {
      const mounted = "mounted";
      const initial = "initial";
      const genref = "genref";
      const moodref = "moodref";
      const self = this;
      if (state === initial || state === genref || state === mounted) {
        console.log("vosmood load artist: ", state);
        console.log("vosmood starting get", this.voQuery);
        await this.voQuery.get().then((query) => {
          console.log("vodatas query", this.voQuery);
          query.forEach((doc) => {
            const data = {
              userid: doc.id,
              userplacement: doc.data().placement,
              userimage: doc.data().profileImage,
              username: doc.data().artistName,
              userstate: doc.data().state,
            };
            self.artistDatas.push(data);
            console.log("the vodatas: ", self.artistDatas);
            console.log("the id: ", doc.id);
          });
        });

        this.getVOID(state);
      }
      if (state === moodref) {
        console.log("vosmood load artist not initial: ", state);
        console.log("vosmood starting get", this.voQuery);
        await this.voQuery.get().then((doc) => {
          console.log("vodatas query", this.voQuery);
          const data = {
            userid: doc.id,
            userplacement: doc.data().placement,
            userimage: doc.data().profileImage,
            username: doc.data().artistName,
            userstate: doc.data().state,
          };
          self.artistDatas.push(data);
          console.log("the vodatas: ", self.artistDatas);
          console.log("the id: ", doc.id);

          // if initial()
        });
        console.log("before voDatas length: ", this.artistDatas.length);
        if (this.artistDatas.length < 2) {
          this.getVOID(state, mood);
        }
      }
    },
    getVOID(state, mood) {
      const self = this;
      console.log("vodatas logging vo: ", this.artistDatas);
      const arrayid = this.artistDatas[0].userid;
      const arrayimage = this.artistDatas[0].userimage;
      const arrayname = this.artistDatas[0].username;
      console.log("vodatas arrayid: ", arrayid);
      if (this.ArtID !== this.routeReference) {
        this.displayedVOArtist = this.ArtID;
        this.getStateVO(this.ArtID, state, mood);
        for (let i = 0; i < this.artistDatas.length; i++) {
          var data = self.artistDatas[i];
          var exists = data.hasOwnProperty("userid");
          if (exists) {
            if (data.userid === self.displayedVOArtist) {
              self.chosenArtistName = data.username;
            }
          }
        }
      } else {
        this.displayedVOArtist = arrayid;
        this.displayedVOArtistImage = arrayimage;
        this.chosenArtistName = arrayname;
        this.getStateVO(this.displayedVOArtist, state, mood);
      }
    },
    getStateVO(id, state, mood) {
      if (state === "initial") {
        this.loadVoiceAlbum(id);
      } else {
        this.voiceOverReload();
        this.loadVoiceAlbum(id, mood);
      }
    },
    voiceOverReload(state) {
      if (state !== "mounted") {
        this.soundDatas = [];
        this.voiceRetrieved = false;
        this.chosenVoiceOverTrack = "";
      }
    },
    async loadVoiceAlbum(id, mood) {
      console.log("load voice album mood: ", mood);

      if (mood !== undefined && mood !== "All") {
        console.log("load voice album mood if: ", mood);
        await db
          .collection("voiceovers")
          .doc(id)
          .collection("sounds")
          .where("mood", "==", mood)
          .get()
          .then((query) => {
            query.forEach((doc) => {
              const x = {
                name: doc.data().soundName,
                sound: doc.data().sound,
                desc: doc.data().soundDescription,
                type: doc.data().type,
                mood: doc.data().mood,
              };
              this.soundDatas.push(x);
              console.log("soundDatas: ", x);
            });
          });
        this.buttonPlayState = false;
        this.barPlayState = false;
        this.weAreMatched = false;
        this.voiceRetrieved = true;
        setTimeout(() => {
          this.currentSongInPlay = "";
        }, 700);
      } else {
        console.log("load voice album mood else: ", mood);
        await db
          .collection("voiceovers")
          .doc(id)
          .collection("sounds")
          .orderBy("placement", "asc")
          .get()
          .then((query) => {
            query.forEach((doc) => {
              const x = {
                name: doc.data().soundName,
                sound: doc.data().sound,
                desc: doc.data().soundDescription,
                type: doc.data().type,
                mood: doc.data().mood,
              };
              this.soundDatas.push(x);
              console.log("soundDatas: ", x);
            });
          });
        this.buttonPlayState = false;
        this.barPlayState = false;
        this.weAreMatched = false;
        this.voiceRetrieved = true;
        setTimeout(() => {
          this.currentSongInPlay = "";
        }, 700);
      }
    },
    initiateFlush() {
      this.flushSounds = true;
      this.buttonPlayState = false;
      this.barPlayState = false;
      this.currentSongInPlay = "";
      this.weAreMatched = false;
    },
  },
  mounted() {
    window.scrollTo(0, 0);
    this.getPageSettings();
    this.setRoute();
    this.getScreen();
    this.createNewReference("mounted", null, null, null);
  },
  computed: {
    returnSoundDatasLength() {
      return this.soundDatas.length;
    },
    chunkedArtists() {
      return chunk(this.soundDatas, 4);
    },
  },

  watch: {
    voiceoverClicked: function (val) {
      if (val === 1) {
        this.voiceoverClicked = 0;
        console.log("voice clicked load voice State", this.voiceoverMoodState);
        console.log("vostateclick: ", this.displayedVOArtist);
        this.getStateVO(this.displayedVOArtist, "", this.voiceoverMoodState);
      }
      if (val === 2) {
        this.voiceoverClicked = 0;
        console.log("voice clicked load voice State", this.voiceoverMoodState);
        console.log("vostateclick: ", this.displayedVOArtist);
        this.getStateVO(this.displayedVOArtist, "", this.voiceoverMoodState);
      }
    },
    voiceoverMoodClicked: function (val) {
      console.log("moodclicked watchers");
      if (val) {
        this.voiceoverMoodClicked = false;
        this.initiateNewReference(
          this.voiceoverGenderState,
          this.voiceoverMoodState
        );
      }
    },
    voiceoverGenderClicked: function (val) {
      if (val) {
        this.voiceoverGenderClicked = false;
        console.log("vosmood voice over gender state");
        this.initiateNewReference(
          this.voiceoverGenderState,
          this.voiceoverMoodState
        );
      }
    },
    barPlayState: function (val) {
      console.log("BAR:bar says watchMe! ", val);
      console.log("BAR:button says watchMe! ", this.buttonPlayState);
    },
    buttonPlayState: function (val) {
      console.log("BUTTON:button says watchMe! ", val);
      console.log("BUTTON:bar says watchMe! ", this.barPlayState);
      this.showSoundBar = this.buttonPlayState;
    },
    displayedVOArtistImage: function (val) {
      console.log("artist image", val);
    },
  },
  async beforeRouteLeave(to, from, next) {
    await this.initiateFlush();
    next();
  },
};
</script>

<style scoped>
.headerTitle {
  line-height: 60%;
}
.backgroundActive {
  background: #202020;
  min-height: 200px;
}
.collaborateButtonContainer {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.775);
  padding: 10px;
}
.marginBottom {
  padding-bottom: 150px;
}

/* Transition */
.push-y-enter-active {
  transition: ease-in 0.5s;
}
.push-y-leave-active {
  transition: ease-out 0.5s;
}

.push-y-enter {
  transform: translatey(700px);
  opacity: 1;
}
.push-y-leave-to {
  transform: translatey(700px);
  opacity: 0;
}
</style>