<template>
  <div id="app">
    <div class="container-fluid">
      <l-top-nav-bar v-if="!disableTopNav" />
    </div>
    <div>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
    <l-bottom-nav-bar v-if="!disableBottomNav" />
  </div>
</template>

<script>
// import topbarcomponent from "./components/TopBarComponent";
// import cameraicon from "./assets/img/icons/camera.svg";

import tagline from "./assets/tagline.png";
import mainIcon from "./assets/icon.svg";
import { mapGetters } from "vuex";
import LTopNavBar from "./components/libraries/LTopNavBar";
import LBottomNavBar from "./components/libraries/LBottomNavBar";
export default {
  name: "App",
  components: {
    // topbarcomponent,
    LTopNavBar,

    LBottomNavBar,
  },
  data() {
    return {
      mainicon: mainIcon,
      routeName: "home",
      tLine: tagline,
      paths: [
        {
          thePath: "/model",
          theText: "Models",
        },

        // Get this back if everything is fixed

        // {
        //   thePath: "/ChosenModel",
        //   theIcon: cameraicon,
        // },

        // {
        //   thePath: "/Actor",
        //   theText: "Actor",
        // },
        {
          thePath: "/Career",
          theText: "Career",
        },
        {
          thePath: "/Voiceover",
          theText: "V.O.",
        },
        {
          thePath: "/KOL",
          theText: "K.O.L.",
        },
      ],
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },

  methods: {
    handleScroll() {
      this.$store.dispatch("setCurrentScrollY", window.scrollY);
    },
    readCurrRoute() {
      console.log("current Route: ", this.fetchcurrentRouteName);
    },
  },

  computed: {
    ...mapGetters(["route/currentRoute"]),
    fetchcurrentRouteName() {
      return this["route/currentRoute"];
    },
    disableTopNav() {
      if (this.fetchcurrentRouteName === "affirmative") {
        return true;
      } else {
        return false;
      }
    },
    disableBottomNav() {
      if (
        this.fetchcurrentRouteName === "affirmative" ||
        this.fetchcurrentRouteName === "career" ||
        this.fetchcurrentRouteName === "VO Application" ||
        this.fetchcurrentRouteName === "KOL Application" ||
        this.fetchcurrentRouteName === "Model Application" ||
        this.fetchcurrentRouteName === "about" 
      ) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
#rightNav {
  a {
    color: gray;
    &.router-link-exact-active {
      color: black;
    }
  }
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease;
}
</style>