<template>
  <div class="backgroundWhite container-fluid animationContainer">
    <div class="row justify-content-center p-0 m-0">
      <lottie-player
        v-show="returnSendingStatus"
        src="https://assets4.lottiefiles.com/packages/lf20_kSEzVx/Email.json"
        background="transparent"
        speed="1"
        :style="{ width: width + '%', height: 'auto' }"
        loop
        autoplay
      ></lottie-player>
      <lottie-player
        v-show="!returnSendingStatus"
        src="https://assets1.lottiefiles.com/packages/lf20_2uCbxV/Tick.json"
        background="transparent"
        speed="1"
        :style="{ width: width + '%', height: 'auto' }"
        loop
        autoplay
      ></lottie-player>
    </div>
    <div class="row justify-content-center p-0 m-0">
      <p class="textBlack poppinsRegularMed" v-if="returnSendingStatus">
        Please wait while we wrap up your data...
      </p>
      <p class="textBlack poppinsRegularMed" v-if="!returnSendingStatus">
        Application Sent! We will soon get in touch with you. Thank you for
        taking your time.
      </p>
    </div>
    <div class="row justify-content-center p-0 m-0"></div>
    <button
      v-if="!returnSendingStatus"
      class="blackButton"
      :style="{ width: width + '%' }"
      @click="goToLink()"
    >
      To Careers
    </button>
  </div>
</template>

<script>
export default {
  props: {
    isSending: {
      type: Boolean,
    },
    backRoute: {
      type: String,
    },
  },
  data() {
    return {
      width: 50,
    };
  },
  methods: {
    setWidth() {
      if (this.$screen.width < 700) {
        this.width = 100;
      } else {
        this.width = 50;
      }
    },
    goToLink() {
      this.$router.push(this.returnBackRoute);
    },
  },
  computed: {
    returnSendingStatus() {
      return this.isSending;
    },
    returnBackRoute() {
      return this.backRoute;
    },
  },
  mounted() {
    this.setWidth();
  },
};
</script>

<style scoped>
</style>